[2019-03-07 17:12] LegNeato commented on #328
I love the idea of QueryTrails btw

[2019-03-07 18:29] theduke commented on #328
After some thought, I do think it makes sense to be inclusive here and support all the possibilities outlined by LegNeato.

While I personally I am not a big fan of the Schema -> Rust workflow, I think many find it easier to work with. Also, as @davidpdrsn mentioned, sometimes you have the schema as the source of truth and implement both clients and servers based on that schema, or a subset of a s

[2019-03-08 21:47] theduke commented on #332
This is fixed in #330 which is tracked by #309 so I guess we can close this.

[2019-03-08 21:48] #332 closed

[2019-03-10 17:43] jgillich commented on #321
I managed to implement this nicely using [strum](https://docs.rs/strum/0.14.0/strum/).

[code]

[2019-03-11 19:01] LucasPickering commented on #143
@mrceperka Did you find a solution for this? I'm trying to do the exact same thing (pass cookies into the context with Rocket) and ran into the same issue.

[2019-03-11 21:13] mrceperka commented on #143
Nope I did not. I've continued without cookies... (cos I just wanted to do something and I did not want to be stuck on this cookie thing :D) But one day, I will have to fix it anyways.

[2019-03-11 21:54] thedodd commented on #2
@theduke yea, I would imagine that cloning an `Arc` would be more performant than cloning the query AST or subsections thereof (could be wrong on that though).

Agreed on the boxing issue.

Do you mind expounding a bit on `"possibly restricting the concurrency for certain fields"`?

As far as tokio runtime tuning, using `blocking` and such, I do have a few thoughts for discussion:
- I don't know i

[2019-03-13 21:31] tomhoule commented on #328
From the perspective of graphql_client, ingesting the GraphQL AST or the introspected schema in JSON form is about 100 lines each, so adding new sources is not a problem. The only obstacle to doing so now is that the schema and query representation juniper uses are private (this may have changed since I checked).

The internal representations (what the ASTs are converted to) for schema and query i

[2019-03-18 04:03] peitalin opened #334 "A way to add descriptions to arguments"
**Is your feature request related to a problem? Please describe.**
Is there a way to add descriptions for arguments?

**Describe the solution you'd like**
A way to add descriptions to arguments, something like this in the `graphql_object!` macro:
[code]
Or:
[code]
Which is used in the resolver as:
[code]

**Describe alternatives you've considered**
I have looked into `#[derive(GraphQLInputObject)]

[2019-03-18 05:50] peitalin commented on #334
I just realised you can do this with doc strings:
[code]

[2019-03-18 05:50] #334 closed

[2019-03-22 20:13] tjkirch commented on #250
Is there a way to make this work for input object fields as well, a la https://github.com/facebook/graphql/pull/525?

[2019-03-22 20:18] LegNeato commented on #250
Doesn't look like it is currently supported as it isn't in the spec. Feel free to file an enhancement (or a PR!)

[2019-03-23 15:34] #309 closed

[2019-03-24 00:18] xtian commented on #137
@PieerotGG What was your solution to this? I am running into the same thing.

[2019-03-24 23:11] LegNeato commented on #329
Do we want to reserve the trait for future extensibility? If we remove the requirement and later need it for implementation specifics, it would be a breaking change.

[2019-03-30 12:20] davidpdrsn opened #335 "Panic when using look ahead from fragment with nested type"
**Describe the bug**
Given the schema

[code]

The following query using a fragment panics if you call `executor.look_ahead()` in the `Country` resolver:

[code]

The panic happens here <https://github.com/graphql-rust/juniper/blob/master/juniper/src/executor/look_ahead.rs#L272>.

The failure message is

[code]

If you run the query without the fragment it works fine

[code]

**To Reproduce**
I ha

[2019-03-31 08:51] theduke commented on #335
The look ahead code currently doesn't handle a look ahead inside a fragment.

Should be a relatively easy fix.

[2019-03-31 11:13] davidpdrsn commented on #329
@LegNeato what sort of future extensibility are you thinking of? I imagine adding methods to the trait would also be breaking change.

I'm also in favour of deprecating it.

[2019-04-01 23:49] kestred opened #336 "Question / Support Request: Does juniper support defining the `ofType` for scalars?"
Just the question in the subject line... but to restate it:

[2019-04-02 00:44] LegNeato commented on #336
Not sure, but possibly via the custom representation support we have. Can you explain more why and maybe I can answer definitively?

[2019-04-02 00:50] kestred commented on #336
Apologies... I tricked myself into thinking one of the graphql spec RFCs had already merged (https://github.com/graphql/graphql-spec/pull/521/files).

Not an issue unless it gets approved 😅 .

Thanks for the followup 🙏 !

[2019-04-02 00:50] #336 closed

[2019-04-04 07:11] #307 closed

[2019-04-04 14:14] LegNeato commented on #335
Thanks for the detailed bug report!

I'm a bit swamped but hope to take a look at this soon if someone doesn't get to it beforehand.

[2019-04-06 17:52] #335 closed

[2019-04-06 21:25] mwilliammyers opened #339 "Access the JSON request body before the GraphQL engine does"
**Is your feature request related to a problem? Please describe.**
(only tested using the `juniper_warp` integration)

Currently every time I try to read the JSON body of the request before Juniper does (via a `warp::body::json()` anywhere in the filters chain), I get an error like :
[code]

**Describe the solution you'd like**
I would love to be able to dynamically handle the request body in my `

[2019-04-08 14:04] davidpdrsn commented on #335
The fix works perfectly! Any chance you're doing a point release soon? 🤞

[2019-04-08 15:26] LegNeato commented on #335
Glad to hear it! I'm planning to do a release later this week.

[2019-04-08 15:27] LegNeato opened #340 "Create a new release"
It's about time to push out a new release. I want to automate a bit more of the process as well.

We probably need the book updating working too.

[2019-04-08 15:40] theduke commented on #340
We have some breaking changes merged into master but I think they are so small that they don't really merit a version bump yet.

We should probably cherry-pick the non-breaking stuff into a `0.11` branch and release from there.

[2019-04-08 15:42] theduke commented on #340
Well, actually, https://github.com/graphql-rust/juniper/pull/312 is really minor and `ScalarValue` is still there, only deprecated, so master should be fine.

[2019-04-09 17:08] theduke commented on #138
Some progress: https://github.com/graphql-rust/graphql-parser/pull/19

[2019-04-10 01:04] theduke opened #343 "Fix up the book building on CI"
Need to do two things:

* Make the automatic build/push work for both master and for release tags

* Enable the `linkcheck` "plugin" for mdbook
  This is a bit awkward because it has no binary release, so we'd need to `cargo install` it, which   also requires `cargo install` for `mdbook` itself due to version incompatabilities. (there is no binary release for mdbook `0.2.3`

  So we might want to

[2019-04-16 05:08] LegNeato commented on #343
I assume we are using https://developer.github.com/v3/guides/managing-deploy-keys/#machine-users ?

[2019-04-16 06:40] theduke commented on #343
No, a deploy key: https://github.com/graphql-rust/juniper/settings/keys

The thing I got stuck on was just the Pipelines task to install the key.
It wouldn't recognize the secret variables no matter what I did.

[2019-04-16 15:41] LegNeato commented on #343
Ah, ok. I'll maybe poke at it tonight

[2019-04-17 05:15] LegNeato commented on #343
Ok, got `master` push working: https://graphql-rust.github.io/juniper/master/

[2019-04-24 15:44] jkoudys commented on #2
Futures just stabilized in 1.36 - https://github.com/rust-lang/rust/pull/59739 (as 0.3)

Are we confident we now have an API to start building out juniper resolvers as Futures?

[2019-04-24 15:55] thedodd commented on #2
@jkoudys & @theduke looks like with the 1.36 stabilization & the fact that tokio has interop and a strong compatibility layer between Futures 01 and std futures, now might be a great time.

[2019-04-25 07:02] theduke commented on #2
I don't think `await` will be all that useful for the code in Juniper itself, since we will mostly be dealing with joins and a few manually written futures, so I think it's fine to go ahead now.

The big questions we need to answer are:

### the `FieldResult` type

We certainly want to allow a mix of async and non async resolvers. EG it makes no sense to resolve fields that are just a struct field

[2019-04-25 07:34] tomhoule commented on #2
The threadpool part could be hard to abstract, so it would make sense to leave setting up the runtime and handling blocking tasks to users of the library in my opinion. For example the tokio threadpool handles blocking tasks differently from most others (the [blocking](https://docs.rs/tokio-threadpool/0.1.14/tokio_threadpool/fn.blocking.html) function).

[2019-04-25 17:39] WillSquire commented on #132
Isn't `Context` usually passed into Rocket's managed state? E.g:

[code]

Unless I'm missing something here, wouldn't this set authentication state globally instead of ["Request-Local"](https://rocket.rs/guide/state/#request-local-state)? If anyone is reading this, this is definitely something one would **NOT** want to do

[2019-04-25 18:43] theduke commented on #132
`Context` was refering to juniper's context, which can be constructed for each query, not rockets `State` feature.

[2019-04-25 18:45] thedodd commented on #2
@theduke & @tomhoule yea, I definitely agree. As long as their blocking/background threadpool operation returns a future, then we should be good. We shouldn't have to do anything else to handle it.

As far as **Concurrency Limits:**
- on one hand I'm tempted to say that we should allow users to horizontally scale out their instances as they need to on their own. Allow them to load balance traffic

[2019-04-25 20:40] dsilvasc commented on #2
For concurrency limits, does juniper already batch requests within a query?  If not, it might be useful to see how the Sangria graphql server does it with what they call deferred values, deferred resolvers, and fetchers:

https://sangria-graphql.org/learn/#deferred-value-resolution
https://sangria-graphql.org/learn/#high-level-fetch-api

[2019-04-26 18:20] jkoudys commented on #2
I'm all for limiting the number of DB + network queries it could fire off, but is it really juniper's job to worry about this? If I'm making DB queries, then I have a DB connection pool that my resolver functions will query from. I could limit that size, which means that those 300 DB requests will wait on the pool, so while I have 300 requests I could still only have 10 or so active DB connections

[2019-04-28 04:14] LegNeato commented on #2
Relevant: https://www.reddit.com/r/rust/comments/bi2puk/help_rate_limiting_in_async_rust_and_tokio/

[2019-04-28 10:15] theduke commented on #2
We definitely need a efficient way of dealing with sync results like a simple field access.

Just consider a list query that returns 100 items and gets 10 fields for each item. Most objects will have mixed sync and aynsc resolvers (eg a `BlogPost` with a bunch of sync fields and a `author` async field).

A naive approach would mean that for each post, we need to join over the 10 fields, which mean

[2019-04-28 10:27] WillSquire commented on #143
I'm doing something like this which compiles:

[code]

But crashes horribly when handling the request through Rocket (although it could be down to Rocket's `State` for me, I've got a question here regarding: https://stackoverflow.com/questions/55884872/rockets-state-errors-with-attempted-to-retrieve-unmanaged-state-when-using-an)

[2019-04-28 20:42] neoeinstein commented on #2
One thing to consider is the path of another project: `actix-web`. They are preparing for their 1.0 release, and have actually removed their internal `Async` enum, going with a futures-first interface and using generics to differentiate between the sync and async cases. Going with an enumeration means that _every_ field access incurs the cost of branch during runtime for _every_ request, regardles

[2019-04-29 06:59] theduke commented on #2
@neoeinstein the problem for GraphQL are the object level resolvers. They need to resolve each field and return the aggregated response. Returning `impl Future` doesn't help there, you still have to put all individual field futures into a Vec of boxed trait objects and call `join_all` on them, which means dynamic dispatch etc.

Now like I said this can be prevented by manually polling the future t

[2019-05-01 18:42] jkoudys commented on #2
@neoeinstein The `actix-web` is exactly the approach I was imagining. `impl Future` has really cleaned out a lot of cases where `Box`ing was necessary, and is doubly good because of the sync case with `Result`s you describe.

I'll always want rate-limiting, but I have a hard time thinking of a case when I'd want my graphql lib to be the one doing it. Often I'll have resolvers that query psql, redi

[2019-05-01 19:21] thedodd commented on #2
So, it sounds like folks are pretty on-board with the `impl Future` pattern, and given that 03 futures don't require an error value to be present, just an `Output` which could be whatever, we have a few nice patterns that we could try out. Perhaps something like the following would be nice.

**First from a Juniper user's perspective:**
- Resolvers may return all of the standard scalar values which

[2019-05-02 12:01] davidpdrsn opened #347 "Panic when using look ahead together nullable variables"
**Describe the bug**
If you have a query with a nullable variable, and the resolver calls `executor.look_ahead()` then you get a panic if you don't set the variable at all. However if you set the variable to `null` it doesn't panic 🤔

**To Reproduce**
Steps to reproduce the behavior: Download https://github.com/davidpdrsn/juniper-variable-bug and run `cargo test`.

**Expected behavior**
I imagine

[2019-05-02 16:30] #347 closed

[2019-05-02 20:04] davidpdrsn commented on #347
Thanks for fixing it so quickly :)

[2019-05-02 22:10] D1plo1d commented on #54
Any updates on this? Would the asynchronous changes needed for subscription support be able to be reused in moving us towards `@live` directive support as well?

[2019-05-03 14:23] thedodd commented on #149
Sounds like we can probably go ahead and close this issue now?

[2019-05-03 14:27] #149 closed

[2019-05-07 11:50] theduke commented on #316
As a historical point of reference: the additional `where Scalar = <S>` is required now because the the custom derives were changed to be generic over the scalar type, but without the `where Scalar = <S>` the macros would default to `DefaultScalarValue` and would not accept a generic one.

[2019-05-07 11:50] #316 closed

[2019-05-07 12:56] theduke commented on #315
As mentioned in the other issue, the reason why `where Scalar = <S>` became mandatory was a change to the custom derives to be mostly generic over the scalar by default.

I think this is reasonable and we can leave it this way.

[2019-05-07 12:56] #315 closed

[2019-05-07 12:58] theduke commented on #201
I think the current behaviour is fine and this is a pretty edge use case.

renaming fields is a relatively small manual step if you really need it.

[2019-05-07 12:58] #201 closed

[2019-05-08 04:34] japrogramer commented on #54
The asynchronous syntax for rust is about to be locked down, final proposal
https://boats.gitlab.io/blog/post/await-decision/

[2019-05-10 18:12] andy128k commented on #172
Specification clearly states "An Object type must define one or more fields."

[2019-05-12 06:53] LegNeato commented on #340
I landed changes to release automation. I think we want https://github.com/graphql-rust/juniper/pull/353 and then we can do a release. We should do a minor (not patch) version bump as we increased the minimum rust version.

[2019-05-12 08:29] theduke commented on #340
If we are doing a minor now we should definitely also include #333  since it provide a significant usability increase.

It does bump rust requirement to 1.33 but I think that's fine for a evolving library.

[2019-05-12 15:46] LegNeato commented on #340
Hmmm, that is a huge change. I'd prefer to do a release with current state and then land that, have it sit in master for a bit, and then cut another one.

[2019-05-12 16:11] theduke commented on #340
It's a big change but not a user visible one right away since everyone will still be on the old macro. Also I've converted one large and two smallish projects and all works fine.

[2019-05-14 11:39] JeanMertz commented on #320
I ran into this issue while researching a problem I was facing.

I'm not a fan of using too many macro's in my code-base (for a lack of clarity, and usually a lack of informative compiler error messages), so I wanted to implement `GraphQLType` myself.

The documentation states "Manually deriving an object is straightforward but tedious".

I ran into an issue where I wanted to manually derive a `Fi

[2019-05-14 13:48] theduke commented on #320
As @LegNeato said, having a field with a `FieldResult<T>` type does not make any sense, since `FieldResult` does not exist as a type for GraphQL, it is just a way of expressing if a field succeeded or failed to resolve.

The proper way is to have the field type as `Option<T>` and return a `FieldResult<Option<T>>` from from the resolver, or manually return the error if you are implementing it yours

[2019-05-14 13:59] theduke commented on #320
@JeanMertz if you are manually implementing `resolve_field` anyway, you can just return the `ExecutionError` in case the execution fails, no?

[2019-05-14 16:34] JeanMertz commented on #320
Ah thanks @theduke, that's great, and it works flawlessly, thank you for this 👍

(documentation is still a bit lacking, I had to dig through the tests to find how to rename a field, as it only showed how to rename the object itself, but other than that, it worked as expected)

[2019-05-14 16:58] theduke commented on #320
There is some more extensive documentation on the `juniper::object` macro (`cargo doc --open`, it's not online yet).

But thanks for pointing it out, I'll add that to the book.

[2019-05-14 17:38] theduke commented on #2
Just a little update: making the AST owned/shareable requires a lot of changes. Since it needs work anyway, it's a good opportunity to switch the parser to [graphql-parser](https://github.com/graphql-rust). To make that happen it needs a little work though.

I'm working on one element ( [#19](https://github.com/graphql-rust/graphql-parser/pull/19) ), but it also needs quite a few improvements to t

[2019-05-15 07:16] #343 closed

[2019-05-15 09:21] #294 closed

[2019-05-16 02:38] LegNeato commented on #340
I don't think we need to wait on the book here. Do you want to run a release or shall I?

[2019-05-16 08:53] theduke commented on #340
Can do, but since you did all the work on the releasing tool, you should have the honors of breaking it in.

[2019-05-16 10:46] theduke commented on #329
I don't see a reason to ever add methods on context.
More state keeping or functionality would be added to the `Executor`.

There is a consideration with futures support though: we will probably need a `Send + Sync + Clone` bound on context!
With that in mind, we may want to add those constraints onto the `Context` trait instead of litterling them around the code everywhere.

[2019-05-16 10:50] theduke commented on #18
Le'ts not support anything not in the spec, we have enough catch-up work to do as is.

We can re-open if/when this gets accepted.

[2019-05-16 10:50] #18 closed

[2019-05-16 10:52] theduke commented on #32
Tracked in #138

[2019-05-16 10:52] #32 closed

[2019-05-16 10:53] theduke commented on #62
I think the structure works fine as is.

It would be very useful to have a larger example in the root folder but there are other things with higher priorities.

[2019-05-16 10:53] #62 closed

[2019-05-16 11:58] theduke commented on #161
Is there a reason why we don't just remove the impl for `()`?

[2019-05-16 12:06] theduke commented on #340
@LegNeato actually I'd love to get #355  in as well since it's breaking.

[2019-05-16 12:15] theduke commented on #161
@davidpdrsn @tomhoule since this will affect both of you, do you see any problems with these changes?

[2019-05-16 12:30] theduke commented on #190
Thanks for all the references.

I'll look into implementing this. (Probably only after switching to graphql-parser).

[2019-05-16 14:22] #161 closed

[2019-05-16 14:23] LegNeato commented on #340
Ok, I'll do a release later tonight! Probably best for me to do it so if automation breaks I can fix it

[2019-05-16 17:42] theduke commented on #340
@LegNeato please also check Gitter, I sent you a message with a nice surprise.

[2019-05-17 02:24] LegNeato commented on #340
Juniper 0.12.0 is out!

Automation seemed to work well. `cargo-release` is pretty brittle, so I added some additional directions to `RELEASING.md` suggesting a clean checkout.

[2019-05-17 02:24] #340 closed

[2019-05-17 07:15] theduke commented on #340
@LegNeato for future reference, what was brittle about it?

[2019-05-17 14:27] LegNeato commented on #340
The cargo-release parts error out when pushing to git if your repo's git remote branch isn't in sync with upstream/master.

A clean clone with this repo as origin makes all those issues impossible, so that's what I added to the docs.

[2019-05-17 16:09] nlfiedler opened #358 "How to use elements defined with `graphql_scalar!`?"
The Juniper book has a lovely example of a scalar, named `UserID`, but does not show how to use it. I copied and pasted the `UserID` example, renamed it to `Digest`, and tried to use it in an object definition. It did not work out as hoped:

[code]

I can't find any examples to help me know where I'm going wrong. Any guidance would be appreciated, thanks.

Speaking of examples, it seems that `Valu

[2019-05-17 16:57] theduke commented on #358
Can you post more of the related code?

[2019-05-17 17:06] theduke commented on #358
This is due to scalar generics. The object macros by default use a generic scalar, but the `graphql_scalar!` macro uses the `juniper::DefaultScalarValue`, so they are not compatible.

You can fix this by using `juniper::graphql_scalar!(UserID where Scalar = <S> { ... }` instead.t

[code]

[2019-05-17 17:26] #358 closed

[2019-05-17 20:42] nlfiedler commented on #358
Terrific, thanks for the explanation and the example code.

[2019-05-18 10:57] davidpdrsn commented on #329
I'm not that familiar with futures, but why `Clone`?

The app I'm working on has a context like this:

[code]

Where `DbCon` is

[code]

`PooledConnection` comes from [`r2d2`](https://docs.rs/r2d2/0.8.4/r2d2/struct.PooledConnection.html) and is _not_ `Clone`. So I can't easily make this context `Clone`.

I could instead store the connection pool itself in the context. The pool is `Clone` because i

[2019-05-18 12:13] theduke commented on #329
That's a necessary result from concurrency/parallelism.
We'll need to clone the Context often.

You could still use a single DB connection per query by wrapping it in `Arc<Mutex<Connection>>`.

Note that the diesel connections are not `Sync`, but are `Send`.

[2019-05-18 12:21] davidpdrsn commented on #329
Makes sense. Seems to still be [early days for async in Diesel](https://github.com/diesel-rs/diesel/issues/399).

[2019-05-18 16:07] #308 closed

[2019-05-18 16:10] LegNeato commented on #248
Closing this out. Will file new ones as issues come up.

[2019-05-18 16:10] #248 closed

[2019-05-20 16:56] alexfedoseev opened #362 "How to use new `object` macro when its subject gets derived"
Trying to figure out how to use new `object` macro when its subject gets derived as a part of another struct:

[code]

Error is on the line `#[derive(GraphQLObject)]`:

[code]

[2019-05-20 18:49] theduke commented on #362
This is an unfortunate interaction of generics.

I'm working on a fix, but for now you can do this:

[code]

[2019-05-20 22:26] japrogramer opened #363 "How are file uploads handled in juniper?"
Hello, there is an apollo client that attaches attachments to the post.
I would like to know if juniper can handle this new format.
I know that it would require separating the query and vars from the form data
and ideally attaching the file to the node as it is done now in python.

[2019-05-21 01:07] theduke commented on #363
Are you refering to https://github.com/jaydenseric/graphql-multipart-request-spec ?

No support for this is currently implemented.

What I would do is upload the file separately to an endpoint that returns a id/uuid and pass that id into a GraphQL request.

[2019-05-21 01:17] japrogramer commented on #363
Yes, that is what im referring to.
That could work for now, I guess i than also have to handle the case if something errors out
in the graphql endpoint to clean up the orphan files.

[2019-05-21 02:24] LegNeato commented on #363
I don't think this is part of GraphQL and is instead Apollo's implementation details that they are leaking and trying to get the rest of the GraphQL community to adopt.

Would love to be pointed to an official proposal if there is one.

[2019-05-21 05:08] alexfedoseev commented on #362
It works, thanks!

[2019-05-21 12:48] reverie99 opened #364 "new 'object' macro: specify lifetimes for context object"
I'm trying to specify a lifetime for a Context object using the new `juniper::object` proc macro.

[code]

The error is on `#[juniper::object(context = Context)]` a lifetime specifier is expected for Context.
When trying `#[juniper::object(context = Context<'a>)]` a `^^ undeclared lifetime` for ```<`a>``` is returned.

[2019-05-21 14:16] theduke commented on #364
This is the same issue as #143.

Below is a solution that works with the new macro.

Note that this won't be possible in the future if you want to switch to async.

[code]

[2019-05-21 14:17] #364 closed

[2019-05-21 14:20] theduke commented on #143
This is an example that works with the new object macro.

THis should be added to the book and to the macro doc comment.

[code]

[2019-05-21 14:25] theduke commented on #105
As a late heads up, this is explained in #143 , together with a solution.

[2019-05-21 14:29] theduke commented on #363
Yeah this is non-standard and not on the horizon.

Non actionable for us at the moment.

Note that you could implement this yourself for the web server of your choice, and then ,for example, putting the relevant data (tmp file path, some read buffer) into the `Context.

[2019-05-21 14:29] #363 closed

[2019-05-21 14:31] theduke commented on #339
I've done something similar in the past by just copying the code in `juniper_warp` and adding my own logic in front.

Making the integration code a bit more extendable would be nice though.

[2019-05-21 16:51] idubrov commented on #143
Yeah, I've done something similar. This is the workaround I ended up creating:

[code]

One constraint in my case is that building a new schema is quite expensive, so I have to create it once and store in Rocket `State`.

[2019-05-21 18:03] theduke commented on #143
Yeah it's fine in this case because the context is guaranteed to be alive for the duration of `execute`, but it's obviously unfortunate that this is needed.

Out of curiosity, does your schema so big that construction time is noticable?

[2019-05-21 20:01] idubrov commented on #143
Our schema is defined through metadata which we read from the database and/or files. And it's big, yes. Takes seconds to build a schema (in debug, in release it is fraction of a second, but still some significant amount of time).

[2019-05-22 21:25] JeanMertz opened #365 "Improve ergonomics of ID scalar type"
I came here looking into the ergonomics of `ID`.

Given that the Juniper book states:

(emphasis mine)

It seems to be quite cumbersome to go from an integer to an ID:

[code]

Would it make sense to:

* make the inner string `pub`, so we don't need `new`, and
* make it `ID<T>(T) where T: ToString`

Making the above more trivial:

[code]

I don't think these changes would be breaking changes, woul

[2019-05-22 21:41] JeanMertz commented on #365
Also, it would be nice if `Serialize` and `Deserialize` were derived/implemented for this type.

See: https://rust-lang-nursery.github.io/api-guidelines/interoperability.html#data-structures-implement-serdes-serialize-deserialize-c-serde

(and since it looks like this crate already depends on `serde`, there's no need for a feature flag for this)

[2019-05-22 22:53] LegNeato commented on #365
These sound like good changes to me. Let's keep the field private for now...calling new isn't a bug burden but leaves flexibility if we need to change implementation later.

[2019-05-23 00:32] theduke commented on #365
Note that the IDs also need to be converted from input values, so the trait bound will have to be:

[code]

The `graphql_scalar!` impl for ID will need to be updated to handle this accordingly.

[2019-05-23 00:41] theduke commented on #365
Also note: this is in fact a breaking change, due to the added `FromStr` bound.

[2019-05-23 02:30] LegNeato commented on #163
I don't think we need to do this now that we check our min version in CI.

[2019-05-23 06:37] JeanMertz commented on #365
I'm not sure what you'd like me to do about the breaking change in this proposal, but I went ahead and submitted a PR for de serialize/deserialize implementations, as those shouldn't cause any problems.

[2019-05-23 08:04] theduke commented on #163
What do you mean?

This is about building with the minimum version of dependencies in the allowed range, rather than the maximum version. This ensures not accidentally breaking

[2019-05-23 08:35] theduke commented on #163
PS: just checked, the cargo flag is still unstable, but I'll add it to nightly. Doing this on one compiler version is enough anyway.

[2019-05-24 13:36] theduke commented on #365
@JeanMertz  we will have plenty of breaking changes coming up, so if you are interested you can go ahead and implement the other changes as well.

[2019-05-27 12:46] lpil opened #369 "Support customer headers in graphiql editor"
Often we want our graphql endpoints to be behind header based authentication so that we can protect private data and identify the user. This becomes a problem when we wish to use the graphiql for development/testing/documentation because there is no way of setting the required authentication header.

I would like to be able to supply additional headers for graphiql to use when making requests to t

[2019-05-27 12:50] davidpdrsn commented on #369
I have hit a similar issue. I got around it by overriding the JavaScript function that makes the request. Here is my code https://gist.github.com/davidpdrsn/f74824dd6b5b4c0018b6ea5994eafec5

This is of course not clean, but does get the job done.

[2019-05-28 08:50] jdno commented on #369
The GraphQL Playground supports HTTP headers out of the box. Can't you use that instead?

[2019-05-28 08:52] lpil commented on #369
Graphiql does too and juniper is already using this feature, as shown in the code linked above :)

[2019-05-29 01:21] LegNeato commented on #2
Looks like await is on its way to stabilization:

https://boats.gitlab.io/blog/post/await-decision-ii/

[2019-05-29 01:23] LegNeato commented on #2
I'm still learning futures and async await...if we go `impl Future` route, that means we can't have a `dyn` trait object without boxing / using `futures::future::BoxFuture`.

[2019-05-29 07:07] theduke commented on #2
We will need to use `BoxFuture`.

Traits can neither have `async` functions nor functions that return `-> impl Trait`. Enabling those is blocked on existential types in traits, which doesn't have an RFC yet and is quite a ways off.

Even if it was ready, we probably wouldn't use it across the whole query: It could create a huge generator that blows the stack or just slows us down because it get's

[2019-05-29 08:19] theduke commented on #2
I just noticed: where we definitely can use await though: at the top level of resolving a query.

This should enable us to use a borrowed AST and `Context` in all nested resolvers, which is great.

[2019-06-06 01:37] michalbe commented on #369
What's wrong with using `playground` in place of `graphiql`? It's already [in juniper's source](https://github.com/graphql-rust/juniper/blob/master/juniper/src/http/playground.rs).

[2019-06-06 08:37] theduke commented on #369
I think the best approach to this is using [GraphQL Playground](https://github.com/prisma/graphql-playground) which as @michalbe mentioned is already in the repo.

`juniper_warp` has the `playground_filter` function, rocket has `playground_source`.

[2019-06-09 13:21] JeanMertz commented on #209
I ran into this today as well.

Given the ubiquitous support that Serde has in the Rust ecosystem (many crates either directly depend on Serde, or have a `serde` feature flag), it might be worth it to add an example doing exactly this to the documentation.

[2019-06-12 13:52] LegNeato commented on #2
FWIW this is what GraphQL.js does:

"The resolve function can return a value, a promise, or an array of promises"

[2019-06-14 13:09] davidpdrsn opened #371 "Wrong "look ahead field name" when query contains multiple fields"
**Describe the bug**
It seems there are some issues with look aheads when a query contains multiple fields.

Consider query like this:

[code]

While resolving `users` I would expect that `executor.look_ahead().field_name() == "users"` and `executor.look_ahead().field_name() == "countries"` while resolving `countries`. However that doesn't seem to be the case. I get `"users"` in both cases.

**To

[2019-06-15 00:00] saolsen opened #372 "__typename fails on root query type"
**Describe the bug**
I get an error 'concrete_type_name must be implemented by unions and interfaces' when  trying to query `__typename` on the  root query type.

**To Reproduce**
Query type is defined like this.
[code]

Then a query like `{ __typename }` fails with the error above.

**Expected behavior**
I would  expect it to return "Query"

[2019-06-16 14:19] michalbe opened #373 "Pass request data into context for authorisation"
Hello.
I'm trying to add Auth0 support to my `Juniper` + `Rocket` setup. All I need to achieve is to pass proper `user_id` to the context so I can fetch & respond with data for the authenticated user if they pass token validation.
I created proper request guard to retrieve the token from the headers, verify it and return `user_id` into the request handler, but since `Context` is being passed as a

[2019-06-16 16:00] davidpdrsn commented on #373
Instead of using `State` you should be able to implement [FromRequest](https://api.rocket.rs/v0.4/rocket/request/trait.FromRequest.html) for `Context`. That way your handler will get an owned `Context` which you’re then free to mutate. It does mean all your handlers wont share the same context but I guess that is fine.

This is what I do in the app I work on. For example in the `FromRequest` imple

[2019-06-16 16:13] michalbe commented on #373
@davidpdrsn OMG this works, thanks! I haven't seen the simplest solution and it was always right before my eyes! Thank you Sir, and have a nice weekend!

[2019-06-16 16:13] #373 closed

[2019-06-16 17:07] LegNeato commented on #373
It would be great to have some docs on this!

[2019-06-16 17:11] michalbe commented on #373
Indeed. I have a feeling that `Rocket` isn't a first choice framework for people working with `Juniper`, it's way easier to find examples or docs on Iron. I'll try to change that once I'll feel comfortable enough to write something on the subject. Thanks for inspiration :)

[2019-06-16 19:46] davidpdrsn commented on #373
@michalbe if you’re interested I maintain an example app that uses juniper and Rocket. You can find it here https://github.com/davidpdrsn/graphql-app-example

[2019-06-20 08:02] snnsnn opened #376 "Federation specification implementation"
I don't know if it is too early to implement federation specification in juniper but please can you add it to your road map. Basically it is a way to composable GraphQL schemas using primitives provided by @apollo/federation package that replaces schema stitching.

* [https://www.apollographql.com/docs/apollo-server/federation/introduction/](https://www.apollographql.com/docs/apollo-server/federat

[2019-06-21 04:48] hrbigelow opened #377 "Any way to auto-generate struct field resolvers, and also hand-write a custom one?"
Is there a way to have all fields of a struct have auto-generated resolvers, as provided by #[derive(GraphQLObject)], but be able to custom-derive a few more, as can be done with graphql_object! macro?

Since the two techniques don't mix, it seems the only choice is to use graphql_object! macro, and hand-write all of the trivial resolvers along with the custom ones.

[2019-06-22 03:29] asciiu opened #378 "Can't use uuid"
I can't get my project to compile with uuid.

[code]

[code]

The output I experience is:
[code]

What am I missing? Is this because I need to use uuid v0.7? If so that would be a bummer as diesel does not support v0.7.

[2019-06-22 03:38] theduke commented on #378
Juniper only supports `uuid` version `0.7`.
You are using `0.6.`

Diesel supports uuid with the `uuidv07` feature, so if you change both the diesel feature and the uuid version in your `Cargo.toml` it will work.

[2019-06-22 03:38] #378 closed

[2019-06-22 03:45] asciiu commented on #378
Ooooh, I see. Thanks!

[2019-06-24 08:20] Jekshmek opened #379 "Incorrect http test data"
**Describe the bug**
[Module juniper::http is not a valid data]

"/?query=%7Bhero%7Bblah%7D%7D" does not match "{hero {blah}}"

[code]
[Module juniper::http is not a valid data]:https://github.com/graphql-rust/juniper/blob/49f723a3ddb3ee64b79d3f53388ae3804f9f7e35/juniper/src/http/mod.rs#L332

[2019-06-24 19:57] JeanMertz commented on #173
Came here due the same reason, leaving with the same commitment that the extra overhead right now, will be worth it in the long run.

Still too bad this can't/isn't a compile-time error though.

[2019-06-25 02:38] LegNeato commented on #377
I don't believe there is. Happy to review a PR!

[2019-06-25 11:15] theduke commented on #377
This is much wanted and there are multiple paths to this.

One option, merging definitions, is discussed in #182 .

My personally preferred way forward would be to apply a proc macro to a whole module to make this easy.

This is currently only possible on nightly with the `proc_macro_hygiene` feature.

I'd want us to have code like this and make it just work:

[code]

[2019-06-25 16:55] #303 closed

[2019-06-26 03:08] hrbigelow commented on #377
Hi Christian,

That's great to hear there is interest in this.  At the moment my macro
writing skills are not up to the task, but if that changes, I'll try to do
it.  Incidentally, I did also try to write another unrelated macro, but
noticed that it doesn't work when called from within the graphql_object!()
call.

Cheers,

Henry

On Mon, Jun 24, 2019 at 7:38 PM Christian Legnitto <notifications@gi

[2019-06-27 15:53] LegNeato commented on #377
@theduke I like the module idea. Can we leverage the new(ish) "extends" keyword here?

[2019-06-27 19:34] petoknm commented on #329
I think we could use a trait alias for this in the future for async. Having an empty trait doesn't make much sense to me. I will try to make a PR for this.

[2019-06-27 19:55] theduke commented on #329
@petoknm great that you want to help, I would hold off on this for now though until I publish my async/await branch and we have a clearer picture of what will be needed.

[2019-06-27 21:15] petoknm commented on #329
Cool, I didn't know that work on async support has already started.

[2019-07-02 13:04] takeit opened #387 "Look ahead and N+1 query problem"
Hi, I'm a beginner to Rust and I try to build a simple GraphQL API using Juniper, Rocket and Diesel (postgres).

I can't quite figure out how this `look ahead` thing works and how to use it to solve the N+1 query problem as described here https://github.com/graphql-rust/juniper/issues/234, here https://github.com/graphql-rust/juniper/pull/136 and here https://github.com/graphql-rust/juniper/issues

[2019-07-02 13:23] theduke commented on #387
Hey there. This is more of a general SQL problem.

The "easiest" solution here would be:

* first, load the articles in `articleCollection`, as you do now
* then, load all relevant items from the media table. How to do this with diesel is described here: https://docs.rs/diesel/1.4.2/diesel/associations/index.html
* add a field to `Article` that holds the media items (like `media: Option<Vec<Media>

[2019-07-02 13:30] takeit commented on #387
Hi @theduke this is awesome! Thank you for the clarification. That's what I thought it should be done more on the db level but thought that `lookahead` is a magic thing here. Now I get this. I will optimize the queries based on your feedback.

[2019-07-02 13:32] theduke commented on #387
PS: you might also want to take a look at https://github.com/davidpdrsn/juniper-eager-loading. I haven't used it yet, and it is still new and experimental, but is aims to make exactly this problem easier.

I'm closing this, but feel free to ask more questions here.

[2019-07-02 13:32] #387 closed

[2019-07-02 14:36] davidpdrsn commented on #387
@takeit If so you might also enjoy https://github.com/davidpdrsn/graphql-app-example. It is a complete example app I maintain that uses the exact stack you mention plus https://github.com/davidpdrsn/juniper-from-schema.

The setup is very close to what we do at @tonsser and its working well for us.

[2019-07-02 15:14] dallen4 commented on #369
When I use GraphQL Playground and try to use the "Schema" or "Docs" feature sidebars they just load infinitely. Is this expected behavior? Is Juniper missing some support for parsing the schema and generating documentation for the playground client?

[2019-07-02 15:15] theduke commented on #369
Please check the console and the HTTP request for errors. It's possible that there is some issue with the introspection query.

[2019-07-02 16:13] takeit commented on #387
@davidpdrsn this looks great! Thanks! It should be linked to the readme file in the Juniper repository.

[2019-07-04 21:48] LegNeato opened #388 "New release"
I plan to cut a new release. Anything I should wait for?

/cc @theduke

[2019-07-10 22:16] jatsrt opened #390 "Using variables produces invalid value errors"
**Describe the bug**
When using "variables" to sent a nested/complex object, the request fails with "got invalid value"

**To Reproduce**
[code]
vs
[code]

Produces the errors like:
[code]

**Expected behavior**
Should work/parse the same as the first example.

[2019-07-11 00:59] LegNeato commented on #390
Interesting. To clarify, `Update` is an `InputObject` consisting of the content from the first example (which works)?

[2019-07-11 10:27] jatsrt commented on #390
Correct

[2019-07-11 10:58] jatsrt commented on #390
More testing, enums work, chrono date time works. Right now just Int and Float seem to be the issue

[2019-07-11 12:13] jatsrt commented on #390
Running it as a test using the following works too. Status and propertyType are enums, bedrooms is i32/Int

[code]

[2019-07-11 12:21] jatsrt commented on #390
OK, root cause identified, not sure if it is something juniper should handle or not though.
One of my deep dependencies sets `serde_json = { version = "1.0", features = ["arbitrary_precision"] }`

This changes the behavior globally and causes the input validation for numbers only to fail.

[2019-07-11 15:27] LegNeato commented on #390
Ugh, that is annoying! Looks like this could be https://github.com/serde-rs/json/issues/505 ?

[2019-07-12 12:36] davidpdrsn opened #391 "Give `IntoFieldError::into_field_error` access to `Context`"
In the app I'm working on we want to track all errors in [Rollbar][]. The way we're currently doing that is by having a custom error type (`AppError`) and implementing `IntoFieldError` for that type. In `into_field_error` we then make an API call to Rollbar and return a `FieldError`.

This works well however we would like for the data we send to Rollbar to contain meta data such as the current use

[2019-07-12 21:42] savovs commented on #182
I'd love to be able to do something like this to avoid cramming everything in one file in big apps
![image](https://user-images.githubusercontent.com/1226564/61160122-49e27a00-a4f6-11e9-8f13-0274f9cd468a.png)

[2019-07-13 05:00] SOF3 commented on #3
I want to export the schema to the graphql client modules, but the graphql_client crate requires it in .graphql format. Is it possible to print it as .graphql format?

[2019-07-15 15:22] jkoudys commented on #2
Any issues that need to be fixed before this work can go in? Are we waiting on anything in the Futures spec, tokio, etc. or is this ready to be built? Is it going to be `BoxFuture`s? Happy to send in some PRs myself, but I need to know the design direction.

[2019-07-16 01:31] theduke commented on #2
I have a working branch. I'll try to get a PR up in the next 1-2 weeks.

[2019-07-16 02:35] LegNeato commented on #390
What server integration are you using this with? I might try the workaround in that bug.

[2019-07-16 02:39] LegNeato commented on #376
I don't think we would ever implement this as it is non-standard. Potentially we would take a PR with a an optional feature though!

[2019-07-16 17:30] jatsrt commented on #390
Warp, the serde_json config was due to an internal library that was a dependency of a dependency.

[2019-07-18 01:57] #371 closed

[2019-07-18 09:13] davidpdrsn commented on #391
I wouldn't mind giving this a shot if you think its a good idea 😊

[2019-07-19 01:01] savovs opened #394 "An example with modular folder structure"
Hey y'all, I'm working on a nice example I'd like to eventually put in the docs / book, but I'm a little stuck on making it modular.

The current minimal example looks nice, but it quickly gets cumbersome to have a bunch of definitions in one massive file. Here's what I'm trying to do roughly:
![image](https://user-images.githubusercontent.com/1226564/61501469-5f104a80-a9c7-11e9-9604-94b9dc047f6b.

[2019-07-19 21:30] #388 closed

[2019-07-19 21:32] LegNeato opened #396 "Figure out why testing release automation is failing on CI"
Not sure why, but suddenly the release automation test job started failing. When I run everything locally it is fine.

[2019-07-19 21:41] LegNeato commented on #396
Looks like this is a regression in `cargo-release`. https://github.com/sunng87/cargo-release/issues/129

[2019-07-20 20:27] KamuelaFranco commented on #45
How do I get the equivalent working with the Rocket example? `cargo run --example server --features "iron-handlers expose-test-schema"`, probably for reasons obvious to a better-trained eye, doesn't solve the inability to run the example for me.

[2019-07-22 08:01] davidpdrsn opened #398 ""Panic when using look ahead from fragment with nested type" has come back in 0.13.0"
It seems https://github.com/graphql-rust/juniper/issues/335 has come back in 0.13.0

**Describe the bug**
Given the schema

[code]

and the query

[code]

Juniper panics if you call `executor.look_ahead();` inside the `User::country` resolver.

Message is

[code]

**To Reproduce**
I have made a reproduction script here https://github.com/davidpdrsn/juniper-look-ahead-with-fragments-error. Download

[2019-07-22 16:25] OskarPersson opened #399 "Error when making input object mutable"
I'm not sure if this is a problem with juniper, actix-web or my own knowledge of rust but I'm having trouble making an input object to be mutable.

**To Reproduce**
Running the [example](https://github.com/actix/examples/tree/aa5750cafc9d6bc96e098c338b70fa618149ffd5/juniper) provided by actix updated to use juniper 0.13.0 and slightly changing the `createHuman`using both the old and new syntax I c

[2019-07-22 16:52] theduke commented on #399
This is a problem with the proc macro generation code.
The `mut` declaration is discarded in the final output.
Should be an easy fix.

[2019-07-22 19:20] sssilver opened #400 "Broken documentation link for "new object macro""
Hi,

https://docs.rs/juniper/0.13.0/juniper/macro.graphql_object.html has a notice at the top that says:

The hyperlink under "object" points at https://docs.rs/juniper/latest/juniper/macro.object.html which doesn't seem to exist. Searching the docs for a macro named "object" doesn't seem to yield anything either.

[2019-07-22 19:27] theduke commented on #388
@LegNeato did you do a minor release by accident?

There wasn't any breaking change as far as I can tell.

[2019-07-22 19:29] theduke commented on #400
Thanks for pointing that out, fixed the link.
FYI https://graphql-rust.github.io/juniper/current/types/objects/complex_fields.html also provides more information on the new macro.

[2019-07-22 19:49] #400 closed

[2019-07-22 19:54] savovs commented on #394
Basically, I'm trying to do this: https://graphql-modules.com/

[2019-07-22 20:05] theduke commented on #377
Let's track this in #182 .

[2019-07-22 20:05] #377 closed

[2019-07-22 20:07] theduke commented on #394
This is currently not possible. See #182.
Maybe something could also be done on the `juniper-from-schema` side.

Closing as a duplicate.

[2019-07-22 20:07] #394 closed

[2019-07-22 20:16] theduke commented on #396
Doesn't look like a regression, it still fails with a pinned `0.11.2` (see PR).

[2019-07-22 20:19] theduke commented on #398
Looking into it.

[2019-07-22 20:37] theduke commented on #396
The problematic diff is:

[code]

[2019-07-22 23:00] LegNeato commented on #396
Hmmm, I couldn't repro it locally with 0.11.2 but instantly repro'd with the newest version

[2019-07-24 00:37] #399 closed

[2019-07-24 00:39] theduke commented on #396
True, was my fault.

[2019-07-24 00:40] theduke commented on #396
We'll probably want to explore using the workspace support once https://github.com/sunng87/cargo-release/pull/130 lands.

[2019-07-24 23:49] theduke commented on #391
We definitely want a way to do this, but this is closely correlated with things like general logging and tracing.

My preferred solution to this is moving towards a stateful `Executor`, which makes adding things like error/reporting/tracing hooks easier.

[2019-07-25 01:42] #398 closed

[2019-07-25 06:46] davidpdrsn commented on #391
Fair enough. I'll close the PR.

[2019-07-25 08:49] teh-cmc commented on #2
Hey @theduke, I couldn't find anything on your fork: is there any chance we could have early access to that work of yours? It'd be really really helpful even if it's not all polished yet.

[2019-07-29 11:24] kentkrantz opened #405 "Got conflicting implementation while using "juniper::GraphQLObject" and "#[juniper::object(Context = Context,)]""
If I use `#[derive(juniper::GraphQLObject)]` upon a struct while using `#[juniper::object(Context = Context,)]` upon it's `impl`, I will get the `conflicting implementation`, but I have to derive `GraphQLObject` on the struct cause another `GraphQLObject` needs that. Anyone has idea?

[code]

[2019-08-01 13:50] snnsnn commented on #376
Please can you consider implementing just the additions:

[code]

https://www.apollographql.com/docs/graphql-tools/schema-directives/

I think these additions will be enough to build federated graphql microservices.

With federation, microservices all expose a proper part of the overall graph and can refer directly to types that live in other services, without the need to add foreign keys or super

[2019-08-01 18:29] jairinhohw opened #407 "Panic when using fragment of a implementation in a interface"
**Describe the bug**
Juniper panic when using a fragment for an implementation directly in a interface.

**To Reproduce**
[code]

Error:
`thread 'fragment_in_interface::test_fragment_in_interface_does_not_work' panicked at 'Field foo not found on type Some("Thing")', juniper\src\types\base.rs:385:21`

**Expected behavior**
Both queries should be equivalent.

[2019-08-01 22:17] hrbigelow opened #408 "Have configurable default output UUID format (simple/hyphenated,etc)?"
**Is your feature request related to a problem? Please describe.**
The UUID specification allows for both hyphenated and non-hyphenated (and URN?) formats:
`30cb8e40-b44f-4155-a93c-134eea428651`
`30cb8e40b44f4155a93c134eea428651`

Juniper currently can *parse* any of the valid formats, but it defaults to outputting the hyphenated one, as seen in [this](https://github.com/graphql-rust/juniper/blob/

[2019-08-02 00:17] theduke commented on #408
Sorry but this kind of customization is too specific and too edge case to include in the main repo.

I'd suggest using a custom `Uuid` newtype wrapper with a custom `graphql_scalar!` implementation.

[2019-08-02 00:17] #408 closed

[2019-08-02 15:25] hrbigelow commented on #408
No problem - that's a fine idea, and if I understand correctly, it is equally efficient.

[2019-08-02 19:24] jairinhohw commented on #405
Does this work?

[code]

[2019-08-02 20:17] theduke commented on #405
Hey, please have a look at #182. (and discuss there if you have further questions).

In short: currently, you have to use either the derive or a custom implementation with `#[juniper::object]`.
Doing both does not work at the moment.

[2019-08-02 20:17] #405 closed

[2019-08-03 06:16] tonkonogov commented on #376
Well, it's not quite true. These additions are required, but not sufficient. We still need a way to define these external keys for fields for every gql object.
Given it's not in the spec, I agree with the opinion that it must be behind the feature flag. I rather wonder would we need to wait until #138 is done.

[2019-08-03 17:12] ronanyeah opened #409 "Multiple Field Errors"
An error response from `juniper::FieldError::new` looks like this:
[code]

I would like to be able to create responses like:
[code]

Is this currently possible?

[2019-08-08 07:32] MonsieurMan commented on #68
Hello there ! I'm building an app with juniper_rocket, mongodb, and yew for the front-end. It's going to be open source once ready anyway so I could definitely use it while it's still relatively simple to complete the documentation and example.

Just tell me if it's actually useful and I'll begin working on it. :slightly_smiling_face:

[2019-08-10 00:39] #396 closed

[2019-08-10 00:40] LegNeato opened #410 "Switch to `cargo-release`'s workspace support"
Switch to `cargo-release`'s workspace support (as mentioned in https://github.com/graphql-rust/juniper/issues/396).

This would allow us to simplify our `cargo-release` stuff.

[2019-08-10 00:41] #390 closed

[2019-08-12 12:33] jkoudys commented on #2
Seems like @theduke may have abandoned us. We should probably consider this unimplemented again.

[2019-08-12 13:26] theduke commented on #2
Not abandoned, but an unexpectedly long vacation.
I'm back this weekend and I should have enough time to at least post a WIP PR.

[2019-08-12 13:27] theduke commented on #2
Things are quite a bit better now since multiple reference support has landed.

[2019-08-13 05:00] jay-manday commented on #54
Any updates on this? Adding support for this would be killer. Really like the work you guys have done with this package,

I have a apollo service talking to some iot devices and weve been thinking about switching it over to either the excellent gqlgen lib in go but also weighing graphql options in rust, having subscription support would deff be a big factor lending in rusts favor

[2019-08-13 13:44] LegNeato commented on #409
It is only possible to return one error per field, but a response can have exactly what you want (an array of errors) if multiple resolvers return `FieldError`.

[2019-08-15 03:41] LegNeato opened #411 "Automate pushing docs on release"
Currently we need to manually copy `master/` to `current/` in `gh-pages` after running release automation.

[2019-08-16 01:46] jasonlor commented on #54
+1 on subscription support.

Loving the implementation of juniper thus far.

[2019-08-16 22:23] mfoncho commented on #201
@theduke the camelCase naming is a preference NOT a specification or even a convention. Technically ```__typename``` is snake case... In fact the the spec in forces the use of snake case when you read  [names](https://graphql.github.io/graphql-spec/draft/#Name).

[2019-08-18 14:53] vladinator1000 commented on #182
I tweeted to see if anyone is interested in this and looks like people would love to have it: https://twitter.com/vladkodmc/status/1162709927993008128?s=20

I'm looking to open a proof of concept PR for this soon.

[2019-08-18 22:32] theduke commented on #2
Almost there!

Expect a working branch tomorrow.

[2019-08-19 21:03] theduke commented on #2
Alright, here we go.
I finished a **very rough** prototype.
It has a bunch of issues which are listed below, so don't use this for anything serious yet.
It is published as the `async-await` branch.

## Caveats

* feature support is **unfinished**: unions and interfaces don't work yet, and I'm sure a few other impls are missing
* only `async fn` resolvers are supported right now. this will be exten

[2019-08-19 23:46] LegNeato commented on #2
Awesome, hoping to take a look at it later this week!

[2019-08-20 01:57] theduke opened #415 "Implement std::error::Error for all public error types"
* GraphQLError
* ParseError
* LexerError
* RuleError
* FieldError

[2019-08-20 03:21] theduke commented on #2
Initial benchmarking indicates that the async machinery overhead is below `10%`, even with the current suboptimal implementation.

[2019-08-21 08:28] davidpdrsn commented on #415
I looked into this yesterday and it isn't totally straight forward. `std::error::Error` requires a `Display` implementation which `Spanning<ParseError<'a>>` and `RuleError` doesn't have. They should be possible to add but I wasn't sure what the most helpful implementations might be.

I might just make some initial implementation so we have something to discuss.

[2019-08-21 12:27] obmarg commented on #2
I've updated juniper_rocket to support async-await & the async branch of rocket [here](https://github.com/obmarg/juniper/tree/async-await) if anyone's interested.

[2019-08-21 12:39] theduke commented on #2
@obmarg awesome, happy to get a PR against the `async-await` branch.

[2019-08-21 14:14] theduke commented on #415
All errors should get a `Error` impl, it's a big oversight that they didn't have it yet.

The only limitation here is that we can't include surrounding input query context in the generated error message but that's fine I think.

[2019-08-21 15:54] obmarg commented on #2
Done: https://github.com/graphql-rust/juniper/pull/417

[2019-08-23 07:08] LegNeato commented on #2
<img width="890" alt="Screen Shot 2019-08-23 at 12 07 14 AM" src="https://user-images.githubusercontent.com/368904/63573394-10138300-c53a-11e9-9366-b5f318b5864a.png">

[2019-08-23 08:44] LegNeato commented on #2
It looks like with the introspection query async might be on par with sync:

<img width="827" alt="Screen Shot 2019-08-23 at 1 41 50 AM" src="https://user-images.githubusercontent.com/368904/63579376-5a4f3100-c547-11e9-89a3-8f99c27bda7f.png">

[2019-08-23 16:14] theduke commented on #2
Yeah I also have a bunch of benchmarks and the overhead is monomalt, even with the current suboptimal implementation.

[2019-08-23 16:50] theduke commented on #2
Ah but the introspection query is a bad benchmark for this since the introspection lookup can (and do) skip the async logic

[2019-08-29 20:30] theduke opened #421 "Refactor object proc macro attributes to support parameter attributes"
Function parameter attributes are getting stabilized with `1.39`. (see https://github.com/rust-lang/rust/issues/60406#issuecomment-526327343).

This means we can refactor the argument customization of the `object` proc macro.

This is currently awkward due to the lack of above feature ( see https://graphql-rust.github.io/juniper/current/types/objects/complex_fields.html#customizing-arguments ).

*

[2019-08-30 19:00] theduke opened #423 "Logging Support"
This issue aims to discuss the design of logging support in Juniper.

[2019-08-30 19:00] theduke commented on #48
Continued in #423 .

[2019-08-30 19:26] theduke commented on #423
@mwilliammyers happy to hear your thoughts.

I didn't know about `tracing_log` before. The reason I'm leaning towards `tracing` is that it is designed for metrics as much as it is for logging, is fast, and supports structured data.

`log` is also gaining structured data support, but it is moving along veeery slowly and we'll need a solution fairly soon.

[2019-08-30 23:08] mwilliammyers commented on #423
Ahh, having structured logging makes sense. I completely agree with all of your feature requirements.

I am totally fine with creating a PR using something other than `log` so we can get something out of the door.

I would hope though that we would be open to the possibility of refactoring all of our logging to `log` when/if https://github.com/rust-lang-nursery/log/issues/328 lands. (It probably w

[2019-09-04 01:39] LegNeato commented on #2
@theduke I plan to work on this later in the week / this weekend. Can you taskify things that you aren't planning to work on so we don't duplicate work?

[2019-09-05 06:29] theduke commented on #2
@LegNeato I'll only have time to continue next week so the most important tasks right now:

* Implement union and interface support in the macros. This is rather awkward at the moment (which is why I haven't done it yet) because they still use macros instead of a proc macro. The best path would probably be to rewrite them as proc macros, which we wanted to do for a while anyway.

* Write tests

[2019-09-05 14:54] nWacky opened #425 "Add ?Send futures support in async-await branch"
**Is your feature request related to a problem? Please describe.**
Sometimes it's necessary to run not `Send` future in juniper handler (for example to get data from database). However, when trying to run such future I get the following error:
[code]

**Describe the solution you'd like**
It would be nice to be able to use an option to use `!Send` futures in juniper, ideally with `?Send` option on

[2019-09-05 15:45] theduke commented on #425
I don't think we'll be able to fit `!Send` futures into the design, even with a feature. Things are already a bit messy with `GraphQLTypeAsync` layered on top of `GraphQLType` (this might change a a bit in the future).

Your use case seems to be dealing with a synchronous database connection?
You can't use those anyway in a async environment, since you are not supposed to block a executor thread.

[2019-09-05 15:53] tyranron commented on #425
You can't use those anyway in a async environment, since you are not supposed to block a executor thread.

Nope, it's async, however is `!Send` due to use `Rc` under-the-hood. It's used in pair with `actix-web` which runs everything on single thread executor, so plays very nice for us so far. Changing it to `Arc` feels just like redudant performant cost.

As for me the best solution would be to ha

[2019-09-05 16:52] theduke commented on #425
I agree, in theory.

In practice I think it's impossible right now.

The problem is that traits are involved. The resolver methods on the `GraphQLAsync` type currently return a boxed future. If the Rust gets support for `-> impl Trait` return types in trait methods, we could switch to that.
But in both cases we need a `Send + Sync` bound to tell the compiler that the involved futures are so. Other

[2019-09-05 18:58] tyranron commented on #425
That's exactly the point.

There is no sync/blocking calls in our case.

We're using `Actor`s just for WS connection, for anything other `actix-web` is enough. While `actix-web` uses multiple threads to execute requests, it does not require used `Future`s being `Send`. When request arrives it goes to one of spawned worker-threads where single-threaded executor executes it. So request processing ca

[2019-09-05 20:07] theduke commented on #425
Ah, I misunderstood your problem.  Of course it makes sense in this context.

What I do not understand yet though is why the `Send` bound poses a problem for you though.

Executing a future with a `Send` bound should be perfectly possible in a single threaded runtime should be perfectly possible? Are you running into errors in actix?

[2019-09-05 20:10] theduke commented on #425
Ah I misunderstood the problem, yes of course it makes sense in this context.

What I don't understand is why the `Send` bound is causing a problem for you though! Executing a `: Send` future on a single threaded runtime should be perfectly possible.

Can you share a bit more of your code?
The error message indicates that it is actually your resolver that relies on something that is `!Send`. Eithe

[2019-09-05 20:57] tyranron commented on #425
Yes. Our DB interaction layer provides `!Send` interface as uses a lot of `Rc`-based interior mutability. This layer is used in `#[juniper::object]` fields, so they are `!Send`.

So, the overall flow for request is the following:
`actix-web` handler (can be `?Send`) -> `juniper` schema execution (requires `Send`) -> `juniper::object` fields resolution (uses `!Send` DB layer).

If we have had `Send

[2019-09-06 05:57] archseer commented on #423
I'm coming from the elixir ecosystem that had a recent push towards [adopting a single telemetry facade across the ecosystem](https://github.com/beam-telemetry/telemetry). It's already been paying off because I can instrument or log data from any part of our stack (DB driver, GraphQL, HTTP client, etc) through the same interface, without having to fork the libraries.

For me, the push towards adop

[2019-09-08 21:03] theduke commented on #425
I'm closing this for now. The problem is on my radar.

Feel free to continue discussion in the main async issue ( #2 ).

[2019-09-20 00:25] aisrael opened #426 "Support Content-Type: application/graphql"
**Is your feature request related to a problem? Please describe.**

I'm trying out Juniper + Hyper and discovered that it doesn't support `Content-Type: application/graphql`.

When submitting an HTTP POST request containing a JSON GraphQL query, like so, it works as expected:

[code]

However, other GraphQL implementations also support `Content-Type: application/graphql` where the entire POST body

[2019-09-21 01:47] dreamcodez opened #427 "Literal Scalar Parsing should not panic"
**Describe the bug**
Literal Scalar Parsing should not panic. Sending badly shaped data is a thing that Denial-Of-Service attackers like to do -- and being able to panic the thread this easy is a smell in my opinion.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a schema with a scalar String, Int, or Float type
2. Query the schema with query literals which violate the contract in st

[2019-09-21 22:07] davidpdrsn opened #428 "Support descriptions with `param_attrs` on field arguments with proc-macro"
I have been [working on removing the use of `graphql_object!`](https://github.com/davidpdrsn/juniper-from-schema/pull/74) from juniper-from-schema in favour of the new proc macro. The process was pretty straight forward except for supporting descriptions on field arguments. [The juniper docs](https://docs.rs/juniper_codegen/0.13.2/juniper_codegen/attr.object.html#customization-documentation-renami

[2019-09-22 02:23] theduke commented on #428
#421  ;)

[2019-09-22 02:23] #428 closed

[2019-09-22 13:25] SharksT opened #429 "How to make BigDecimal scalar type"
I'm not able to do implement the bigdecimal by myself because I don't have experience enough with rust to do it.

I just know that is possible but don't know how, and I can't just use graphql_scalar! macro because it needs implementations on the struct.

[2019-09-24 05:25] theduke commented on #429
You need to use a newtype, since you can't implement foreign traits on foreign structs.

[code]

[2019-09-24 11:00] nWacky commented on #54
Here are some design thoughts we are about to try to implement on top of [`async-await` branch](https://github.com/graphql-rust/juniper/tree/async-await):

If resolving query/mutation results in a value/future, then resolving subscription represents a serie of values/futures, so results in an iterator/stream.

First, we need to add subscription support to `GraphQLType` and ability to have our own

[2019-09-24 11:20] gklijs commented on #54
Seems fine. Would the stream be supported by a web socket, or are there other ideas to implement that part? In lucinia, a Clojure GraphQL server implementation a subscription is backed up with web sockets. It's for example possible to consume some data stream, and then send it by websocket to all the clients that subscribed to certain data. How would something like that work with juniper?

[2019-09-24 11:24] theduke commented on #54
Just like the rest of Juniper, subscriptions should be agnostic over the transport medium.

It should only produce streams of messages. The support libraries for the different servers will handle implementing the actual transport, with websockets/ H2 server side events, long polling fallback, ....

[2019-09-24 11:33] tyranron commented on #54
@gklijs

We're using `actix-web` and pairing its WebSockets with such `juniper` subscription abstraction is quite a convenient. As WebSocket connection represents an `Actor` itself, all we need is just to inject returned `Stream` into `Actor`'s `Context` and then we're able to handle it just like regular `actix` `Message`s.

I suppose other web-framework will propose near the same "abstraction glu

[2019-09-24 11:41] tyranron commented on #54
@theduke what do you think about design thoughts described above? Should we start poking with it to make some MVP at least?

[2019-09-24 12:24] SharksT commented on #429
But the 'MyBugDecimal' has to have all the implementations that the bigdecimal have to work properly with diesel (to diesel see as the same) right ?

[2019-09-24 14:53] D1plo1d commented on #54
+1 to transport agnostic subscriptions. I use WebRTC data channels to send
GraphQL subscriptions and a subscribe function that returns a stream would
be perfect for me.

I'd add that the message format that encapsulates the GraphQL responses
(Apollo calls this GRAPHQL_WS if memory serves and we should aim to be
compatible with this defacto standard) should also be implemented as a
transport agnost

[2019-09-24 17:35] gklijs commented on #54
Sounds entirely valid, library I was referring to can by used without middleware, but also has a 'default' implementation. Reason I'm asking all this is I would really like to compare my Clojure implementation with one in Rust.

[2019-09-26 03:29] jimsynz commented on #234
Circling back around on this; the example in https://github.com/graphql-rust/juniper/issues/234#issuecomment-438217910 no longer compiles because `LookAheadSelection` and `LookAheadMethods` are generic, but I don't quite understand what they are generic over and how I am supposed to use them.  I'd happily send a PR adding docs if I could figure out how to work it.

[2019-09-26 05:47] LegNeato commented on #426
Thanks for the report! Should be an easy PR. I'm a bit slammed at work so I am not sure when I can get around to it. Patches welcome!

[2019-09-26 06:18] theduke commented on #426
Is this mentioned in the spec, or is there a PR in the specs repo?

How does one pass non-inline variable values with this approach?

[2019-09-26 06:21] theduke commented on #234
It's generic over the lifetime and the scalar type, which will be `juniper::DefaultScalarValue`, unless you customize it.

[2019-09-26 10:48] aisrael commented on #426
@theduke Am not sure if it's in the `graphql-spec` anywhere but it is mentioned in the docs: https://graphql.org/learn/serving-over-http/#post-request

[2019-09-30 00:48] LegNeato commented on #429
@SharksT Does https://gitlab.com/williamyaoh/shrinkwraprs help with what you want?

[2019-09-30 00:56] LegNeato commented on #427
We should probably add this case to `ParseError` and bubble it up.

[2019-09-30 03:51] LegNeato commented on #54
I think a trait returning a Stream (and maybe optionally an AsyncStream from tokio?) would be a good way to start prototyping and playing around @tyranon.

Though would we need to support things like timeouts, backpressure, etc? If so it starts to look more like a Tower service.

[2019-09-30 07:20] tyranron commented on #54
@LegNeato

I don't think so. `juniper` is all about GraphQL schema definition and resolving. Timeouts and backpressure are just implementation details on both sides of GraphQL schema (either `select(request.execute(schema, context), timeout)` when receiving HTTP request, or backpressure baked into `Stream` returning on resolving GraphQL subscription).

While on-top-of-`juniper` crates like (`junip

[2019-10-03 13:11] fattenap commented on #429
this took me ages to piece together as I'm still trying to figure this stuff out, but I hope it helps. ;)

__dependencies__
[code]

[code]

[2019-10-03 14:02] SharksT commented on #429
Hello, thank you very much for your taking your time to help out!
I'm getting an error in your code :

`the trait bound `bigdecimal::BigDecimal: errors::_IMPL_SERIALIZE_FOR_Error::_serde::Serialize` is not satisfied`

[2019-10-04 02:55] fpkpmg commented on #429
What version of BigDecimal are you using? I forgot to add that dependency version. You need to use version `bigdecimal = 0.0.14`

[2019-10-04 02:58] fattenap commented on #429
What version of BigDecimal are you using? I forgot to add that dependency version. You need to use version `bigdecimal = 0.0.14`

[2019-10-04 12:34] SharksT commented on #429
I'm using that version

[2019-10-04 21:28] fattenap commented on #429
Try adding the serde feature to the bigdecimal dependency.

On Fri., 4 Oct. 2019, 10:35 pm Felipe Passos, <notifications@github.com>
wrote:

[2019-10-04 21:37] SharksT commented on #429
Now it's working, thank you so much !

[2019-10-04 21:37] #429 closed

[2019-10-06 21:19] andy128k commented on #427
@dreamcodez  I am trying to reproduce panic [here](https://github.com/andy128k/juniper/pull/1/files) but I cannot. Could you provide more details?

[2019-10-09 06:48] LegNeato commented on #426
That's not official GraphQL docs, that's Apollo FWIW.

[2019-10-09 06:52] LegNeato opened #435 "Use https://crates.io/crates/proc-macro-error"
It would be good to use https://crates.io/crates/proc-macro-error to improve error reporting for proc macros.

Basically we should look everywhere we `panic()` in our proc macros and add span info.

[2019-10-09 07:47] davidpdrsn commented on #435
Just wondering, how is that different from [`syn::Error`](https://docs.rs/syn/1.0.5/syn/struct.Error.html)?

[2019-10-09 07:48] davidpdrsn commented on #435
Ah I see it mentioned in the readme further down. Nvm

[2019-10-09 16:22] knidarkness commented on #426
@LegNeato , so do you think this update would be nice to have? If so, I could spend some time on it.

[2019-10-09 19:35] bsmedberg-xometry commented on #2
Is there anything I can do to help with this project? I have a personal and professional interest in moving this forward, and potentially some time to spend on it.

[2019-10-10 06:34] LegNeato commented on #2
Hello @bsmedberg-xometry , long time no see! Would love help as we have been a bit swamped lately. This work is happening on the async-await branch.

The ideal short-term help would be to implement union and interface support there. That entails porting logic over from the macros into proc_macros. It's a bit hairy...not because the work is hard but because macros are annoying to work with.

There

[2019-10-16 16:23] Y0hy0h opened #439 "EmptyMutation breaks Sync trait"
Since Rocket requires the data it manages to be thread-safe, I encountered an issue where the Juniper `Schema` containing a thread-safe database pool would not be recognised as implementing `Sync`. I've initially opened an [issue at the Rocket repo](https://github.com/SergioBenitez/Rocket/issues/1157).

The gist is that I would get blocked by a compile error:
[code]

This is surprising, because th

[2019-10-18 15:20] AurelienFT opened #440 "Serde Implementation with graphql_object"
I've implemented the following `User` structure and graphql_object :
[code]
I need the `struct User` to interact with my database MongoDB. Is it possible to translate my structure to a `graphql_object` using `serde` or an other serialization process to avoid duplicating my structure ?

Thanks for your support.

[2019-10-18 18:54] tyranron commented on #440
@AurelienFT I would highly recommend to keep your models for DB and GraphQL objects separately, so don't event try to write GraphQL objects into DB.

Let me explain why...

GraphQL objects are part of a GraphQL schema, which does not represent a _data model_, but rather a _data interface_ for external clients. In terms of mainstream REST API, we can say that GraphQL schema is a Controller layer, n

[2019-10-20 15:35] davidpdrsn commented on #421
I have started hacking in this. Progress is here https://github.com/davidpdrsn/juniper/tree/parameter-attributes

[2019-10-20 21:40] dreamcodez commented on #427
sure. sorry i have been busy shlepping my stuff from place to place.

I am going to create a small repo and post it here. give me an hour or so

[2019-10-20 22:25] dreamcodez commented on #427
I added more context to 434, and I have also posted a bounty for this issue (427)

$50 out of my own pocket if someone can just get this one thing fixed, its the only thing which is causing me to not want to use juniper right now :)

https://www.bountysource.com/issues/80699749-literal-scalar-parsing-should-not-panic

Thanks !

[2019-10-20 22:25] dreamcodez commented on #427
(and unit tests of course)

[2019-10-21 15:20] theduke commented on #427
@andy128k @dreamcodez I tried to reproduce this, but haven't been able to.

All seems to work as expected, without a panic.

Can you please provide a simple reproduction with a sample schema definition and query?

[2019-10-21 15:34] theduke commented on #421
@davidpdrsn awesome, please ask if you have any questions.

Also feel free to open a draft PR to give it visibility.

[2019-10-21 18:01] andy128k commented on #427
@dreamcodez @theduke Looks like I've reproduced it. `String` was a bad example (any schema has it because it is used in introspection).

But passing Int or Float literal causes panic. So, this is not because of violation of contract but because of absence of scalar type in schema.

[2019-10-22 10:46] theduke commented on #427
Can you add a test reproducing the panic?

[2019-10-22 11:40] andy128k commented on #427
@theduke  It is in my PR. There are two commits. First one reproduces panic and the second one fixes it.

[2019-10-23 05:00] dreamcodez commented on #427
I don't think that's the only cause -- it panics if you just pass it something which is not what the schema expects -- this is what happened in my small prototypal codebase. I don't have the example code right now... but I may in a few days or so... full disclosure:

I installed xfs in the boot partition of my new linux laptop/thinkpad and i let the battery die. so yeah -- the boot partition got h

[2019-10-23 05:26] dreamcodez commented on #427
OK... as far as I can tell this issue might be solved in 0.14 and on.... I need to dig up the original code. I was not able to reproduce it from memory :) kudos to you all for finding out how to remove said panics even though it may I have identified the wrong panics in the first place :)

[2019-10-23 05:26] dreamcodez commented on #427
carry on, ignore my drivel unless i can find that original code soon. and if these panics disappear -- i just need to know who to disburse the bounty to. thanks all!

[2019-10-24 01:04] #427 closed

[2019-10-24 02:47] LegNeato commented on #439
I *think* we can just do:

[code]
Because ` EmptyMutation` never references `T`...it only uses it for `PhantomData`. That being said, I am unsure as I have never used `unsafe` in Rust before. @theduke ?

[2019-10-24 15:43] AurelienFT commented on #440
@tyranron Thanks a lot man ! Your response is awesome.

[2019-10-24 18:33] #439 closed

[2019-10-24 20:44] Y0hy0h commented on #439
Wow, you guys are awesome! Thanks a lot!

[2019-10-24 23:10] LegNeato commented on #439
I pushed a point release with this fix in it.

[2019-10-25 06:35] #440 closed

[2019-10-25 18:40] dfrankland commented on #2
Is there a need for more examples? I was able to successfully use the [`async-await`](https://github.com/graphql-rust/juniper/tree/async-await) branch with [`tide`](https://github.com/rustasync/tide): <https://github.com/dfrankland/tokei-aas>

I'd be happy to add an example using that as the basis.

[2019-10-27 18:15] dreamcodez commented on #427
OK -- so it turns out this is an issue in 0.13.1:

pov from graphql playground:
[code]
process:
[code]

in 0.14.1 its gonezo:

pov from graphql playground:
[code]

... process doesn't crash!

that said, kudos for banishing more panics from this codebase! :)

:pray:

now perusing other issues i know you mentioned bounty payouts somewhere ;)

[2019-10-27 18:23] dreamcodez commented on #427
@andy128k  please click 'claim' on the bounty on this page so i can approve it -- my money is tied up in their escrow :)

:pray:

https://www.bountysource.com/issues/80699749-literal-scalar-parsing-should-not-panic

[2019-10-28 20:55] theduke commented on #2
Small update: I refactored the `graphql_union!` macro to a `juniper::union` proc macro.
graphql_interface! will follow soon.

No async support yet, that's the next step, but a fairly small one.

[2019-10-28 21:15] MikailBag opened #444 "Document N+1 mitigation techniques in the book"
**Is your feature request related to a problem? Please describe.**
Now, resolver signature looks like:
`fn field(&self, /*args*/)`.
This can easily lead to N + 1 DB query problem. (Or even N**K if query has K levels of depth). To avoid this problem, special libraries should be used, that somehow accumulate queries and merge them into one.

**Describe the solution you'd like**
(Idea itself is very

[2019-10-29 07:26] tyranron commented on #444
@MikailBag for N + 1 query problem the usual solution is either [dataloader](https://github.com/cksac/dataloader-rs) or [lookahead](https://github.com/graphql-rust/juniper/issues/387).

As for proposed solution I'm unsure how well it will fit. Usually, resolvers may contain allowed-resoling-depth checks, authorization-rights check, authentication checks, etc, which all are query-scoped. Resolving

[2019-10-29 08:11] davidpdrsn commented on #444
If you're interested in the lookahead approach you could consider [juniper-eager-loading](https://crates.io/crates/juniper-eager-loading) which handles all the boilerplate. We're using it in production at @tonsser and its been working well so far. Full disclosure: I'm the maintainer of the library.

[2019-10-29 09:07] davidpdrsn commented on #2
@theduke Will `graphql_union!` be deprecated? I'm currently using it in juniper-from-schema.

[2019-10-29 10:14] theduke commented on #2
Yes, I'm replacing all the macros with proc macro variants.
The proc macros have equivalent functionality.

[2019-10-29 10:16] theduke commented on #444
As mentioned by others, the possible approaches here are

* datalaoder
* using lookahead
* uniper-eager-loading

We should really add to the book, since it's a common stumbling block.

[2019-10-29 11:39] MikailBag commented on #444
Thanks for the responses!
I will study your proposals (so far juniper-eager-loading looks the most promising).

Regarding book, I would like to see quite complex example, e.g.:
- Response data are aggregated from DB and in-memory source (e.g. calculated).
- Application doesn't directly use diesel, it uses some trait, `MyAppDbProvider`.
- And without too much glue code :)

[2019-10-29 12:06] davidpdrsn commented on #444
@MikailBag I maintain a complete example app. You can find it here https://github.com/davidpdrsn/graphql-app-example. It does use Diesel directly however.

[2019-10-30 19:00] SharksT opened #445 "How to make BigInt scalar type"
I'm not able to do implement the i64 by myself because I don't have experience enough with rust to do it, that : https://docs.rs/juniper/0.14.1/juniper/trait.ScalarValue.html, doesnt seems to solve the problem with diesel.

[2019-10-30 19:39] SharksT commented on #445
[code]
Managed to do it based on the big_decimal implementation thanks to @fattenap

[2019-10-30 19:39] #445 closed

[2019-10-30 23:46] jimsynz opened #446 "Type information lost during parsing."
A coworker and I have been trying to understand the way that Juniper parses and validates inbound queries. It seems that the document parser has a reference to the schema and knows the types of all fields at parse time (which makes sense, otherwise they cannot be correctly parsed and validated) however that type information is not stored and has to be regenerated in the executor as it resolves the

[2019-10-31 09:29] AurelienFT opened #447 "Is it possible to add authorization system on Juniper"
Hello,

I have my GraphQL API with Juniper and I want to add permissions to call a graphql_object/to get his result/to get some fields of the result.

With Type-GraphQL we can do something like that :
[code]

In Rust with Juniper I'll like to know if there is a way to do it ? I didn't find anything about it so I think about a good syntax to make it easy to use. There is something similar to this i

[2019-10-31 14:48] theduke commented on #446
After a quick parsing of the README, it seems like pine would take in some static description of both the the database schema and the full API schema, and generate everything accordingly - without the user writing any resolver code manually.

Correct? This would mean you implement either a proc macro or a `build.rs` script to generate all the code.

This is partially similar to what [juniper-from-

[2019-10-31 15:05] theduke commented on #447
This is not currently possible, but definitely desired.

The async migration will take precedence for now, but this would be terribly hard to implement.

We could even implement this in a relatively type-safe way.

Currently your best bet is something more manual:

[code]

[2019-10-31 16:22] davidpdrsn opened #448 "Statically typed look aheads"
In [juniper-from-schema] we have a feature called [`QueryTrail`](https://docs.rs/juniper-from-schema/0.5.0/juniper_from_schema/index.html#query-trails). That is basically a type safe look ahead that guarantees that you only check for valid fields. I've been thinking if something like that would make sense to have in juniper. I've also thought of a way to implement it.

## How `QueryTrail` works in

[2019-10-31 17:00] theduke commented on #448
This definitely makes sense, and I have very much wanted type safe look-ahead myself previously.

When thinking about this I came up with a slightly different design approach that doesn't require traits.

Basically it involves generating a lookahead struct for each object type and having an extra `type Lookahead` on GraphQLType.

It has the benefit of working without importing extension traits and

[2019-10-31 17:07] theduke commented on #448
Ah, I just noticed that this has a problem: it would require GAT (generic associated types) to be implemented, since the lookahead type contains a lifetime...

[2019-10-31 17:23] davidpdrsn commented on #448
Hm true. I wonder what the implications would be to add that lifetime to `GraphQLType` so

[code]

---

Having `UserLookahead::best_friend` return an `Option` is also a minor inconvenience if you want to look for deeply nested fields. Something like `user_look_ahead.best_friend().city().country()`. Then you end up chaining either with `and_then` or `?`.

Whether this actually comes up in practice

[2019-10-31 17:49] theduke commented on #448
True. I actually think your approach is better. We can always return the lookahead type and add a `walk()` or `resolve()` method to get an actual value out at the end.

Makes more sense.

Sadly not possible since the lifetime is not related to the type implementing the trait.
The lifetime would have to be stored in a `PhantomData`, which is not possible here.

Actually we could remove the lifetime

[2019-10-31 17:57] theduke commented on #448
I actually think your approach is way more elegant, especially the type machine style of `Walked`/`NotWalked`.

The downside is the need to import the various traits. `juniper-from-schema` could generate a prelude module that contains all this, but with regular juniper the compiler messages could be a bit confusing and importing a trait that doesn't exist in your code would feel a little bit weird

[2019-10-31 18:15] davidpdrsn commented on #448
Are you sure? I do something similar in [`juniper_eager_loading::EagerLoadChildrenOfType`](https://docs.rs/juniper-eager-loading/0.4.1/juniper_eager_loading/trait.EagerLoadChildrenOfType.html). That trait has a lifetime which is only used in the `QueryTrail` argument of one method.

[code]

Making implementations like

[code]

works fine. There is a complete example [here](https://github.com/david

[2019-11-02 03:18] jimsynz commented on #446
Thanks for the reply @theduke, I'll talk it over with the other folks at work and may have follow up questions.

[2019-11-02 07:49] theduke commented on #446
Closing this since it's not actionable, but feel free to ask.

[2019-11-02 07:49] #446 closed

[2019-11-04 10:18] nWacky opened #451 "Unnecessary todo (?)"
In [`executor/mod.rs`](https://github.com/graphql-rust/juniper/blob/master/juniper/src/executor/mod.rs#L526) there is a 'support excludes' todo:

[code]

As I understood, this todo suggests that fields with `@skip(if: true)`/`@include(if: false)` directives should be excluded from returned selection set.

However, they are excluded later on when calling `LookAheadSelection::build_from_selection`

[2019-11-05 06:14] LegNeato commented on #451
probably.  I put that in there because the code I was writing didn't handle the case explicitly and I didn't check if downstream did.

[2019-11-06 13:24] #369 closed

[2019-11-06 23:13] theduke opened #453 "Move CI got Github Actions"
Github Actions are a bit more powerful,  largely identical, but mostly they don't necessitate us managing two different platforms (and deal with the somewhat obscure Azure Pipelines UI).

Let's move over.

[2019-11-07 17:11] theduke commented on #2
Just an additional update: I've been traveling a lot for the past few months, but starting this Saturday, I will have 2 weeks downtime.

I will push hard to have a `alpha` release with async await by next Friday.

[2019-11-08 09:05] EituKo commented on #447
@theduke
Hi and thank you for your answer!

We really appreciate your alternative but we would like to have a compilation-time, type-safe permissions system with the following characteristics:

- Permissions implementation would be checked at compilation time and generate errors / warning if not implemented or not implemented correctly
- A custom filter could be applied if the return is an iterabl

[2019-11-08 11:47] davidpdrsn commented on #447
@EituKo What are you thinking `#[authorized_call("ADMIN")]` and `#[filter_result(readPermissions)]` would expand into? Like what code would be generated in the end?

[2019-11-08 14:40] EituKo commented on #447
@davidpdrsn
`#[authorized_call("ADMIN")]` would expand into a function that defines the permissions needed to call the associated query / mutation.
`#[filter_result(readPermissions)]` would expand into a function that filters the iterable objects returned using a given functor, `readPermissions` in this case.

[2019-11-08 20:43] davidpdrsn commented on #447
Isn’t that pretty much what @theduke suggested? If you want things to be more type safe I guess you would have to make the return type something like Option<User<Authorized>> where Authorized is in a PhantomData.

[2019-11-09 09:07] davidpdrsn commented on #435
https://github.com/graphql-rust/juniper/pull/441 lays the ground work for this. Once that is merged I’ll update the rest of code gen.

[2019-11-10 18:15] cairomassimo opened #455 "Incorrect `ValidationError` for non-executed operations in multiple-operations documents"
**Describe the bug**
Calling `juniper::execute` fails with a `ValidationError` when a multiple-operation document is given and the provided variables do not validate for *any* of the operations defined in the document, even if they are *not* executed.

Use Case: multiple-operations documents ared used to generate client code using `graphql-client generate` (they are especially convenient for many

[2019-11-11 21:24] bsmedberg-xometry opened #456 "Disable introspection queries"
**Is your feature request related to a problem? Please describe.**
I would like to avoid serving introspection in production builds of some services. I have a build pipeline that publishes the schema to an artifact at build time using `juniper::introspect`, so I really don't need the online schema to be available on my production services.

**Describe the solution you'd like**
I was looking for a

[2019-11-12 14:58] davidpdrsn commented on #456
It seems other graphql communities have something called "validations" that allow you to validate a query before even running it. Such as https://github.com/graphql-dotnet/graphql-dotnet/issues/766. That should probably be able to handle this. I wonder if it could also handle this https://github.com/graphql-rust/juniper/issues/447

[2019-11-12 15:28] tyranron commented on #456
Hmm... I guess not. The reason behind this that authorization is somewhat defined _on user-defined GraphQL types_, or even exists _before_ any schema resolution (so schema in this case is authorization-agnostic), while the introspection query does not interact with user-defined types, but their meta (which handled by Juniper automatically).

I guess this could be solved either allowing to attach s

[2019-11-12 15:47] davidpdrsn commented on #455
I'm still new to the codebase but it seems this isn't possible to do currently.

`execute` returns `Result<(Value<S>, Vec<ExecutionError<S>>), GraphQLError<'a>>`, meaning we either return some data or an error, but not both. The [function that validate the input variables](https://github.com/graphql-rust/juniper/blob/master/juniper/src/validation/input_value.rs#L61) returns `GraphQLError` and and

[2019-11-12 17:46] cairomassimo commented on #455
The issue is with the signature of `validate_input_values`: it should also accept the selected operation.

Say:

[code]

and something like

[code]

I may have some time to help with this issue later this week, but I'm also new to the codebase.
I will let you know if I manage to work on this. Please let me know as well if you work on this, so we don't duplicate the work.

[2019-11-12 19:57] jasonlor opened #458 "Derive GraphQLInputObject for a type"
**Is your feature request related to a problem? Please describe.**
Trying to keep my code as minimal and maintainable as possible. I have some cases where I'm reusing the input object but differentiate by having different input function arguments.

**Describe the solution you'd like**
- Allow GraphQLObject and GraphQLInputObject to be derived for types.

[code]

[2019-11-12 20:13] theduke commented on #458
Type aliases can't be treated as separate types due to how the type system works.

One possibility would be to allow a newtype derive like for [scalars](https://graphql-rust.github.io/juniper/current/types/scalars.html#newtype-pattern).

But I'm skeptical. If the type is the same, and assumed to evolve in the same way, then use the same type. I don't really see the value of having the types named

[2019-11-13 12:32] theduke commented on #2
@dfrankland what would be extremely helpful is building out a full-featured benchmark with a complex schema in https://github.com/graphql-rust/juniper/tree/async-await/juniper_benchmarks . ( this is currently very rudimentary )

[2019-11-13 16:17] theduke commented on #425
@nWacky good news, I think I might have found a way to do this reasonably well.

[2019-11-14 10:39] EituKo commented on #447
@davidpdrsn
We didn't understand each other and this is mainly my fault.

- we want to avoid any side effects on our permissions system, so the authorization check has to be made **before** the function handling the query.
- the majority of queries are subjects to some sort of authentication/authorization therefore **the public calls are the exception**
- the above reason also implies that the use

[2019-11-15 19:48] LegNeato commented on #2
@theduke Seeing as we are telling folks to base their PRs on the aync-await branch, let's just get CI passing and merge that into master so we can jam on it. I don't think we'll do another sync-only release and if we need to we can re-branch at the pre-async point.

[2019-11-15 19:52] theduke commented on #2
:+1: , that's what I wanted to suggest.

[2019-11-15 21:42] cairomassimo commented on #455
I forked the repo and hopefully I will soon make a PR fixing this!

[2019-11-16 17:44] jasonlor commented on #458
Makes sense, thanks!

[2019-11-16 17:44] #458 closed

[2019-11-18 14:23] MonsieurMan commented on #42
There is a specification page about the assumptions Relay makes of a GraphQL server. https://relay.dev/docs/en/graphql-server-specification, work could begin from there.

[2019-11-20 04:05] mwilliammyers opened #463 "Add skip attribute to input objects"
What do you think about adding a `#[graphql(skip)]` attribute for deriving `GraphQLInputObject` like `GraphQLObject`?

I often find myself wanting to skip fields for input objects (e.g. a database `id` that should be auto generated and not set by users).

**Describe the solution you'd like**
It would be awesome to be able to do something like:
[code]
[code]

**Describe alternatives you've consider

[2019-11-20 04:45] LegNeato commented on #463
Sure, this seems like something we should do for consistency.

[2019-11-20 07:56] mwilliammyers commented on #463
Ok. I’ll see if I can open a PR for it.

[2019-11-20 14:17] LegNeato commented on #463
Sounds good! You should probably hold off until we merge the async branch onto master (extremely soon)

[2019-11-21 16:09] AurelienFT commented on #447
Hello,

We didn't have any answer from you. We want to try something to show you our proposition in a PR. But we face the complexity of the `impl_object` proc-macro. We want to make a simple proc-macro to test but it's filtered by `from_attrs` function.
We want to know if you have some tips to help us to start something ?

Thanks for your answer
(cc @theduke @davidpdrsn )

[2019-11-22 14:16] EituKo opened #465 "`juniper::object()` macro is unsafe"
`juniper::object()` macro generates a lambda that has access to the rest of the scope. This is unsafe since the user can access any symbol of the code when `juniper::object()` expands.
This is the code I am talking about: https://github.com/graphql-rust/juniper/blob/1148c75a1d1d9f52708392361a19c0be4655f933/juniper_codegen/src/impl_object.rs#L198-L203
It would be better to define a `fn` and give it

[2019-11-22 16:33] theduke commented on #465
Unsafe has a specific meaning in Rust, and is not appropriate here.

There isn't anything in scope that you couldn't get access to by specifying it; just the executor and arguments. You can also request the executor, just like the context, by just specifying it as an argument.

It is admittedly  unclean though and unexpected to magically have variables in scope. I have wanted to rewrite it to a re

[2019-11-24 01:12] jasonlor opened #467 "GraphQLType is not satisfied with juniper::object"
Currently using 0.14.1. I'm attempting to implement fields with the juniper::object macro.

[code]
On compilation, i see the following error:
error[E0277]: the trait bound `models::Event: juniper::GraphQLType<__S>` is not satisfied

On this struct, I've implemented another trait that does not have the juniper::object macro.
impl TraitName for Event

I've looked through the docs and issues and have

[2019-11-24 07:40] davidpdrsn commented on #467
Are you able to share a minimal reproduction script? It’s a bit hard to say what’s wrong from what you posted.

[2019-11-30 04:54] david0u0 opened #469 "Remove the From<Dispaly> trait for FieldError"
**Is your feature request related to a problem? Please describe.**
This may be a wild, breaking change, but I found it error-prone for `FieldError` to implement `From<Display>` trait.

According to [the document](https://docs.rs/juniper/0.9.1/juniper/struct.FieldError.html#impl-From%3CT%3E), `FieldError` now implements `From<Display>` trait, which can transform anything implementing `Display` into

[2019-11-30 12:09] davidpdrsn commented on #469
I see what you're saying, however I think it makes sense to keep because of ergonomics. Users who want more control can use their own error type and implement `IntoFieldError`, like you're saying.

I think documenting the possible danger is a good idea. PRs for that very welcome 😊

Relevant discussion can be found [here](https://github.com/graphql-rust/juniper/pull/419). There we ran into issues i

[2019-12-02 00:56] librelois opened #470 "How to have a Context type with generics without passing the genericity back to the schema?"
I need to have a generic context that is instantiated differently in testing.  (The context contains a handler to the DB that is mocked during tests).

In non-test mode, the context contains a handler to the DB and a reference to a read transaction, the type that represents the read transaction has an explicit lifetime, whose lifetime will therefore correspond to the lifetime of the context.

That

[2019-12-02 02:39] urkle opened #471 "Unable to derive struct with &str"
**Describe the bug**
I receive an error

`the trait `juniper::ast::FromInputValue<__S>` is not implemented for `&str``
when deriving a struct that users &str types.

**To Reproduce**
Insertable is from Diesel
[code]

**Expected behavior**
Code to compile :)

**Additional context**
Related to issue #225

[2019-12-03 06:31] mwilliammyers opened #472 "Access Context when defaulting fields"
Is it possible to access `Context` when defaulting fields? (I don't believe it is...)

I think it would be really useful to support dynamic defaulting of input field values based on the current `Context`:

[code]
[code]

This could either be combined with the `skip` attribute (from #463) or validated elsewhere to ensure that `context.current_user` has authorization to set the `author` of a `Messag

[2019-12-03 10:17] andy128k commented on #467
I have found similar issue. [Here](https://github.com/andy128k/juniper-issue-467) is minimal example which fails to build.

[2019-12-03 13:26] SharksT opened #473 "Error when sending a json with a list with a list with multiple objects."
**Describe the bug**

I can't send a json with a list within a list, gives me that error :

[code]

PS : The first list work with n number of items and If the second list is only with one item it works properly.

**To Reproduce**
Steps to reproduce the behavior:

Main

[code]

graphql_service

[code]

graphql 'schema'

[code]

[code]

the complete json file : https://jsoneditoronline.org/?id=a95b7

[2019-12-06 20:20] olvyko opened #475 "trait FromContext::from return &Self"
How can I implement conversion when I need to `return` reference?
Maybe I don’t understand something.
[code]
Just normal conversion trait:
[code]
Juniper:
[code]

[2019-12-08 12:15] cairomassimo commented on #455
Any news on this? Should be fixed by #462 but I got no comments on that.
Thanks!

[2019-12-08 12:25] cairomassimo commented on #471
AFAIK this is not possible because input string values have to be moved to the resolver, they cannot be passed by reference. Even if lifetime parameter are accepted (#225 was resolved), I don't think Juniper can do anything smarter for references in input objects. (A more expert Juniper developer may prove me wrong...)

Try changing all `&'a str` to `String`: Diesel `Insertable` should be able to

[2019-12-10 06:33] LegNeato commented on #473
This looks like a real bug. Can you nail down which `unwrap` is causing the panic?

[2019-12-10 06:41] LegNeato commented on #472
Not sure I understand this request. This is just so you can use the derive without breaking out into the `juniper::object` proc macro? What is the advantage over doing something like:

[code]

See https://graphql-rust.github.io/juniper/master/types/objects/complex_fields.html and https://graphql-rust.github.io/juniper/master/types/objects/using_contexts.html

[2019-12-10 07:46] mwilliammyers commented on #472
Ahhh. I guess I should have been more explicit—I am proposing adding the ability to derive default values for `GraphQLInput` objects with access to `Context`.

[2019-12-10 09:01] SharksT commented on #473
Seems to be here, on the json parser

[code]

[2019-12-10 15:25] urkle commented on #471
@cairomassimo the more I'm learning how Rust works that seems to be the case.  I'm going to close this out.

[2019-12-10 15:25] #471 closed

[2019-12-10 22:28] SharksT commented on #473
Just tested the complete json file  https://jsoneditoronline.org/?id=a95b73e489014b679de227559944e645  with something like that :
[code]
And works perfectly, so the problem is related to the graphql  lib

[2019-12-11 15:01] IcanDivideBy0 opened #480 "Add a `rename_all` macro attribute"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I find the serde macro `#[serde(rename_all = "camelCase")]` really useful on a day to day basis. I think it would be nice to have the same thing in juniper.

**Describe alternatives you've considered**
Wiriting `#[graphql(name = "fieldName")]` on evry single field

**Additional context**
ser

[2019-12-11 17:04] davidpdrsn commented on #472
IMO this approach is fine. It might also make the code easier to understand.

[2019-12-12 01:36] SharksT commented on #473
It was something else and i fixed, not a juniper issue.

[2019-12-12 01:36] #473 closed

[2019-12-12 10:53] IcanDivideBy0 opened #482 "`#[graphql(skip)]` does not works on complex fields"
**Describe the bug**
When using `#[graphql(skip)]` on a "complex" field (a struct fn) the field is still avaliable through the GraphQL endpoint.

**To Reproduce**
[code]

**Expected behavior**
`#[graphql(skip)]` should works on both "simple" and "complex" fields.

**Additional context**
N/A

[2019-12-12 11:49] davidpdrsn commented on #482
Would you expect that `bar` would become a method on `Foo`? If so that isn't quite how `juniper::object` works. [Attribute macros](https://doc.rust-lang.org/reference/procedural-macros.html#attribute-macros) are able to "erase" the input code and instead insert something completely different. That is what `juniper::object` does. It generates an implementation of [GraphQLType](https://docs.rs/junip

[2019-12-12 15:51] LegNeato commented on #482
We would love a PR explaining this in the book!

[2019-12-12 15:52] LegNeato commented on #475
Happy to take a PR!

[2019-12-12 21:37] davidpdrsn commented on #475
I have looked into this a bit and I think I see why we return `&Self`.

For most use cases you will use the same context throughout the schema. For those situations we have this implementation:

[code]

If `FromContext::from` returned `Self` rather than `&Self` how would you implement this method? It still has to take `T` by reference (`&T`) because the executor only has a reference to the context

[2019-12-13 02:44] olvyko commented on #475
I think you can close this issue, OR we can look for another solution, maybe someone has a more elegant solution

[2019-12-13 08:40] IcanDivideBy0 commented on #482
Ok, thanks for the answer. It feels a bit weird to write twice the `impl` block, but it works well this way.

[2019-12-13 08:40] #482 closed

[2019-12-14 08:31] LegNeato commented on #475
I think nesting is the proper solution.

[2019-12-14 08:31] #475 closed

[2019-12-14 08:33] LegNeato commented on #470
I bet this was accidentally dropped in the conversion to the proc macro.

[2019-12-14 08:33] LegNeato commented on #470
Happy to take a PR with a test!

[2019-12-17 05:58] LegNeato commented on #455
Just pushed a release with this. Please confirm it is fixed!

[2019-12-17 05:58] #455 closed

[2019-12-20 23:11] sbditto85 opened #488 "Recommended way to allow a single field of a struct to fail"
In the GraphQL docs example 184 (https://graphql.github.io/graphql-spec/June2018/#example-bc485) mentions a field of object can fail and if it nullable then it gets nulled out but the rest of the object still shows and an in the errors it shows how that particular field had a problem. How would someone do that with Juniper?

My own small contrived example would be if I have a particular field on a

[2019-12-21 16:59] mwilliammyers commented on #488
You should use the [GraphQL object proc-macro](https://graphql-rust.github.io/juniper/master/types/objects/complex_fields.html) for that which has access to the `Context` which you can use to check the current User and go from there.

[2019-12-22 22:54] #488 closed

[2019-12-28 06:13] Himself65 opened #490 "enhance juniper::GraphQLEnum"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to display the integer on enum, like

[code]

and

[code]

when I call it and it will display `0` on `gender`

[2020-01-01 16:41] UkonnRa commented on #42
So any progress on Relay?

[2020-01-02 16:49] sbditto85 commented on #488
Just got back from break, how would i use the macro? have a function for each column of the table and do a select for each field? I would like to do a select for the whole row(s) and then only on particular columns do the check.

[2020-01-02 16:56] sbditto85 commented on #488
@LegNeato can this be reopened? I don't think the question was answered other then RTFM which i've been trying to and can't see how I'm supposed to accomplish my question

[2020-01-02 19:09] sbditto85 commented on #488
FWIW I _may_ of figured out how to have (https://graphql.github.io/graphql-spec/June2018/#example-bc485) the heroFirends with a null name. Basically I have to have something on the `QueryRoot` that returns a `FieldResult<Vec<HeroFriends>>` (or similar) that fetches the rows and then have a `struct HeroFriends` that has an `impl HeroFriends` with a function for each field that can just return its m

[2020-01-02 19:36] mwilliammyers commented on #488
For posterity’s sake:

Yes you are correct; that would enable you to not have to do a db query for each field.

Sounds like you have the correct mental model of how to do this—essentially the idea is to “lift” the db query one level higher in the GraphQL schema tree (at the root in your example) and then do the checks for each field on your `impl HeroFriends`—which will use the graphql object proc

[2020-01-02 20:02] sbditto85 commented on #488
I feel that there should be a section added to the book re "lifting" as well as how errors work.

I didn't realize that GraphQL treated errors like:

Which means that if i wanted something to be able to error at that level it must be Option(al) otherwise the error will keep propagating up the tree until the root itself is null even if there were other parts which were perfectly valid and able to b

[2020-01-03 00:09] sbditto85 opened #491 "errors path doesn't include the index when error occurs in an array/vec"
**Describe the bug**
Errors that occur in a list of items do not have the index in the path.

**To Reproduce**
Steps to reproduce the behavior:
Building off the actix_web example I used this as my schema.rs

[code]
and this as my main.rs
[code]

when going to http://localhost:8080/graphiql and running the query:
[code]
I get the result:
[code]

**Expected behavior**
I expected the path value of th

[2020-01-03 17:00] sbditto85 commented on #491
Forgot to add my Cargo.toml

[code]
Using cargo tree (or just looking at the lock file) it shows using juniper 0.14.2 (current release on crates.io at time of report)

[2020-01-06 22:36] jasonlor commented on #467
Bump, any ideas?

[2020-01-10 09:48] MonsieurMan commented on #42
@UkonnRa see my comment above. You can use it, you just have to check a few things manually and to conform to the three specs I linked to.

[2020-01-10 13:01] davidpdrsn commented on #42
I wonder if the relay additions could be a separate library built on top of juniper and not necessarily something that is built in 🤔

[2020-01-11 10:05] MonsieurMan commented on #42
IMO, if it exists it really should be separate of juniper. Relay is a spec
on top of GraphQL, so should it be for juniper and a Relay layer on top of
it.

Le ven. 10 janv. 2020 à 2:01 PM, David Pedersen <notifications@github.com>
a écrit :

[2020-01-11 11:58] davidpdrsn commented on #42
I guess that means someone can build a library crate for relay support?

[2020-01-12 19:19] monophthongal opened #492 "Using unsupported scalar types"
Hi,

The documentation indicates that if you want to use Juniper with built-in Rust scalar types other than i32, f64, String, and bool you can wrap them in a newtype. However doing this with existing structs that use the base types directly would mean rewriting a lot of existing code.

Are there any examples or documentation of how it might be possible to add support for using other types like i16

[2020-01-12 21:27] monophthongal commented on #492
I researched this more and realized the documentation for [ScalarValue](https://docs.rs/juniper/0.12.0/juniper/trait.ScalarValue.html) has the answer to my question.

Once you implement your new scalar value representation as described in the ScalarValue docs, you can then use `graphql_scalar!` with `where Scalar = MyScalarValue` as shown in [the Wundergraph code](https://github.com/weiznich/wunde

[2020-01-12 21:27] #492 closed

[2020-01-15 17:28] nickdeveloop opened #494 "Possible upgrade uuid to >= 0.8?"
Hello,

It is possible to upgrade the uuid deps to > 0.8?

Thanks

[2020-01-21 03:32] UkonnRa opened #495 "Enum structs in `input`"
**Describe the bug**
Say I want to put an enum struct into `input object`:

[code]

And I just got:

[code]

Which says `the trait `juniper::ast::FromInputValue<__S>` is not implemented for `Episode``? But why? I do implement `graphql_interface`, aren't I?

[2020-01-21 03:41] UkonnRa commented on #495
I found from [the spec](http://spec.graphql.org/June2018/#sec-Input-and-Output-Types) that the fields of an Input Object can only be `a Scalar, Enum, or Input Object type`. So if I want to pass an enum struct, the only solution is to pass an JSON/String or something and deserialize it after receiving it?

[2020-01-21 18:03] LegNeato commented on #2
This is landed on `master`! 🎉

There is still some cleanup work to do (and the book tests don't pass) but all the tests seem to be working with both the `async` feature and without it.

[2020-01-22 14:09] UkonnRa commented on #494
+ 1

[2020-01-23 05:20] GQAdonis opened #499 "Subscriptions Support with Actix"
When can we expect subscriptions support?

[2020-01-23 18:10] jeremyBanks opened #500 "Panic with certain nested fragments"
I'm using juniper with juniper-from-schema for my project's API. I have been
getting a panic when executing certain queries with nested fragments. The panic
is coming from
`LookAheadSelection::build_from_selection(...).expect("a child selection")` at
https://github.com/graphql-rust/juniper/blob/juniper-0.14.2/juniper/src/executor/mod.rs#L552-L557.

Here is a reduced panicking example using Rust 1.

[2020-01-24 00:06] librelois opened #501 "Add subscription support on graphiql"
It would be really nice to be able to test our subscriptions on graphiql.

It's possible, indications here: https://blog.apollographql.com/how-to-use-subscriptions-in-graphiql-1d6ab8dbd74b

[2020-01-24 03:17] LegNeato commented on #501
Thanks for the enhancement request! This looks like a good first bug.

[2020-01-24 03:19] LegNeato commented on #500
Thanks for the bug report! I hope to have time next week to take a look but anyone else should feel free to poke at it in the meantime.

[2020-01-26 14:08] UkonnRa opened #502 "`IntoFieldError` and `Into<FieldError>` have different behaviors"
**Describe the bug**
`FieldError::from` and `error.into_field_error` have different behaviors. The former one has no `extensions` field, but the latter one has.

**To Reproduce**
[code]

**Expected behavior**
The result should be the same.

**Actual bebavior**
[code]

I think `FieldError::from` should be a bug

[2020-01-26 14:18] UkonnRa opened #503 "Support experssions when using `juniper::graphql_value`"
Say I need to convert a Custom Error into `FieldError` with extensions, I will do:

[code]

However, this will not compile, maybe because the macro does not support varients...

One walkround is:

[code]

But of course, it's not as clear as the former one...

[2020-01-26 14:28] UkonnRa opened #504 "Support `serde_json::Value` as `juniper::object::Object`"
Say when writing a custom error:
[code]

I will return to the frontend as:
[code]

So I write:
[code]

But of course, it won't compile, for:
[code]

1. I think that `serde_json::Value` and `juniper::object::Object` should be convertable;
2. Maybe `HashMap<String, String>` and `juniper::object::Object` should be convertable;
3. `JSON` (mapped to serde_json::Value) scalar is needed

[2020-01-26 16:52] davidpdrsn commented on #503
But SomeError is an enum and doesn’t have fields arg1 and arg1. Don’t you have to match on ‘self’ to pull out the values?

[2020-01-26 16:57] davidpdrsn commented on #502
They aren’t meant to do the same. FieldError::from is provided by From from std. It only requires that your type and be converted into a string. There is no way to provide custom extensions. It is mostly provided for ergonomic purposes.

Users of juniper wouldn’t be able to implement From<CustomError> for FieldError since neither the trait nor FieldError is defined in the users own crate. That is

[2020-01-26 17:03] UkonnRa commented on #503
A false alarm, sorry...

[2020-01-26 17:16] UkonnRa commented on #502
But it's a little redundant when returning Errors.

Say a service:

[code]

If using `into_field_error`, I should write code like:

[code]

But the following code is far better:
[code]

[2020-01-26 17:26] UkonnRa commented on #503
Sorry, but the fllowing code won't compile also...

[code]

And the error is weird:

[code]

Using the latest nightly(`rustc 1.42.0-nightly (6d3f4e0aa 2020-01-25)`)

[2020-01-26 17:30] davidpdrsn commented on #502
I don’t exactly remember how the conversion works but do you have to explicitly call “.into_field_error()”? Doesn’t the macro insert that call for you? I might be mistaking and on phone right now so I cannot check. If not I’ll investigate later.

[2020-01-26 17:38] davidpdrsn commented on #503
Hm yeah that looks weird. I’ll look into it.

[2020-01-26 18:01] UkonnRa opened #506 "[main branch, async] `juniper::GraphQLTypeAsync<__S> is not satisfied` when generating custom scalar"
**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
No Error

[2020-01-26 18:37] UkonnRa commented on #506
I just checked the other intergrations (`uuid::Uuid`, etc.). The macro code are all the same, but `uuid::Uuid` just does not encounter the problem, the custom scalar does. Weird...

[2020-01-27 10:12] UkonnRa commented on #506
Well, you should impl `GraphQLTypeAsync` yourself, I think it is just a bug(or a miss).

[code]

[2020-01-27 13:09] UkonnRa opened #507 "`juniper::Value` cannot be equal if the order of fields are changed"
**Describe the bug**
`juniper::Value` cannot be equal if the order of fields are changed

**To Reproduce**
[code]

Will throw Error:
[code]

**Expected behavior**
These two should equal...

PS:
I just wondering why `juniper::Value` just use the serde one, but rewrite an **almost-the-same** one? Since GraphQL is totally based on JSON.

To convert between `serde_json::Value` and `juniper::Value`, I

[2020-01-27 14:28] LegNeato commented on #506
There are some weird interactions with features on master. I'm hoping to have some time this week to sort it all out. I believe if you use the `async` feature it should all work

[2020-01-27 18:30] mwilliammyers commented on #506
I also ran into this. It looks like `graphql_scalar!` is [disabled](https://github.com/graphql-rust/juniper/blob/824f329b0f23718fc996437aad76361a82e46453/juniper/src/macros/scalar.rs#L45) with the `async` feature enabled.

I am also going to look into just implementing `GraphQLTypeAsync` directly;  the macro has been a little bit of a pain point in my codebase tbh.

PS thanks everyone for all the

[2020-01-27 18:32] mwilliammyers commented on #504
I agree. See #325

[2020-01-27 18:35] mwilliammyers commented on #472
Yeah, in most cases it is easier to understand with a separate `From` impl; although for small and quick things (which is what I would use it for), I think it cuts down on the boiler plate and keeps things simple and clean.

[2020-01-28 03:58] LegNeato commented on #506
It's actually enabled further down:

https://github.com/graphql-rust/juniper/blob/824f329b0f23718fc996437aad76361a82e46453/juniper/src/macros/scalar.rs#L345

[2020-01-28 04:30] LegNeato commented on #507
Thank you for the report!

GraphQL does not require json. Juniper should be json agnostic, it merely requires serde. The server integrations currently require json but that is merely an implementation detail...you are free to use juniper and use another encoding / decoding scheme.

In GraphQL, field order matters to the server. See the spec:

http://spec.graphql.org/draft/#sec-Serialized-Map-Order

[2020-01-28 04:30] #507 closed

[2020-01-28 04:41] #506 closed

[2020-01-28 04:45] LegNeato commented on #506
Please reopen if the issue was not fixed!

[2020-01-28 04:51] LegNeato commented on #503
I bet you it is reading "type" as a keyword.

[2020-01-28 06:07] UkonnRa opened #509 "JSON Object/Map is not a valid input type"
**Describe the bug**
In [GraphQL Java](https://github.com/graphql-java/graphql-java-extended-scalars#object--json-scalars), JSON Scalar is supported, so I can write the following query:
[code]

But the same code in juniper will throw an error:
[code]

So JSON Object in input is not suppoerted yet?

[2020-01-28 06:48] UkonnRa opened #510 "Confusing about the escaped chars in String of InputValue"
Because now juniper does not support JSON scalar(#509), I have to pass a JSON Object using a piece of string, like:

[code]

And then I created a new Scalar type named `JsonValue`:
[code]

What I want is receiving a string like: `{"Github": "https://github.com"}`, but in fact, I get:
[code]

I wonder if this a feature? How can I pass the string from input object correctly?

[2020-01-28 07:22] davidpdrsn commented on #509
Why not just use a regular structured input type?

[2020-01-28 07:24] UkonnRa commented on #509
Because I want to send something like: `HashMap<String, String>`

[2020-01-28 08:04] davidpdrsn commented on #509
You could do something like this:

[code]

[2020-01-28 08:08] UkonnRa commented on #509
Cool! That's may help in my project. But I still hope that JSON Scalar in Input can be in consideration.

[2020-01-28 11:09] brokenthorn commented on #494
On the subject of upgrading deps, I also had problems with using `juniper` and `mongodb` because of different versions of `ring` (not pure Rust crate).

[2020-01-28 12:36] UkonnRa commented on #509
Wait, still get the `ParseError` even I changed to array?

[code]

Error:
[code]

[2020-01-28 16:17] davidpdrsn commented on #509
This works for me

[code]

---

Regarding allowing raw JSON as input type. I guess it would make sense if the spec says so, otherwise I would be reluctant to adding it. What do you think @theduke @LegNeato?

[2020-01-28 16:53] UkonnRa commented on #509
Now it works! It seems that there are some problems when writing a Scalar manually, so I just change the data structure. Sorry for bothering :-)

[2020-01-28 20:20] maxburke opened #513 "Support for warp-0.2?"
I notice that Warp 0.2 is out; is anyone at present working on support for this? Curious if I should take a stab at it myself if no one is...

[2020-01-29 06:43] LegNeato commented on #510
You appear to be using Rust raw string literals (`r#...#`) which means you do not need to escape `"` on the Rust side. See https://rahul-thakoor.github.io/rust-raw-string-literals/.

Do you still see the resulting slashes if you remove them from the Rust side? If so please reopen!

[2020-01-29 06:43] #510 closed

[2020-01-29 06:44] LegNeato commented on #509
See https://github.com/graphql/graphql-spec/pull/584.

[2020-01-29 06:48] LegNeato commented on #499
Follow https://github.com/graphql-rust/juniper/issues/54 and https://github.com/graphql-rust/juniper/pull/433!

[2020-01-29 06:48] #499 closed

[2020-01-29 06:49] LegNeato commented on #513
Would love a PR! I think it will simplify the `warp` integration code greatly.

[2020-01-29 06:51] LegNeato commented on #509
Also https://github.com/graphql/graphql-spec/issues/627.

[2020-01-29 06:52] LegNeato commented on #503
This is fairly trivial to repro locally. It can be a static call in the second position as well, it doesn't have anything to do with the "type" name either.

[2020-01-29 06:59] #494 closed

[2020-01-29 07:55] LegNeato commented on #513
Looks like this might already be a part of https://github.com/graphql-rust/juniper/pull/433/files#diff-e8ffeb0b59b8285ec303dc3a8a4703fe

[2020-01-29 09:14] nalply opened #515 "Better documentation for graphql_scalar"
**Is your feature request related to a problem? Please describe.**
I need a more complex scalar implementation because of validation. Validation is an application-wide concern, and I would like to implement some more features not related to GraphQL.

**Describe the solution you'd like**
The graphql_scalar macro is very complex, but neither Rust docs nor the Juniper book explain to what exactly the

[2020-01-29 10:00] nirman28 opened #516 "Implement GraphQLType for chrono_tz::Tz"
Following on from https://github.com/graphql-rust/juniper/issues/87

Since the chrono_tz crate is so popular, it's a pain not to have it implement GraphQLType.

We should implement it behind a feature flag, representing Tz with its name string.

[2020-01-29 12:00] davidpdrsn commented on #515
If you managed to solve your problem how do you feel about submitting a PR with improvements? I have personally not used the scalar type macro before so I wouldn't really know what users are missing.

[2020-01-29 13:39] jayy-lmao commented on #444
@MikailBag I'd be happy to make any requested changes to my demo repo and provide it as an example.

https://github.com/jayy-lmao/rust-graphql-docker

It currently uses dataloaders and has an emphasis on code structure. I welcome any feedback/critique.

[2020-01-29 16:22] nirman28 commented on #516
I'm happy to take the implementation for this.
It shall be similar to https://github.com/graphql-rust/juniper/issues/87

[2020-01-29 19:28] davidpdrsn commented on #516
Go for it 💪

[2020-01-29 19:39] nirman28 commented on #516
can you assign it to me, lest someone else might also spend time on it

[2020-02-03 16:37] brokenthorn commented on #167
AKA the GraphQL N+1 Problem #387 .

[2020-02-04 13:10] jadedevin13 opened #522 "impl ToInputValue for Uuid"
[code]
Sample codes

[code]

[2020-02-04 14:29] jadedevin13 commented on #522
[code]

[2020-02-04 14:41] davidpdrsn commented on #522
Which version are you using of UUID and Juniper? It works for me with

[code]

We recently [bumped the uuid version to 0.8](https://github.com/graphql-rust/juniper/pull/512) but that isn't shipped yet, and probably wont be until async is done. So if you're using uuid 0.8 are you able to use 0.7 for now?

[2020-02-04 14:50] jadedevin13 commented on #522
Confirming that I can use 0.7. Thanks.

Noob here and I'll appreciate it if you can explain how you made a workaround on creating a ToInputValue and FromInputValue implementation for Uuid. I tried it on my own and the following errors occur:

[code]

[2020-02-04 14:50] #522 closed

[2020-02-04 15:42] davidpdrsn commented on #522
What you've run into is called the "orphan rule". Basically it says that you can implement traits if either the trait or the type you're implementing the trait for is defined in your crate. What you're doing violates that rules because `ToInputValue` is defined in juniper and `Uuid` is defined in uuid.

If you were able to implement traits you don't own for types you don't own what should the comp

[2020-02-04 15:50] jadedevin13 commented on #522
That makes sense. I thought it was allowed only for the crate that owns the type (uuid) and not for the crate that owns the trait (juniper). Thanks

[2020-02-04 21:49] eeyun opened #523 "Tried to resolve async field on type Some("Mutation") with a sync resolver"
I'm hoping that this is just me being a dummy. I've been hacking with juniper  async for a couple days and got everything compiling and running. However at runtime when the `addPost`  mutation in my app gets called I get a panic  with an error like so:
[code]
Looking through the juniper_codegen crate I find myself confused about the codepath for async resolvers and I'm not confident enough to know

[2020-02-05 05:43] p-alik opened #524 "How warnings "deprecated item 'juniper::InputValue::<S>::as_string_value'" could be avoided?"
By using the `UserID` code snippet referred below compiler complains:

[code]

https://github.com/graphql-rust/juniper/blob/6a04b113e64d8088b3a034fd1971059c175006dd/juniper/src/macros/scalar.rs#L21-L37

How the code could be amended to avoid the warning?
Sorry for asking such silly question, but I couldn't figure it out by myself.

[2020-02-05 09:02] nalply commented on #515
I agree, Juniper could need help improving the documentation. Just today I stumbled over IntoResolvable, and when I looked at the API doc it was nowhere to found, so looked at the source and discovered this offending line:

https://github.com/graphql-rust/juniper/blob/824f329b0f23718fc996437aad76361a82e46453/juniper/src/executor/mod.rs#L235

I'll keep Juniper in mind as something where I really co

[2020-02-05 16:39] engylemure commented on #523
Are you using the async feature? after enabled you should change the usage of
[code]
for :
[code]

[2020-02-05 17:29] eeyun commented on #523
I'm using the async feature with warp 1.20. You put me on the right track... I was calling the synchronous filter method in juniper_warp... omg. Thank you..

[2020-02-05 17:29] #523 closed

[2020-02-06 15:18] bryanburgers opened #525 "Allow argument documentation"
**Is your feature request related to a problem? Please describe.**

I like to provide clear documentation to my end users about everything in the schema, and this includes arguments.

**Describe the solution you'd like**

As of Rust 1.39, attributes are allowed on parameters. rust-lang/rfcs#2565.

I would like to see these used to provide documentation for arguments.

[code]

**Describe alternativ

[2020-02-11 21:46] jkoudys opened #528 "Remove 'a lifetime on GraphQLError type"
Including lifetimes on error types introduces huge overhead and greatly reduced flexibility for their use. Especially with the `?` now in common use, `into`ing the Error type based on the `Result` returned by the function becomes extremely difficult when you have to preserve its lifetime.

I'm happy to write a PR myself, but want some feedback on the best place to remove it. Right now, it's simply

[2020-02-11 23:51] arlyon opened #529 "Send not implemented when using actix_web server + client with juniper"
**Describe the bug**

When trying to use the actix_web client inside an impl decorated with `graphql_object`, a number of errors pop up regarding sending futures between threads.

This is on master with the async feature enabled.

[code]

**To Reproduce**

I created a minimum reproducing repository here, based on the actix web example: https://github.com/arlyon/examples/tree/juniper-actix-error/ju

[2020-02-13 08:12] LegNeato opened #531 "Resolve crashes in CI for Github Actions"
We are now seeing crashes in GitHub CI across all platforms and Rust versions. Tracking in https://github.com/rust-lang/rust/issues/69121

[2020-02-14 15:03] jxs opened #532 "execute_validated_query_async is using std::sync::RwLock"
[`execute_validated_query_async`](https://github.com/graphql-rust/juniper/blob/master/juniper/src/executor/mod.rs#L745) is using `std::sync::RwLock` which blocks the thread while waiting to read/write, this will probably block the whole runtime if running under tokio's [`basic_scheduler`](https://docs.rs/tokio/0.2.11/tokio/runtime/struct.Builder.html#method.basic_scheduler).

Both [`tokio`](https:

[2020-02-16 06:02] iho commented on #501
+1

[2020-02-16 23:53] arturh85 commented on #3
In his recent talk @LegNeato had a code example at https://youtu.be/QXJ0wKBLt-8?t=1377 that does not seem to be implemented:

[code]

I cannot find this function anywhere, but it would be nice to have.

[2020-02-16 23:56] davidpdrsn commented on #3
I believe this PR has the functionality https://github.com/graphql-rust/juniper/pull/324

[2020-02-17 05:45] LegNeato commented on #3
Sorry, been lagging on merging it. Will get to it this week!

[2020-02-18 05:22] thedodd opened #534 "Need to add a `use futures;` statement to object derive w/ async feature."
**Describe the bug**
On the master branch, using the `async` feature, use of the derive macro `#[juniper::graphql_object(...)]` will cause a compilation error stating that `futures` is not in scope. Looks like this just needs a `use futures;` somewhere in the macro.

**To Reproduce**
Just pop a `#[juniper::graphql_object(...)]` on any valid struct with the `async` feature enabled, and don't `use f

[2020-02-18 19:02] samuela commented on #534
I think this might be why `cargo test` is failing on 547cf3e36fa0532476295186b86954fab3a258f6 too:
[code]

[2020-02-18 19:56] samuela opened #538 "juniper_hyper example code doesn't work"
**Describe the bug**
I'm trying to follow along with the juniper_hyper example code, but it doesn't compile outside of the main project. It looks like juniper_hyper is somehow pulling in an old futures-rs version (0.1.29). Using some RLS source jumping I can see that I jump from

[code]
in `juniper_hyper-0.5.2` to
[code]
in `futures-0.1.29`. I'm guessing that this version of futures-rs predates `s

[2020-02-18 19:59] samuela commented on #538
Looks like the futures version at the time of the last juniper_hyper release (9ce73970500937df7dc10aace1b7907fbc24bb6b) is the problem: https://github.com/graphql-rust/juniper/blob/9ce73970500937df7dc10aace1b7907fbc24bb6b/juniper_hyper/Cargo.toml#L18. So really we just a new version of juniper_hyper to be released.

[2020-02-18 20:02] samuela commented on #295
Forgive me if this is a noob question, but what's the difference between macros and proc macros?

[2020-02-19 18:22] samuela opened #539 "master version of the book is not up-to-date with master"
**Describe the bug**
I just noticed that the master version of the book (https://graphql-rust.github.io/juniper/master/index.html and linked to from https://github.com/graphql-rust/juniper/blob/master/README.md) is not actually up-to-date with the contents of `docs/book`.

**To Reproduce**
In particular the code blocks in https://graphql-rust.github.io/juniper/master/schema/schemas_and_mutations.h

[2020-02-21 00:27] LegNeato commented on #538
There is an open PR to update the example to latest futures

[2020-02-21 04:53] #534 closed

[2020-02-21 05:31] #415 closed

[2020-02-21 05:35] LegNeato commented on #469
@davidpdrsn should this one be closed out?

[2020-02-21 05:47] LegNeato opened #544 "Re-enable interface tests in the book"
These were disabled in https://github.com/graphql-rust/juniper/pull/543. Once `juniper::graphql_interface` is implemented, re-enable.

[2020-02-21 06:17] LegNeato commented on #539
I believe this should be fixed when https://github.com/graphql-rust/juniper/pull/543 lands.

[2020-02-21 06:25] LegNeato commented on #525
I believe this will be enabled by https://github.com/graphql-rust/juniper/pull/441, right @davidpdrsn ?

[2020-02-21 06:27] #539 closed

[2020-02-21 06:53] LegNeato commented on #531
I have disabled Github Actions in the UI until this is resolved.

[2020-02-21 06:57] LegNeato commented on #453
See https://github.com/graphql-rust/juniper/issues/531

[2020-02-21 15:12] davidpdrsn commented on #525
Not sure. I will add it as a todo to look into.

[2020-02-21 15:15] davidpdrsn commented on #469
Yep.

[2020-02-21 15:15] #469 closed

[2020-02-21 16:54] UkonnRa commented on #509
Well, I think that's two different things. The RFC want to implement ADT in GraphQL DSL, which is way much harder. What I'm wanting is just a general JSON scalar type

[2020-02-21 16:57] UkonnRa commented on #509
In fact, https://github.com/graphql-rust/juniper/pull/325 is exactlly what I want, hoping this PR can move on...

[2020-02-24 16:45] p-alik commented on #524
I figured it out.

[2020-02-24 16:45] #524 closed

[2020-02-24 17:26] rivertam commented on #2
Should this issue not be closed then?

[2020-02-24 17:36] kiljacken commented on #2
I believe that it wouldn't make sense until async support is in a release on crates.io

[2020-02-27 11:38] craiga opened #546 "panic `resolve() must be implemented by non-object output types` with badly formatted query"
**Describe the bug**

A badly formatted query can result in a panic: `resolve() must be implemented by non-object output types`.

**To Reproduce**

Using the API at https://github.com/MHRA/products/tree/4b8712cb9f7b1b15d3f120db8792d4033586343e/medicines/api, I was trying to use the following query:

[code]

In GraphiQL, this shows:

[code]

On the server, we see:

[code]

**Expected behavior**

An

[2020-02-28 09:04] davidpdrsn commented on #546
Thanks for the bug report! Sounds like this should have been caught in the query validation phase. Does running [this](https://github.com/MHRA/products/tree/4b8712cb9f7b1b15d3f120db8792d4033586343e/medicines/api) to reproduce the bug require anything besides Rust? It would be nice to have a simple way to reproduce it that didn't require lots of dependencies.

[2020-02-28 17:21] Victor-Savu commented on #525
Using attributes to document parametrs would be great! However, it should not hold back #441. If I am not mistaken, it is a backwards-compatible feature, it can be added in later without breaking anything.

[2020-02-29 13:57] Victor-Savu opened #547 "List of integrations does not match the book page order"
**Describe the bug**
In the book, the [Adding a Server](https://graphql-rust.github.io/juniper/master/servers/index.html) and [Official Server Integrations](https://graphql-rust.github.io/juniper/master/servers/official.html) pages both list the official server integrations with links to subsequent pages in the book that describe the individual integrations. However, the order in both those lists

[2020-03-01 09:10] UkonnRa opened #549 "Macro `#[juniper::graphql_union]` does not impl `GraphQLTypeAsync`"
**Describe the bug**

In the [master branch](https://github.com/graphql-rust/juniper/blob/a0b854f31c586fcf786f7ff1d5d563c5ce2d8b79/juniper_codegen/src/impl_union.rs#L155), bacause macro `juniper::graphql_union` does not impl `GraphQLTypeAsync`, the async function is not usable

[2020-03-02 08:57] #547 closed

[2020-03-03 22:36] DaleLJefferson opened #550 "Is it possible to get Juniper and graphql-client working together?"
I'm building a website that exposes a graphQL api but I would also like to use the graphQL api server-side. I assumed graphql-client would work with juniper since they are related projects but I can't seem to work out how to wire them up.

[code]

[code]

Also, the Juniper Value does not work with `serde_json::from_value(res)`

[2020-03-03 22:39] DaleLJefferson commented on #538
I ran into this issue, using the master branch fixed the problem.
[code]

[2020-03-05 07:35] pbartyik opened #551 "use of unstable library feature 'rustc_private' when building juniper"
**Describe the bug**
Attempting to follow [hyper example](https://github.com/graphql-rust/juniper/blob/master/juniper_hyper/examples/hyper_server.rs), but upon `cargo build` I get the compile error

**To Reproduce**
Steps to reproduce the behavior:
`rustup show`

rustup home:  /home/user/.rustup

rustc 1.43.0-nightly (4ad624882 2020-03-03)

Cargo.toml:
[code]
main.rs:
[code]

`cargo build`
[code]

[2020-03-06 07:46] LegNeato commented on #2
Interfaces still don't work and we need to rip out the sync code. Keeping this open until those are done and a release is made.

[2020-03-09 01:27] Victor-Savu opened #553 "Automatic getters for `#[graphql_object]`"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to replace:
[code]
by
[code]

because I lose the nice default field accessor for `name` and I have to manually add
[code]
**Describe the solution you'd like**
I'd like for `#[derive(juniper::GraphQLObject)]` and  `#[juniper::graphql_object]` to work together so I don't have to add the dummy accesso

[2020-03-09 05:32] LegNeato commented on #174
We will not be using `failure`.

[2020-03-09 05:32] #174 closed

[2020-03-09 05:43] LegNeato commented on #553
Could have sworn we had an enhancement request for this alrteady but can't find it. I agree this would be very nice to have.

As a workaround you can make your own macro or derive that spits out a `#[juniper::graphql_object]` for you with the boilerplate included.

[2020-03-09 05:46] LegNeato commented on #550
When https://github.com/graphql-rust/juniper/pull/324 it lands should be easier in 2 passes. I'm not sure we can do it at compile time...juniper needs to build and know the schema before the client can be generated.

[2020-03-09 12:38] pbartyik commented on #551
when attempting to build on stable:

[code]

[2020-03-09 14:49] pbartyik commented on #551
to my future self and whoever else stumbles upon this, the solution is to add serde_json as a feature in your project's Cargo.toml for juniper.

[2020-03-09 14:49] #551 closed

[2020-03-09 19:09] Victor-Savu commented on #553
@LegNeato Thanks for the quick reply! I quickly went through all of the open items before posting just because I was really expecting to see this issue :) I hope I didn't miss anything and if I did I'm sorry.

I will have a look at how to achieve that with my own macro for now. Would it be useful to leave this item open and see if anyone else may want this feature?

[2020-03-09 19:20] LegNeato commented on #553
Yep!

[2020-03-10 07:22] pbartyik commented on #538
@DaleLJefferson when I set juniper to git  I get the following build error:
[code]

also the async feature is not in juniper

[2020-03-10 07:29] LegNeato commented on #538
I just removed the async feature yesterday

[2020-03-13 18:36] DrYSG opened #560 "QuickStart with Warp"
I am having a bit of trouble getting started with Warp and Juniper. Perhaps I could help improve the documentation?

**Cargo.toml**
[code]

I cut and pasted the main.rs from: https://github.com/graphql-rust/juniper/blob/master/juniper_warp/examples/warp_server.rs

and these are the errors I get (which clearly indicates that I do not know what crates/modules you are expecting, but this page seemed

[2020-03-14 01:59] LegNeato commented on #560
Hmmmm, I'm sure we can figure this out, thanks for the report! What command are you running? Does enabling the `expose-test-schema` feature make it work?

[2020-03-14 05:56] LegNeato commented on #538
I'm going to close this, feel free to comment or open a new issue if you think this is in error!

[2020-03-14 05:56] #538 closed

[2020-03-14 06:04] l4nn1312 opened #566 "Example with multiple objects with actix-web"
Howdy! Could I see an example of using this library with actix-web when there are multiple objects? Thanks!

[2020-03-14 14:43] tosti007 commented on #138
@tailhook considering this issue was opened more than 2 years ago. Would the progress on [graphql-parser](https://crates.io/crates/graphql-parser) be sufficient to fully replace the the current parser? I.e. what is the current status of this issue?

[2020-03-14 22:06] kemicofa commented on #560
@LegNeato I got the same issue, but after I took a similar structure from your `Cargo.toml` it worked.

[code]

[2020-03-16 03:29] LegNeato commented on #560
Yeah, the key is `features = ["expose-test-schema", "serde_json"]` I believe.

[2020-03-16 04:37] LegNeato commented on #566
Hello! Take a look at https://github.com/lucperkins/rust-graphql-juniper-actix-diesel-postgres and let me know if that doesn't answer your question. Good luck! 💪

[2020-03-16 04:37] #566 closed

[2020-03-17 17:23] DrYSG commented on #560
Ok, This is working great for me. As an aid to newbies you may want to also refer folks to the model for the schema:  https://github.com/graphql-rust/juniper/blob/master/juniper/src/tests/model.rs

As well as update the Readme for juniper_warp (although I am already using the new async  subscribe branch in my code): https://github.com/graphql-rust/juniper/tree/master/juniper_warp

[2020-03-17 17:23] #560 closed

[2020-03-17 19:58] SirWindfield opened #570 "Allow implementations of ScalarValue instead of DefaultScalarValue"
**Is your feature request related to a problem? Please describe.**
It is currently not possible to use `juniper_rocket` related types (e.g. `GraphQLRequest`) with custom implementations of `ScalarValue`. In my use-case, I am using `wundergraph` but get compilation errors when using `juniper_rocket` related function parameters, as the expected value has to be of type `juniper::DefaultScalarValue` a

[2020-03-17 22:10] SirWindfield commented on #570
Ups, user error :smile:

[2020-03-17 22:10] #570 closed

[2020-03-18 05:35] LegNeato commented on #549
Yep, unions and interfaces are not supported yet on master.

[2020-03-18 05:36] LegNeato opened #571 "Make `graphql_scalar` a proc macro"
Make `graphql_scalar` a proc macro to match everything else...currently it is only a macro with some wonky syntax.

[2020-03-18 22:23] SirWindfield opened #573 "Published version has incorrect serde_json dependency"
**Describe the bug**
The uploaded version on crates.io has a missing dependency declaration for the `expose-test-schema` feature, resulting in compilation errors when enabling the feature.

**To Reproduce**
Add juniper as a dependency and enable the feature.

**Expected behavior**
The project compiles without problems.

**Additional context**
The feature is enabled because I am developing a librar

[2020-03-18 23:00] estebanborai commented on #378
Worked for me!
The following is my Cargo.toml:

[code]

[2020-03-19 03:34] LegNeato commented on #513
This is now on `master`.

[2020-03-19 03:34] #513 closed

[2020-03-19 03:36] LegNeato commented on #54
This has landed on `master`! Please check it out and give feedback on usage. Thanks a **ton**  @nWacky and @tyranron ! 🍻 🍾 ❤️

[2020-03-19 03:36] #54 closed

[2020-03-19 03:38] LegNeato commented on #529
Is  this fixed with the latest master?

[2020-03-19 03:41] #254 closed

[2020-03-19 05:31] LegNeato commented on #573
We're likely not going to push another release for this. You should be able to add serde_json yourself.

[2020-03-19 05:31] #573 closed

[2020-03-19 08:17] SirWindfield commented on #573
I just saw that this has been fixed on master already.

[2020-03-19 15:51] AurelienFT commented on #513
Warp 0.2 is an important update is that possible to release a new version of `juniper_warp` for the support of warp 0.2 please ?

[2020-03-19 16:28] LegNeato commented on #513
There are still some outstanding work items to do before we can push a release.

[2020-03-19 18:04] jadedevin13 opened #575 "Custom Scalar"
[code]

[2020-03-19 18:04] jadedevin13 opened #576 "Custom Scalar"
[code]

[2020-03-19 18:04] jadedevin13 opened #577 "Custom Scalar"
[code]

[2020-03-19 18:04] jadedevin13 opened #578 "Custom scalars can't be use in graphql input objects"
[code]

produces the following error

[code]

[2020-03-19 18:08] #575 closed

[2020-03-19 18:08] #576 closed

[2020-03-19 18:08] #577 closed

[2020-03-19 18:12] LegNeato commented on #578
This test should have everything you need:

https://github.com/graphql-rust/juniper/blob/82b77594cebb29d0616e1e3e4aae45df8c3ac589/integration_tests/juniper_tests/src/custom_scalar.rs

Let me know if you don't figure it out.

[2020-03-19 18:14] jadedevin13 commented on #578
That's exactly where I copied the codes. Thanks, I'll look into it again.

[2020-03-19 18:27] jadedevin13 commented on #578
Hi @LegNeato, the test broke when I tried to use the scalar in input.

[code]

I added the codes above in the custom_scalar.rs

[2020-03-19 22:33] arlyon commented on #529
Hey thanks for getting back to me, for the moment I'm still getting errors:

[code]

I have for the moment swapped out actix for reqwest / warp which has been working very nicely.

[2020-03-20 01:09] LegNeato commented on #578
You can set a custom scalar, does this example help?

https://github.com/graphql-rust/juniper/blob/master/integration_tests/juniper_tests/src/codegen/derive_input_object.rs#L89

[2020-03-20 04:08] jadedevin13 commented on #578
I added `#[graphql(scalar = "MyScalarValue")]` and it still produced the same error. I tried it in master branch and it worked.

[2020-03-20 12:20] olvyko opened #580 "#[juniper::graphql_object] != #[derive(juniper::GraphQLObject)]"
Code like this in master branch:
[code]
Produce an error:
[code]

But code like this works:
[code]

[2020-03-20 13:47] jadedevin13 commented on #578
There still are errors about this. I also had to do this for the RootNode

[code]

One thing I still not yet solve is how could I change it in the field error.

![image](https://user-images.githubusercontent.com/6671182/77169366-53e06200-6af4-11ea-97fb-63e17f337f9a.png)

to solve the problem

[code]

[2020-03-20 16:38] LegNeato commented on #580
You need to add "value" as an async function.

This will be fixed when I rip out the sync resolvers or make the derive use sync rather than async resolvers. Happy to accept a patch for the latter.

[2020-03-20 19:16] jadedevin13 commented on #578
I'm getting the same issue as #506 now, but the error is for GraphQLInputObject

[code]

[2020-03-20 19:20] jadedevin13 commented on #578
Here's the code

[code]

[2020-03-20 20:22] jadedevin13 commented on #578
Solved.

[code]

[2020-03-20 20:22] #578 closed

[2020-03-20 20:33] jadedevin13 commented on #549
This doesn't work in custom scalars as well.

[2020-03-21 01:09] LegNeato commented on #529
Cool, I haven't used actix before  so not sure what is going on. I'll try to poke at it eventually if other folks don't beat me to it.

[2020-03-21 03:54] LegNeato opened #581 "Remove sync code"
We should remove all the sync machinery in favor of async-only. While it might be useful to use sync in some cases the small perf benefit(?) probably isn't worth the code complexity.

[2020-03-24 06:31] spacemeowx2 opened #584 "Better way to negotiate the WebSocket protocol"
https://github.com/seanmonstar/warp/issues/496

In the `warp_subscriptions` example, the playground cannot connect to the server via WebSocket because the WebSocket implementation in `wrap` has a unconfigurable `Sec-WebSocket-Protocol` header. Currently we can do a workaround adding the header manually.

[2020-03-24 10:26] IcanDivideBy0 commented on #480
Looks like on master all fields are automatically converted to camelCase now.
I guess we can close this?

[2020-03-24 17:36] arlyon opened #586 "graphql_union from tagged union of structs"
**Describe the solution you'd like**

It would be cool to be able to define GraphQL unions like so:

[code]

I understand the current implementation is quite similar already, however it would be cool if we could pull the boilerplate into the macro somehouw..

**Describe alternatives you've considered**

This would be an alternative (and more ergonomic) alternative to the current implementation. He

[2020-03-24 18:05] arlyon commented on #549
All the tests pass on my machine with a small change to a lifetime:

[code]

[2020-03-25 00:22] LegNeato commented on #586
Oooh, I like it!

[2020-03-26 15:54] tosti007 commented on #451
Considering the TODO is removed, this issue can be closed.

[2020-03-26 16:32] #451 closed

[2020-03-27 00:48] LegNeato opened #588 "Document subscriptions in the book"

[2020-03-27 15:30] spacemeowx2 opened #589 "juniper_warp: panic when connection reset"
**Describe the bug**

thread 'tokio-runtime-worker' panicked at 'Websocket receive error: WebSocket protocol error: Connection reset without closing handshake', ...\.cargo\git\checkouts\juniper-aa5e857cd28538c7\cab6dec\juniper_warp\src\lib.rs:495:46

**To Reproduce**

Not sure. But I guess reset a connection when sending websocket frame could reproduce.

**Expected behavior**

Don't panic because

[2020-03-27 15:35] LegNeato commented on #589
@nWacky

[2020-03-28 01:31] huseyinyilmaz opened #590 "Current version of juniper_hyper example is not working."
Hello,
I am trying to use this example as a starting point to a project but it is giving me bunch of errors.
https://github.com/graphql-rust/juniper/blob/6e4bc127b05dc29f7832cbf468c9fb2bc18f78ec/juniper_hyper/examples/hyper_server.rs
After looking more closely I realized that this is not working because last version on hyper_juniper did not have async support.
https://github.com/graphql-rust/junip

[2020-03-28 04:40] LegNeato commented on #590
Does using master for both work? Either the latest releases need to be used together or the latest master of both.

[2020-03-28 06:10] huseyinyilmaz commented on #590
Here is the original example with current master branch:

https://github.com/huseyinyilmaz/juniper_test/tree/sample

With this I realized that module structure was changed. So I tried to put something together from juniper book examples and I ended up with this branch:
https://github.com/huseyinyilmaz/juniper_test/tree/master

This version is also not working.

[2020-03-28 21:02] LegNeato commented on #590
Ah! `graphql_object!` does not exist on master. Instead use the `juniper::graphql_object` proc macro.

[2020-03-28 21:02] #590 closed

[2020-03-28 21:42] nWacky commented on #589
@spacemeowx2,

I looked it up.

For now it's unclear how to handle errors when dealing with channels. For now, it creates a new channel which returns all messages to end user and keeps executing logic inside `ForEach` future. Because `ForEach` expects return type of `Future<Output = ()>`, it's not possible to return errors in there => it's not possible to return errors for now (a potential workaro

[2020-03-29 05:12] LegNeato commented on #589
Would an optional dependency using https://github.com/tokio-rs/async-stream help?

[2020-03-29 08:25] spacemeowx2 commented on #589
What about using [`fold`](https://docs.rs/futures/0.3.1/futures/stream/trait.StreamExt.html#method.fold) instead of `for_each`?

[2020-03-29 13:25] nWacky commented on #589
`fold` worked, didn't think of it.

#591 should resolve the issue

[2020-03-29 16:04] Victor-Savu commented on #553
I tried looking into rolling my own macro for generating the necessary fields and found a few things that I wanted to share in case you or someone else has an idea for how to best approach this.

The first problem I ran into was that I could not solve this problem with a derive macro. In order to have  since derive macros only apply to either the `struct` item or to the `impl` item so it would be

[2020-03-29 18:48] TanaseHagi opened #593 "Error handling for input object types."
How does one do error handling for input object types?

The example below is for object types, but there is no example for input object types.
https://graphql-rust.github.io/juniper/master/types/objects/error_handling.html

I am just beginning with rust so please excuse me if the solution is obvious.

Thanks.

[2020-03-31 03:43] #589 closed

[2020-04-01 18:08] LegNeato commented on #593
I'm fairly positive that for any input object that cannot be automatically deserialized via `serde` (https://serde.rs) into the rust type, `juniper` returns an execution error.

It is then up to you (or the http server library integration) to decide how to send that error back to the client.

Please let me know if this doesn't work!

Please try it and let me know if that is not the case. Welcome t

[2020-04-01 18:08] #593 closed

[2020-04-03 07:53] Dispersia opened #600 "Unable to add custom attributes on fields"
**Is your feature request related to a problem? Please describe.**
Unable to add custom proc_macro_attribute's to fields, so can't do any rewrite logic

**Describe the solution you'd like**
juniper::graphql_object to keep custom attributes, not just the graphql(description/deprecation) ones

**Describe alternatives you've considered**
Having the proc macro go over the entire impl, then defining at

[2020-04-04 16:02] RemiKalbe opened #601 "expected `()`, found struct `Context`"
Hi,

I'm using Actix and I'm trying to set a context.
I've done the following

[code]
I've done that by following what they did https://github.com/clifinger/canduma/blob/master/src/graphql/handler.rs and https://github.com/LantosTG/rust_site/blob/master/src/main.rs

But sadly I'm getting the following error:

[code]
I have no idea what I did wrong 😳

[2020-04-04 18:59] andrisak commented on #571
I'd like to give this a try.

[2020-04-04 19:57] biot023 opened #602 "Composing an error response"
Hi -- I'm validating an input object to an update mutation.
It would be really great if I could compose the `extensions` object of the `FieldError` to look something like this:

[code]

My attempts to compose a `Value::Object` to match that were (I think) successful but I failed when I tried to substitute it to the `extensions` bit of `FieldError::new`.
Am I misunderstanding what the `extensions`

[2020-04-04 20:40] andrisak commented on #571
Would this be a suitable approach?

Create a new trait that gets the information needed for the macro:
[code]

Then implement the trait for the custom scalar type when using the new macro:
[code]

[2020-04-05 06:38] LegNeato commented on #571
Close! We'll want to to be a proc macro, not a macro (so annotate with `#[juniper::graphql_scalar]` not the macro `juniper_graphql!`).

We have a general function to parse an `impl` block and handle a lot of this.fkr example, the description can be pulled from doc comments rather than making it part of the proc macro.

Also, take a look at how `graphql_object` is implemented.

[2020-04-05 06:39] LegNeato commented on #600
Yep, we should totally do this.

[2020-04-05 06:39] LegNeato commented on #601
Does https://github.com/graphql-rust/juniper/pull/603 help?

[2020-04-05 06:42] LegNeato commented on #602
Does the example at https://graphql-rust.github.io/juniper/master/types/objects/error_handling.html#structured-errors help?

[2020-04-05 07:46] engylemure commented on #601
@RemiKalbe Can you show your schema definition? it seems that your problem is related to the Context itself being a empty tuple in the RootNode usage for the Schema type definition

[2020-04-05 10:50] RemiKalbe commented on #601
@engylemure
Ok so It works now. I didn't know I was forced to add that
[code]
I just stopped at the error, thinking I did something wrong there, or that the API changed, I didn't want to go further.
It's a bit confusing when you are new to rust.

Anyway thank you 🙏

[2020-04-05 10:50] #601 closed

[2020-04-05 11:39] biot023 commented on #602
Hi @LegNeato, thanks for the reply.
Those docs don't really help, sorry. What I need to be able to do is to build up an error based on whether various input fields are deemed valid or not.
So something like:

[code]

The examples in the docs just show you how to build a static structure, I need to build one procedurally.
I have an ugly hack of just listing them in the error description for the tim

[2020-04-06 18:01] Ekzer opened #605 "Async support for Interfaces is not implemented on master"
Hi there!
I am getting troubles to make this simple piece of code working :
[code]

I a getting this error :
[code]

Thank you for your help in advance !
Best regards

[2020-04-06 19:18] LegNeato commented on #605
Are you using master? Interfaces have yet to be ported to async master and thus don't currently work on master.

[2020-04-06 21:34] Ekzer commented on #605
Hi @LegNeato ,
I am using the async one yes.
`juniper = {git = "https://github.com/graphql-rust/juniper", features=["async"]}`

So I have to go back on classic master if I understood well ?

[2020-04-08 14:46] drbh opened #607 "GraphQLRequest from a string?"
Great work on this library!

I'm having trouble parsing a string into a GraphQL request..

I basically want to make a new request from inside an internal protocol and all of the documentation I've found covers direct deserialization from an HTTP request.

I've tried the following but I get an error
[code]

Is there any documentation or examples that someone can point me to?

Thanks 🙂

[2020-04-08 14:47] engylemure commented on #588
I'm interested in doing it but i don't know from where to start...

[2020-04-08 15:15] drbh commented on #607
solved - but updating for anyone who has a similar need

I just needed to set the type as a `DefaultScalarValue`

[code]

[2020-04-08 15:15] #607 closed

[2020-04-08 18:35] japsu commented on #560
Could you please make an out-of-tree example? Meaning one that is a crate of its own and not part of the `juniper_warp` crate. This would mean it easier to start developing a server that uses `juniper_warp` as dependencies would already been laid out in a way that does not use `path` references.

[2020-04-09 19:56] andrisak commented on #571
I've created a WIP PR just to verify the approach. What do you think?

[2020-04-10 08:00] LegNeato commented on #605
Either you need to use the latest release on crates.io (which is sync but has interfaces and unions) or you need to wait until master has support for interfaces (happy to take a PR as well!).

Also, you should be able to delete `features=["async"]` with latest master.

[2020-04-10 08:01] LegNeato commented on #605
Related to https://github.com/graphql-rust/juniper/issues/549

[2020-04-10 08:17] Ekzer commented on #605
Thank you for your clear answer !
I will give a try then to give async support for interface, good challenge for me as I'm relatively new to this language :)

[2020-04-10 08:41] LegNeato commented on #602
You could do something like:

[code]

As is standard in GraphQL and [mentioned in the book](https://graphql-rust.github.io/juniper/master/types/objects/error_handling.html#structured-errors :
), for every field that fails with a `FieldError` it is added to the `errors` array and the structured key/value pairs for the error are put in extensions as-is (again, following the GraphQL spec):

[code]

P

[2020-04-10 08:45] LegNeato commented on #602
You could also just build the key/value object and then generate the `FieldError` directly with the aggregate values as the second arg to `new()`.

[2020-04-10 15:43] biot023 commented on #602
@LegNeato
Ah! I see! So what I really need to do is to be able to raise an error for every failed field.
Which suggests to me that I'm probably doing something fundamentally wrong.
I have an update input that has one method `apply()` that validates each field procedurally before running the update. The first validation to fail will raise an appropriate error but that will immediately exit with the

[2020-04-11 13:38] Victor-Savu commented on #553
Alternatively, I had an idea how to just make `#[derive(GraphQLObject)]` and `#[graphql_object])` work together, but the implementation depends on rust-lang/rfcs#1210.

Here is the general design:
We can have two intermediate traits:
- `GraphQLData` derrived from the struct/enum by `#[derive(GraphQLObject)]`; and
- `GraphQLImpl` the implementation of which is generated by  `#[graphql_object])` fro

[2020-04-11 15:46] Victor-Savu commented on #553
The downside of the design in [my comment above](https://github.com/graphql-rust/juniper/issues/553#issuecomment-612423320) is that `impl GraphQLData` becomes necessary even for cases where users don't want to expose some (or any) of the fields in a `struct`. Also, it is needed for rust enums as well. A hopefully convenient way to solve this is to provide default implementations for the methods in

[2020-04-12 07:38] RyuuGan commented on #467
Hello,

Any updates on this ?

[code]

I also trying to use it as in @andy128k example

[2020-04-12 14:03] RyuuGan commented on #467
Hello,

I found a workaround, so it will compile and work as expected. The idea is that you don't use `#[juniper::object]` inside the `#[derive(GraphQLObject)]`, but what you can do is define all objects as `#[juniper::object]`. Yes it is a little bit ugly to define all the methods, but at least it works.

So instead of:

[code]

You define:

[code]

[2020-04-12 15:23] thekuom commented on #501
@LegNeato I would like to work on this since it doesn't look like anybody has started yet

[2020-04-13 07:42] sagiegurari commented on #531
I wonder if this was a temporary thing which is now resolved.
i moved all my projects to github actions and they are all working well (stable, beta, nightly and specific version).

[2020-04-13 07:43] ozer opened #620 "How to Use GraphQLInterface Type as Return Type in QueryRoot"
Hey folks,

I'm working on the implementation of GraphQL Node Concept using Interfaces. I've got two Graph Object Types called Streamer and Session which are also extended by Node interface and I need to be able to run the below query(It works but I cannot return `Node` as it's a trait). I'm a Rust noobie so, I might have done terrible mistakes. I am not too sure whether it's a bug or not so I ope

[2020-04-14 02:10] dynaxis commented on #7
@dbettin so could you share me which route you took for your case? I have a similar requirement.

[2020-04-14 21:20] jmpunkt commented on #553
Another possibility is to use handler functions. The user defines structures which contain data and handler fields. For each data fields code is generated. A Handler field references a function, similar to Serde. However, this could require to remove non-async code first, because we can not distinguish between async and non-async functions.

[code]

Maybe this approach fits better, but I am not su

[2020-04-15 07:58] #586 closed

[2020-04-16 06:59] LegNeato commented on #620
Note that interfaces are not yet supported in async master, only on the latest sync crates.io release.

In the book, it explains the three different ways you can define interfaces...sounds like you want the trait way:

https://graphql-rust.github.io/juniper/current/types/interfaces.html

[2020-04-16 06:59] #620 closed

[2020-04-16 06:59] LegNeato commented on #620
Let me know if that doesn't answer your issue!

[2020-04-16 08:23] ozer commented on #620
hey @LegNeato ! Many thanks for your message and time.

I've read the docs and I created my `Node` interface according to it. The issue I have is I need to return my interface type as a field in the query root. such as below:

`Node trait`
[code]

`Streamer graph type`
[code]

`Session graph type`
[code]

`Node interface`
[code]

QueryRoot
[code]

![image](https://user-images.githubusercontent.com

[2020-04-16 09:44] EituKo commented on #600
Hi, we'd like to implement this too!
We already discussed it [here](https://github.com/graphql-rust/juniper/issues/447) and started looking at how it could be done but didn't go much further, it would be great if we could eventually collaborate to make this possible.

[2020-04-16 12:57] Victor-Savu commented on #553
@jmpunkt This sounds great as well! The design space for this problem seems bountiful.

I think if we can tolerate a bit more typing, we can specify when a handler is synchronous. The default could be async:

[code]

[2020-04-16 14:37] meh opened #622 "Is there any way to centrally modify a field error before it's returned?"
For instance on the non GraphQL side of things I use `HttpApiProblem` and convert from an `anyhow::Result` into more meaningful responses, or fail with an internal server error if the error isn't supposed to bubble up to the user.

Is there anything I can do aside from panicking instead of bubbling up errors?

[2020-04-17 06:16] #588 closed

[2020-04-17 16:39] arlyon opened #623 "Field name is changed when prefixing variable with underscore."
**Describe the bug**

It is a common convention in rust code to prefix variables with an underscore if unused. When creating a `graphql_object`, I would like to prototype the interface and keep the compiler happy, so I prefix all the vars with an underscore.

[code]

This changes the name of the `buzz` parameter in the schema. Without the underscore, the parameter is called `buzz`, but with it it

[2020-04-17 17:08] arlyon commented on #623
Seems from the tests that that is the desired behaviour so I suppose the next step is understanding the motivations

[2020-04-17 18:53] jmpunkt commented on #600
Maybe I'm wrong, but I don not think it is possible to append proc macro attributes. However, the most common use-case related to this, is some kind of `Guard` for a field. A `Guard` allows to intercept the resolution of the type. If the guard fails, the underlying type is not resolved. The following example shows how to define group checks:

[code]

An extension to this approach would be context

[2020-04-17 20:49] Dispersia commented on #600
I was also unable to find a way to do this after quite some effort. However, the more I thought about it, the more I felt this is a problem with rust. Shouldn't the macros execute from least scope to most? Take a struct macro:
[code]
bar executes first. Why would that not be the same with impl blocks as well?

[code]

I would figure order of operation would be foobar -> bar -> foo, as that's how y

[2020-04-18 07:41] LegNeato commented on #623
This is odd behavior, I'm inclined to believe it is not addressing any concrete functionality. dropping a leading "_" means you can't name your input object starting with "_" but I think that's probably ok and it is better to align to Rust's semantics...what do you think?

[2020-04-18 11:43] GioPat opened #625 "Best Practice for requests authorizations using Actix-web"
Hello,
I am using actix-web 2.0.0 as webserver that supports authentication using JWT holding user uuid as one of the claims through a middleware (you can find a similar example [here](https://github.com/actix/examples/blob/master/middleware/src/redirect.rs)).
The only solution that I found, reading lots of documentation, was to:
- Create an actix state with the user uuid intiated to _empty_ at th

[2020-04-18 11:58] jmpunkt commented on #600
At least in Juniper's case, there is no execution of "#[bar]". Each impl block macro looks for "#[graphql(...)]" attributes ([here](https://github.com/graphql-rust/juniper/blob/fe99e1cc70b31e3877b1e4a46b630bed6cb6d35d/juniper_codegen/src/util/mod.rs#L88)). Skipping unknown attributes would allow to use custom macro attributes (must be ensured for all impl macros). Based on this implementation it s

[2020-04-18 13:14] jmpunkt commented on #553
A current implementation which **compiles** (nothing tested) looks like the following:

[code]

A main different to the examples before, is that it is required to have a context and to use the type of the object rather than `self`.
To fix this issue, an impl macro for this special case is required. This impl macro provides `self` binding and context handling. Therefore, the mod block would look ve

[2020-04-19 09:07] grantperry opened #626 "rust-lang/rust#70814: code using quote generates false lint warnings for unused_braces in juniper::graphql_object"
One liner function definitions causes a lint warning about unused braces. Removing said braces, creates invalid rust.
rust-lang/rust#70814
[code]

Minimum example
[code]

I expect no lint errors.

cargo 1.44.0-nightly (ebda5065e 2020-04-16)

[2020-04-19 13:38] Victor-Savu commented on #553
@jmpunkt I'm impressed and surprised. Was this possible all along? I thought I went over the book with a comb and couldn't find the graphql attribute macro on struct fields. Is this documented somewhere and I totally missed it?

[2020-04-19 13:59] jmpunkt commented on #553
No it is not possible with the code on the master branch. Due to the structure of Juniper, it does not require that much changes to support this behavior.

The sentence

refers to my testing branch.

[2020-04-19 18:38] arlyon commented on #623
I agree and can do a PR (it's really quite a simple fix) but the only issue is that this may break code in the off-change people are using `_x` anywhere

[2020-04-20 04:21] LegNeato commented on #623
The next release changes everything (yay async!) so I am fine with that as long as we put it in the changeling.

[2020-04-20 08:03] #550 closed

[2020-04-20 08:09] LegNeato commented on #625
@GioPat does https://github.com/BrendanBall/example-actix-web-juniper-diesel or https://github.com/mattdamon108/rust_graphql_api_boilerplate or https://github.com/davidpdrsn/graphql-app-example help you?

[2020-04-20 10:49] arlyon commented on #623
I think the best course of action is to just add an additional function (in the same place) `to_graphql_identifier` which strips a single leading _ and passes it on to ``to_camel_case`, otherwise it may be a little misleading. PR coming soon.

[2020-04-20 17:01] jmpunkt opened #627 "Union behavior is different to GraphQL spec"
**Describe the bug**
Juniper allows creating GraphQL unions with non-objects as variants. The GraphQL spec does not allow to create such unions. It is possible to compile the code, but the user receives and error messages on the playground website, like the following:
[code]

**To Reproduce**
[code]

Notice that there is no difference between using the `impl` macro or the derive macro for the unio

[2020-04-20 20:15] #571 closed

[2020-04-21 20:51] biot023 commented on #602
Hi again @LegNeato -- would you be able to offer a pointer as to how I would do that?
I'm looking at the `juniper::Value` enum but I'm not seeing how to construct a key/value object from it.

[2020-04-22 06:44] biot023 commented on #602
Okay, this might not be the most elegant code you've ever read (!) but here's how I've got it working for now:

[code]

I'll see how I get on with it...

[2020-04-23 14:33] projektir opened #629 "Support for `uuid` version `0.7` dropped"
`juniper` on `master` has moved to the `0.8` version of the `uuid` crate. One problem with that is a lot of other integrations only support `0.7`, most notably, the `diesel` PostgreSQL integration. As such, we still want to stay on `0.7`.

Is it possible to maintain support for both versions? `diesel` specifies a feature like `uuidv07`.

[2020-04-23 14:40] projektir commented on #629
The actual implementation is rather small and works fine if I use it with the previous `uuid` type, so it's more just a matter of features to keep things tidy.

[2020-04-23 16:15] jmpunkt commented on #627
I have notice that other types also do not follow the specification correctly. For example, objects (impl macro) can be empty which is not allowed by the specification.

The easiest way to prevent this, is defining failing code generation tests cases. A quick search suggests to use something like [trybuild](https://docs.rs/trybuild/1.0.25/trybuild/) to test Juniper's proc macros.

I would like to

[2020-04-24 05:21] LegNeato commented on #627
For empty objects, we should be able to handle that in the proc macro and fail the compile. Please file a different issue!

For requiring a GraphQL object for unions, that will be harder. I like the idea of generating a test. We might also be able to generate a line that only compiles if it is an object but I am not sure. Right now it seems to require GraphQLType, we could have a marker trait just

[2020-04-24 05:23] LegNeato commented on #629
Sure, we would be able to specify a min as 7.0 as Cargo.toml accepts ranges. Patches welcome!

[2020-04-24 11:57] biot023 commented on #602
Just as a final update, this is what I ended up with:

[code]

If something looks horribly wrong do please feel free to correct it!
It works, however, which is nice.

[2020-04-24 12:45] jmpunkt opened #630 "GraphQLObject generates not specified code"
**Describe the bug**
The [GraphQL Specification](https://spec.graphql.org/June2018/#sec-Objects) states that

Juniper allows generating objects without fields.

**To Reproduce**
The issue can be reproduced with both derive and impl macro.

[code]

**Expected behavior**
This should not compile.

[2020-04-24 17:36] jmpunkt commented on #602
I also came across input validation recently. There two possibilities handling input validation. Either you return all errors as error responses (like you did) or use unions. The idea is that you separate your errors into two classes, one class for hard errors and another class for soft errors. Soft errors describe things like failed input validation. These errors are directly connected to the use

[2020-04-24 21:50] biot023 commented on #602
@jmpunkt Yes, that last example is much nicer, cheers! As you can probably guess, I got it working by trial and error and gave up before a proper refactoring! :)
And your suggestion for breaking the errors up is really informative as well, thank you. I'll probably not adopt it for now as I try to avoid the very bleeding edge for work stuff but it was a really interesting read and a nice design pat

[2020-04-25 15:44] derust opened #632 "Accessing data from the request for juniper_hyper"
I'm new to rust, and try to start play with juniper,  the experience is really nice, thank for your great job.

I'm currently use juniper_hyper since juniper_iron seems not support async resolve.

My problem is: I can't find a way to get the client's ip in graphql resolve, which juniper_iron can easily achieve.
https://graphql-rust.github.io/juniper/master/servers/iron.html#accessing-data-from-the

[2020-04-25 17:18] biot023 commented on #602
@jmpunkt
Just a final note -- your suggested design pattern stayed with me!
So I've taken a middle route and am returning `*Result` objects that have option fields for:

- the items we'd expect to see returned
- validation errors

The first is `Some(Item)` and the second is `None` in the case of success.
In the unsuccessful case, obviously, the second is `Some(Vec<Vec<String>>)`, which converts ni

[2020-04-25 17:18] #602 closed

[2020-04-26 02:19] kunjee17 opened #633 "Unable to find Juniper_actix crate on crates.io"
Sorry for extremely dumb question. I m pretty sure I am missing something here. But juniper_actix package is already there in master but I can't find in crates.io .

As there is current and master version of book so I m sure I m missing some release cycle or something.

Is there any details regarding this? And is there any way I can pull that package or any road map when it will land crates.io

[2020-04-26 05:38] LegNeato commented on #602
Would love this in the book of you are willing!

[2020-04-26 07:23] LegNeato commented on #633
It has yet to be released to crates.io as it relies on async which is only on master. We will do a release once interfaces and unions work under async.

[2020-04-26 07:23] #633 closed

[2020-04-26 08:05] kunjee17 commented on #633
Thanks @LegNeato for reply. Will be waiting for that then. Again thanks for great work and nice library.

[2020-04-26 18:37] andrisak commented on #529
It seems like this is caused by the awc client using `std::rc::Rc` in some places. There is more info in the corresponding issue in actix-web: https://github.com/actix/actix-web/issues/1351

[2020-04-27 11:31] Dylan-DPC commented on #629
Hi. Co-maintainer of uuid here. I wouldn't recommend support ranged versions. 0.7 UUID and 0.8 UUID are incompatible with each other, which means that there's no guarantee which one is used if you go with ranged versions.
Secondly, with 0.8 being the active version, and work in progress towards a 1.0 release, we are no longer supporting 0.7 versions, so if future if anything breaks it could lead t

[2020-04-27 11:59] projektir commented on #629
I should add that I discovered that `diesel` apparently does support 0.8 with Postgres, it just wasn't obvious, so will be moving to that.

But in the future when there's a 1.0 release of `uuid` keep this in mind, it's potentially a breaking change for consumers.

[2020-04-27 12:00] tyranron opened #639 "Disallow empty GraphQLBatchRequests"
**Is your feature request related to a problem? Please describe.**
At the moment, it's possible to deserialize `GraphQLBatchRequest` as an empty `Vec<GraphQLRequest>`. The downstream implementations (like `juniper_warp`) rely transparently on that, executing empty batch and returning empty response.

I'm unsure this is OK. Maybe, it's better to reject empty batches at deserialization level?

**Des

[2020-04-27 12:06] #629 closed

[2020-04-28 10:39] tyranron commented on #622
@meh what we do for this is:
- Have our own `graphql::Error` type which `impl juniper::IntoFieldError` and return this type anywhere in schema resolvers.
- For any other errors which bubble up into resolvers we simply `impl Into<graphql::Error>` and just let `?` operator to do the stuff.

[2020-04-28 16:45] LegNeato commented on #625
Going to close this out, feel free to comment if you haven't figured it out!

[2020-04-28 16:45] #625 closed

[2020-04-29 00:39] LucasPickering commented on #500
@LegNeato I just ran into this issue myself. Did you get to look into it at all? If not, I can take a peek.

[2020-04-29 03:33] LegNeato opened #642 "Fuzz testing with cargo fuzz"
We should fuzz test `execute` and `execute_async` to make sure no external input can cause the library to panic or crash.

[2020-04-29 03:35] LegNeato opened #643 "Set up quickcheck to generate various graphql queries"
We should use https://github.com/BurntSushi/quickcheck to make sure invalid queries are rejected and there are no crashes and panics.

[2020-04-29 03:36] LegNeato commented on #639
Yeah, I think we should reject empty batch requests as it almost certainly points to a bug on the client side.

[2020-04-29 03:40] LegNeato commented on #626
Looks like this is going to be fixed in clippy.

[2020-04-29 03:41] LegNeato commented on #622
Do the new docs at https://graphql-rust.github.io/juniper/master/types/objects/error_handling.html#errors-backed-by-graphqls-schema help as well?

[2020-04-29 04:42] LegNeato commented on #500
I have not, it would really help for you to take a look!

[2020-04-29 09:50] meh commented on #622
That does help a bit, but it's still too boilerplatey for my taste, in an ideal scenario I would have some way to convert an `anyhow::Result` into a validation error or a critical error by centrally doing downcasting and conversion.

[2020-04-29 12:29] tyranron commented on #622
@meh you may still have you own `GraphQlError` type which impls `impl juniper::IntoFieldError` and have a central `impl From<anyhow::Error>`.

[2020-04-29 12:33] meh commented on #622
@tyranron duh, I'm dumbo, that's a very good point, I'll give that a try, thanks!

[2020-04-29 15:35] tyranron commented on #425
This is still a big pain point in the current `juniper` design. Integrating tightly with `juniper` to  power it with clever `Context` ends up leaking `Send` pretty everywhere, making us to [annotate every extension with `SendWrapper`, `FutureSendWrapper` and other beasts](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3b1f1018e4ffef9511af8efd2d33a4bb) just to naively satis

[2020-04-29 16:58] LegNeato commented on #425
I haven't looked into this at all but I wonder if we can use something like https://rust-lang.github.io/async-book/07_workarounds/04_send_approximation.html

[2020-04-30 00:47] LucasPickering commented on #500
I looked into it for a bit and made some progress, but I couldn't quite figure it out. I wrote a test that reproduces the error, here: https://github.com/LucasPickering/juniper/commit/e7bb811ce71b372570b97490c54d4b04bc8fae84

Do you think you could take a look and give me some guidance on what's going wrong and/or what _should_ be happening?

[2020-04-30 16:16] #639 closed

[2020-05-01 03:39] kunjee17 opened #646 "Splitting Root Schema to multiple Schemas"
First of all Sorry, as I m new to Rust language and framework so I might be asking totally dumb question.

I am already working in GraphQL project having 100s of queries and mutations. It is TypeScript / JavaScript based project. So, there we can easily merge all things in single big fat schema as root node.

I tried similar thing with Juniper but was unable to do it. I thought multiple impl of Qu

[2020-05-01 06:25] LegNeato commented on #372
Ha, I just hit this with `cargo-fuzz`! Cool that it ended up generating the same thing that humans did.

[2020-05-01 07:48] zhenwenc commented on #553
I am slightly disagree the proposed approach above. For instance, I am using `diesel` to query the database:

[code]

In the above example, I won't want to put the `full_name` field in User struct as there is no such column in the `users` table. As a workaround, I have to define another struct that doesn't contain the `full_name` field for `diesel`, which really just delegating the boilerplates...

[2020-05-01 10:56] zhenwenc opened #647 "Allow specifying type for `#[graphql_object]`"
**Is your feature request related to a problem? Please describe.**
Consider the following case:
[code]

In order to define extra field resolvers for a struct, I need to use the `graphql_object` macro:
[code]

which generates `impl juniper::GraphQLType<juniper::DefaultScalarValue> for User`. However, I am also using `diesel` and defining SQL queries in `impl User`, clearly I don't want those functi

[2020-05-01 11:04] jmpunkt commented on #553
I did not think of that. Since the original idea was to reduce the boilerplate, what about this?

[code]

We define trivial fields inside graphql_object. The macro provides trivial implementations for the specified fields.

[2020-05-01 11:31] zhenwenc commented on #553
Explicitly defining trivial fields also works.

Or I am not sure if it's possible that the macro provides trivial implementations for all fields in the User struct by default, unless a field has `#[graphql(skip)]`. And methods in `impl User` are treated as field resolvers, which can be additional to (or overriding) the provided trivial implementations.

I had been using [type-graphql](https://type

[2020-05-01 14:16] jmpunkt commented on #553
The overall problem with this feature is that a macro can only see the underlying AST, e.g., impl macros can only see the impl block. There is now way for the `#[juniper::graphql_object]` to know what fields, e.g., `User` has.

[2020-05-01 14:40] jmpunkt commented on #553
My last statement is maybe not 100% true. We could get information from structs if we generate code which provide these information. We define a trait `JuniperObjectInfo` which can hold field information of a struct. The trait is implemented by the proc macro `GraphQLObjectInfo`. Instead of implementing the usual Juniper logic, only the trait with the necessary field information is generated. Fina

[2020-05-01 16:49] LegNeato commented on #647
I am likely misunderstanding, but you can have two impl blocks:

[code]

The GraphQL impl block isn't really an impl block...we just use that format to make it familiar to rust folks, provide syntax highlighting in IDEs, and not create another DSL. But it generates a `impl GraphQLType for User` block so you can still use `impl User` to do whatever you need.

I believe you can make the GraphQL one

[2020-05-01 17:21] Victor-Savu commented on #553
@zhenwenc  Thank you for your interest in this issue! I was wondering if you had a look at my PR #592 for an alternative syntax (admittedly, a bit of a stretch as far as syntactical changes go). Thanks!

[2020-05-01 21:54] zhenwenc commented on #647
@LegNeato Thank you very much for the clarification! Sorry, it was my mistake. 🤦‍♂️

Both having two `impl User` block and `impl GraphQLObject for User` works, and I do prefer the second one as it seems more clear. Thanks!

Closing this as its not an issue. Sorry for the confusion!

[2020-05-01 21:54] #647 closed

[2020-05-02 01:17] zhenwenc commented on #553
@Victor-Savu Thanks! I did had a look the PR, its indeed a very nice idea! But I think it requires a bit too much changes on the current API. I do like the current way of defining field resolvers with `#[juniper::graphql_object]` macro, as its pretty close to my previous experiences (such as type-graphql), therefore I would prefer as minimal changes to the current API as possible.

I think the ide

[2020-05-02 02:21] LegNeato commented on #647
Perhaps we should change the docs to use the second form, hmmm. Glad it fixed your issue!

[2020-05-02 10:19] mihai-dinculescu opened #649 "Implement Subscriptions for juniper-actix"
It would be awesome to have subscriptions in juniper-actix.

I'm willing to put effort into making it happen, but I will need some guidance.

[2020-05-02 11:41] #630 closed

[2020-05-02 11:41] #627 closed

[2020-05-02 12:14] jmpunkt commented on #646
For me it is not clear what "merge" means in this context. I would assume that merge means that two queries Q1 and Q2 should be merged path wise? For example, if the path `a.b.c` exists in Q1 and path `a.b.d` in Q2, then `merge(Q1, Q2) = a.b.{c,d}`. If that is the case, then this should not be possible with Juniper, at least with the code generation approach. In general, it is not possible to defi

[2020-05-02 13:16] kunjee17 commented on #646
@jmpunkt sorry that it is not clear. Let me take https://typegraphql.com/ example.

[code]

I can write similar `n` number of classes. And eventually they are merged as on root object that is served as GraphQL point.

Now, in juniper case.
[code]

This is the one and only Query impl I can have.

I was looking something like having
[code]

Sorry for little mix of Rust and TypeScript. I m new to Rus

[2020-05-02 14:39] jmpunkt commented on #646
So to be clear, you define two queries, then all fields in the these two queries should be in the RootQuery. So we define the queries.

[code]
Then after the "merge", the RootQuery should be the following.

[code]
Sadly there is no way to tell Juniper to merge these objects. Implementing such behavior in Juniper should be possible.

For this example, the easiest workaround with Juniper would be

[

[2020-05-02 14:52] kunjee17 commented on #646
@jmpunkt thanks for explaining. I guess I did get my answer. I was looking for similar thing. I don't mind path segment until things stays clear.

You can close this issue. Please do the honors. :)

[2020-05-02 21:17] LegNeato commented on #646
We had previously discussed something like serde's flatten...would that do what you want?

[2020-05-03 00:00] zhenwenc commented on #553
Looks like the approach is possible!! Here is my [POC](https://github.com/zhenwenc/juniper/pull/1/files).

One can opt-in this feature by using `#[juniper::graphql_object(derive_fields)]` attribute on the impl block, and `derive([GraphQLObjectInfo])` on the target struct is required.

[code]

The derived `GraphQLTypeInfo` looks like this:
[code]

And the generated `GraphQLTypeAsync` looks like thi

[2020-05-03 02:30] kunjee17 commented on #646
@LegNeato I guess you are asking @jmpunkt . Sorry to pitch in, but you are right. Something similar to `serde's flattern` .

PS: It might need warning or error message if there is duplicate schema definition. Like `findById` in users and `findById` in products. Normally graphql peple don't use this kind of names but JavaScript / TypeScript gives that kind of check while merging schema.

[2020-05-03 14:11] jmpunkt commented on #553
Looks good.

Currently it is not clear what happens on duplicate fields. I would assume that the registry (https://github.com/zhenwenc/juniper/blob/4cdf13396c8c68841d08bb8319cca4055c217980/juniper_codegen/src/util/mod.rs#L888) overrides if the field is already defined. In my opinion silently overriding is not the best approach. We should test upfront if there are possible duplicates and abort (har

[2020-05-03 20:54] zhenwenc commented on #553
Thanks @jmpunkt !

Yes, the derived field resolvers act as fallbacks, where user defined resolvers (in `impl block`) should take priority. Agree that we should stop the user if there are possible duplicates.

I will wrap up a proper PR with some tests. Cheers!

[2020-05-04 23:42] zhenwenc commented on #467
@andy128k @RyuuGan Have you tried adding the `scalar` attribute to `derived([GraphQLObject])`?

[code]

For some reason it is required:

https://github.com/graphql-rust/juniper/blob/eddf948dad20585ab2b167c87fc4edec6def91f2/juniper_codegen/src/util.rs#L734-L740

since `generic_scalar` has been set to `true` when deriving `GraphQLObject`:

https://github.com/graphql-rust/juniper/blob/eddf948dad20585

[2020-05-05 18:29] jmpunkt commented on #553
I thought about the duplicate issue and I think there is no perfect solution. However, I had two ideas in my mind.

- Registry panics if a field is overwritten. Therefore, the program can start but fails immediately. Simple test cases should be able to detect this.
- Use the type system to remember already added such that a generic type `A` holds a list of all added fields. The `add` functions of

[2020-05-05 22:39] zhenwenc commented on #553
@jmpunkt Thanks for the advice! Could you please review this PR https://github.com/graphql-rust/juniper/pull/652 when available.

At the moment I perform the duplicate fields check on the `GraphQLType#meta` method:
https://github.com/graphql-rust/juniper/blob/2e5805fd3892bc2457c4bd34b3adc5cf198f1f3c/juniper_codegen/src/util/mod.rs#L911-L918

which is a **runtime** check since I couldn't get the st

[2020-05-06 09:37] tyranron commented on #553
@jmpunkt @zhenwenc @Victor-Savu

I was thinking about this issue too for quite a while, and here is something to share...

I've thought about the following design:
[code]
So, the `impl Obj {}` block is always optional, while the type itself should have `#[derive(GraphQLObject)]` on it.

As we cannot access from `#[derive(GraphQLObject)]` proc macro the tokens fed into `#[graphql_object]` macro, we

[2020-05-06 11:24] jmpunkt commented on #553
Thanks for the input. I did not know that the `inventory` crate exists. To get this clear, we would implement similar functionality (as in `inventory`) for our registry? Such that we can use the declarative macros for our registry? As a result, the resolver code generate by the `#[derive(GraphQLObject)]` would only call the `collect` macro (similar to `inventory`). Possible problems with the desig

[2020-05-06 12:42] tyranron commented on #553
@jmpunkt

No. `inventory` is a tricky thing: it allows to register things "statically" across crates (AFAIK, registration happens before `main()` is executed), while collect them in runtime anytime we want.
I doubt `juniper`'s registry works this way, nor I see any advantages to piggyback one on another in any way.

What I've meant is that macro expansion for contains something like `inventory::su

[2020-05-06 13:25] jmpunkt commented on #553
Thanks for the clarifications and examples. Overall I really like the design since it is more "like" Rust. Not sure how well this works at the end.

I would like to know what @LegNeato thinks about the whole situation.

A small side note. In terms of unification, there is a similar issue (https://github.com/graphql-rust/juniper/pull/631#issuecomment-620824702). The PR did not unify the interface s

[2020-05-06 14:20] tyranron commented on #553
@jmpunkt I've read the discussion and I'm a bit more convinced to allow resolvers without `&self`.

Things like

are quite vital. And supporting them along seems to not be a big deal.

[2020-05-06 16:48] ralpha opened #653 "Enum values documentation in Playground not parsed."
**Describe the bug**
I used `juniper_rocket::playground_source("/graphql")` to render a playground page.
I noticed that for Enums (parsed with `#[derive(GraphQLEnum)]`) the documentation for the values is not parsed, so text is not bold and links are not interpreted.
![Screenshot from 2020-05-06 18-27-03](https://user-images.githubusercontent.com/2608639/81203527-5b869800-8fc8-11ea-81b4-f320a81861

[2020-05-06 21:38] jmpunkt commented on #632
I just ran some tests and this is possible. Here is small example. Notice that this example requires the newest changes on the master (includes subscription support!).  I marked the interesting lines which provides the address and are different from the provided `hyper` example (in the master branch). It should be no problem porting this to stable.

[code]

[2020-05-06 21:58] zhenwenc commented on #553
@tyranron Thanks for your great ideas!

Sounds awesome! I didn't thought of that before.. if I understand correctly, we can generate a dummy `struct` for each field (eg: `__juniper_Obj_fullName`), similar to the markers. Is that the right way to do?

---

Beside, I actually prefer enforcing `&self` for field resolver functions, not only increase the consistency but also make it more obvious that i

[2020-05-07 02:03] kunjee17 commented on #646
@LegNeato @jmpunkt side question. Any plans to add this flatten option in Juniper? Obviously not now but in future before some concrete release?

[2020-05-07 07:15] tyranron commented on #553
@zhenwenc

This can be a struct too, but I see a bit more use in generating modules. See the [second example
above](https://github.com/graphql-rust/juniper/issues/553#issuecomment-624625930) to understand why.

But what if field doesn't really requires `&self`? What if it's something like associated constant or totally context-dependent thing (like query depth quota for debuging stuff)? In this ca

[2020-05-07 08:48] tyranron commented on #646
@kunjee17 @LegNeato I think [the new design](https://github.com/graphql-rust/juniper/issues/553#issuecomment-624544235) described in #553 will solve this issue too without providing any flattening capabilities. Simply, it will allow to specify multiple `impl` blocks, which can be defined in different modules, so the "merge" will happen naturally.

[2020-05-07 11:48] kunjee17 commented on #646
@tyranron that would be great to have. BTW I did tried to have different `Query impl` block but it crashed. I m new to rust and juniper so it is more difficult for me to find the real issue.

Dumb question. That is incoming feature right. Or I just missed something already there in Juniper ?

[2020-05-07 11:52] jmpunkt commented on #553
I noticed that one use-case is not covered by this design. The "old" design was quite handy in situation where the struct is private. Instead of deriving the GraphQLType it was possible to "implement" it, thus we do not have to wrap the type. In situations where types come from external crates, GraphQLType can be implemented without changes in the external crate. The design allows some kind of lay