[2020-05-07 13:26] tyranron commented on #553
@jmpunkt

Yes. I'm even in favor of leaving the second variant only. To have a computable field, we mark a concrete method rather than an `impl` block.

Hmmm... thinking about it a bit more shows a downside of this way, as we cannot know about `Obj` type implicitly in this case (macro won't be provided with that kind of info). So, will be made to do this:
[code]
Which is not quite ergonomic.

So,

[2020-05-07 13:30] tyranron commented on #646
@kunjee17 it will be incoming feature if community and maintainers will decide so. At the moment it's only a possible incoming feature 🙃

Current `juniper` implemetation doesn't contain such capabilities.

[2020-05-07 14:10] tyranron commented on #196
@LegNeato I guess this has been fixed in #631?

[2020-05-07 14:16] tyranron commented on #379
@LegNeato this one can be closed. It's OK in latest `master`.

[2020-05-07 15:25] kunjee17 commented on #646
@tyranron thanks for reply. It would be nice to have such feature. Let's see what community and maintainers decide. :)

[2020-05-08 00:54] zhenwenc commented on #553
In term of generating dummy `struct` for each field in object type to check duplicated fields on compile time, I am not quite sure if it works for all cases, for instance:

[code]

The above code will compile without any error, since the duplicated `__juniper_Object_field` structs are located in different scope.

Beside, I am a bit conservative about using this approach. As a newbie to rust and as

[2020-05-08 05:00] kunjee17 commented on #646
@tyranron @LegNeato @jmpunkt  is it possible to achieve something like this in Rust. Below code is from Scala.

[code]

It will merge all the `root` in one big root. And I m not asking about current feature but in general probable feature.

[2020-05-08 07:08] tyranron commented on #553
@zhenwenc

🤔... unfortunately, Rust's proc macros doesn't give any type level information, they work only with raw syntax tokens. So we're unable to deeply inspect the information about type outside current declaration, and seems to be that we're unable to ensure any uniqueness outside current declaration. So modules really don't work... meh 😞

The only way I see to resolve this, at the moment, is

[2020-05-08 07:15] tyranron commented on #646
@kunjee17 i think, yes.

[code]

But at the moment, `juniper` doesn't provide capabilities to derive code for this use case automatically. So, you need to implement `GraphQLType` manually for this `enum`, where you can provide the merged information about two APIs.

[2020-05-08 08:17] kunjee17 commented on #646
@tyranron neat. I should give it a try to this as well. Thanks for info.

[2020-05-08 11:19] jmpunkt commented on #553
I would not recommend generating files and hoping that the compiler executes the macros in the right order. Randomly breaking compilation is annoying. It looks like Rust can not do what we want to do (maybe in the future?). There are currently three different options to go from here

- do not implement this feature
- [specifying the simple fields](https://github.com/graphql-rust/juniper/issues/553

[2020-05-08 11:49] tyranron commented on #553
@jmpunkt

Nope, the whole idea is not rely on that. Using the file is a way to achieve that for uniqueness checks, but the downsides are:
- broken macro purity (so we won't potentially be able to use WATT or another sandboxing);
- polluting user's `target/` dir with some special files (which isn't a big deal, as for me).

However, investigating this a [bit further](https://github.com/rust-lang/rus

[2020-05-08 13:48] jmpunkt commented on #553
Ah ok you use files for collisions checks only. I read

wrong. Thanks for the clarification.

Is there anything special (or limited) regarding the creation of files during the compilation. I am not familiar with the internals during compilation.

Maybe this is a crazy idea, but if it is possible to auto-generate a separate crate then this crate contains our typing information. Instead putting the

[2020-05-08 16:00] #426 closed

[2020-05-08 18:01] tyranron opened #655 "Proposal: new Context design"
## Background

Currently, `Context` for execution GraphQL request is just a type parameter. Anything other is up to the library user:
- the structure of the `Context` and the data it provides;
- the way it's injected into execution.

These raises number of issues and has downsides:
- Using integration crates doesn't allow to access request-specific data in resolvers (#632, https://github.com/graph

[2020-05-09 12:26] zhenwenc commented on #553
My original intention was introducing a **small improvement** to the existing `#[graphql_object]` macro, therefore I tried to apply minimal changes and avoid any breaking changes in the experimental implementation (https://github.com/graphql-rust/juniper/pull/652). If we require breaking changes and/or hacky solution to achieve this improvement, I would vote for **option 1 (do not implement this f

[2020-05-11 07:35] jacobh opened #658 "`#[juniper::object]` interfaces attribute not documented"
Hi,

this afternoon I've been porting some graphql types to using the attribute macro syntax. I was stuck trying to get my interfaces working correctly.

I think I've figured it out, with `interfaces` now being an attribute of the macro, but I couldn't see any mention of that syntax anywhere in the docs, and had to dig into the source.

Other than this I'm very much liking the attribute macro synt

[2020-05-11 16:08] tyranron commented on #532
@jxs @LegNeato looking at the code in the [current master](https://github.com/graphql-rust/juniper/tree/aedb2d1eb453f605380ff527f88d7467253ba341), the described above is totally non-issue. `RwLock`'s locking is used in a [single place only in sync function](https://github.com/graphql-rust/juniper/blob/aedb2d1eb453f605380ff527f88d7467253ba341/juniper/src/executor/mod.rs#L608) and there is literally

[2020-05-12 05:58] allancalix opened #659 "Async warp example doesn't run"
**Describe the bug**
The async warp example server fails to build.

**To Reproduce**
[code]
**Expected behavior**
An example graphql server should successfully build and start serving on port 8080.

**Additional context**
* Build issue
[code]

* The warp version specified in the example manifest is a different major version from the example itself causing issues.

* Some interface changes

I fixed

[2020-05-13 03:41] bumblepie opened #660 "children with aliases are not visitable from LookAheadSelection"
**Describe the bug**
When attempting to enumerate all the children of a LookAheadSelection, fields with an alias are not visitable. This is because to access child selections, you must call the method `selection.child_names()` which gives the alias if one exists, or the field name if it doesn't:
[code]
You can then access the child selection via `selection.select_child(name)` - however, this only

[2020-05-13 08:38] LegNeato commented on #660
Thanks for the report! This looks like an oversight. I like the idea of providing an iterator over the children. I'm also fine breaking backward compatibility if we need to as master already has a lot of breakage.

[2020-05-14 08:06] LegNeato commented on #653
Is this with master or the latest crates.io release?

[2020-05-14 08:10] LegNeato commented on #653
I'm not sure this is a bug. It appears GraphiQL supports markdown and the playground does not. We could possibly convert to html bit it is not clear that is desired in all cases

[2020-05-14 08:11] LegNeato commented on #653
Looks like it is a playground issue: https://github.com/prisma-labs/graphql-playground/issues/1081

[2020-05-14 08:11] #653 closed

[2020-05-15 21:02] jmaargh opened #663 "Need to manually depend on `futures`"
**Describe the bug**
I was starting to play with subscriptions, for which I needed to depend on the master branch

My `Cargo.toml` therefore looks something like this:

[code]

Suppose I then try to compile the following `main.rs`

[code]

I get

[code]

I can work around this by adding `futures = "0.3.5"` to my `Cargo.toml` and everything compiles fine. Clearly somewhere a dependency on `futures`

[2020-05-20 05:48] #660 closed

[2020-05-20 05:49] LegNeato commented on #655
Let me think about this a bit.

[2020-05-23 21:41] japrogramer commented on #376
I think that having a way to declare custom directives should be added to juniper, as it is part of the spec https://spec.graphql.org/June2018/#sec-The-__Directive-Type

[2020-05-24 09:33] teymour-aldridge opened #668 "Could not find `object` in juniper."
**Describe the bug**
The documentation states that the `graphql_object` macro is deprecated and the `object` proc macro should be used instead. The `object` macro is not exported from `juniper`.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to use `juniper::object` on an `impl` for a struct.

**Expected behavior**
The procedural macro to run and produce an output.

**Additional con

[2020-05-24 16:31] LegNeato commented on #668
Hello! The doc is actually wrong, the name of the proc macro is `graphql_object`. Would love a PR to fix.

[2020-05-24 16:34] teymour-aldridge commented on #668
That’s good to know! I was just a bit confused because there is an `object` proc macro in `juniper_codegen` crate.
I’ll submit a PR.
https://docs.rs/juniper_codegen/0.14.2/juniper_codegen/attr.object.html

[2020-05-25 13:15] sessionboy opened #669 "Can juniper be used in production?"
Hi. Juniper has not yet released 1.0, so i want to know if the official recommends using juniper in production?
In addition, I need to subscription. Does Juniper provide intact subscription support?

[2020-05-26 00:01] olvyko opened #670 "Add opportunity to represent `chrono::NaiveDateTime` in milliseconds."
Juniper gives you the opportunity to use `chrono::NaiveDateTime` but I didn't find a way to represent timestamp in milliseconds.

https://docs.rs/chrono/0.4.11/chrono/naive/serde/index.html
https://docs.rs/chrono/0.4.11/chrono/serde/index.html

At the moment, using `serde`, I can do this:
[code]

[2020-05-26 08:40] tyranron commented on #670
@olvyko you shoud use newtype and implement `GraphQLScalar` for this purpose.

[2020-05-26 11:39] olvyko commented on #670
@tyranron yeah, I will do that

[2020-05-27 08:41] bugproof opened #671 "the trait `juniper::types::base::GraphQLType<__S>` is not implemented for `i64`"
How to use 64bit ints with #[derive(juniper::GraphQLObject)] ? E.g. I have IDs represented as `u64`

[2020-05-27 15:54] tyranron commented on #671
@bugproof you should roll out a [custom GraphQL scalar](https://graphql-rust.github.io/juniper/master/types/scalars.html) in your schema for that. GraphQL spec [doesn't define any built-in scalars for `i64`/`u64` by default](https://spec.graphql.org/June2018/#sec-Int).

[2020-05-28 07:26] bugproof commented on #671
https://github.com/graphql/graphql-spec/issues/73

[2020-05-28 17:36] Zedjones opened #672 "Docs link for juniper_subscriptions is dead"
**Describe the bug**
The API documentation links listed on [this page](https://github.com/graphql-rust/juniper/blob/master/juniper_subscriptions/README.md) are dead.

Specifically, [this page](https://docs.rs/juniper_subscriptions) is linked.

**To Reproduce**
Steps to reproduce the behavior:
- Go the the provided page.
- Click "API Documentation" link.
- Notice that there are no docs.

**Expected

[2020-05-31 00:11] urkle commented on #467
I'm running into this issue as well when trying to use `juniper::graphql_union!` against two object where I used `#[juniper::object]` on an impl.

[code]

This results with
[code]

[2020-05-31 11:36] tyranron commented on #467
@urkle I guess that's because `GraphQLType` implementtion for `MyObject` is not generic over `ScalarValue`, while you're trying to do so for `MyUnion`.

Try this:
[code]

[2020-05-31 12:50] urkle commented on #467
@tyranron Awesome Thanks!  That fixed the issue.

[2020-06-02 17:34] thomjs opened #673 "Ability to create GraphQLRequest manually (or expose GraphQLBatchRequest to allow manual construction)"
The last few days I've been trying to implement a Data Guard to authorize signed requests using ECDSA, and everything worked great until I ported it over to the GraphQL project. My main issue is that I need to implement `FromData` or `FromDataSimple` for `GraphQLRequest`. I've looked at two main ways of doing this, and one works for `URI` queries but not for `POST` data. I'll show an example, for

[2020-06-04 08:19] #549 closed

[2020-06-04 08:19] #663 closed

[2020-06-04 21:39] tyranron commented on #295
@samuela

If it's still relevant, see the official reference:
- [Macros By Example](https://doc.rust-lang.org/reference/macros-by-example.html)
- [Procedural Macros](https://doc.rust-lang.org/reference/procedural-macros.html)

#### TL;DR

Declarative macros:
- declared via pattern-match syntax
- guaranteed to be hygienic
- restricted in expresiveness to certain patterns

Procedural macros:
- decla

[2020-06-05 16:44] vladinator1000 commented on #646
This concept is quite common in other languages, for example in JavaScript you can [merge type definitions](https://www.graphql-tools.com/docs/merge-typedefs), as well as [resolvers](https://www.graphql-tools.com/docs/merge-resolvers) and [schemas](https://www.graphql-tools.com/docs/merge-schemas).

My dream is to make a macro that lets you merge an arbitrary number of schemas like this
[code]

Bu

[2020-06-06 03:55] kunjee17 commented on #646
@vladinator1000 As in one project which is type script based we are indeed merging schema but in another project where I am trying Rust. We are not. And frankly I am better of not merging it.

It will more readable queries
[code]

against

[code]

Again it is question of choice but I like the the second option, where I don't need to merge.

[2020-06-06 19:00] #480 closed

[2020-06-06 19:01] LegNeato commented on #435
This is done.

[2020-06-06 19:01] #435 closed

[2020-06-06 19:04] #259 closed

[2020-06-06 19:04] LegNeato commented on #245
The project appears to be dead.

[2020-06-06 19:04] #245 closed

[2020-06-06 19:05] LegNeato commented on #172
This is fixed on master.

[2020-06-06 19:05] #172 closed

[2020-06-06 19:06] LegNeato commented on #3
This has been merged.

[2020-06-06 19:06] #3 closed

[2020-06-06 19:10] LegNeato commented on #669
Many people are using Juniper in production. Subscriptions (and async support) are only curently supported on master. Do not use master in production!

[2020-06-06 19:10] #669 closed

[2020-06-06 19:11] #501 closed

[2020-06-08 15:50] vladinator1000 commented on #646
@kunjee17 yeah that seems totally reasonable, but dependent on how you design your schema. It's also worth noting the graphql spec has an `extends` keyword that lets you do [something similar](https://spec.graphql.org/draft/#sec-Schema-Extension)

[2020-06-09 12:03] flexabyte commented on #673
Hey,

This is an interesting problem, but I think you should still be able to use `let graphql_req = juniper_rocket::GraphQLRequest::from_data(data);` if you ensure to use `peek()` instead of `open()` on the `rocket::data::Data` instance. See the documentation [here in Rocket source](https://github.com/SergioBenitez/Rocket/blob/63a4ae048540a6232c3c7c186e9d027081940382/core/lib/src/data/data.rs#L56

[2020-06-09 12:37] thomjs commented on #673
Wow this shows how little I read the rocket documentation. Just what I was looking for, thanks! This can be closed now. `from_data` works as I'd hoped.

[2020-06-09 12:37] #673 closed

[2020-06-09 15:16] nicemaker commented on #668
I am a little confused what to use now ...
for me `[juniper:object]` shows up, if try `graphql_object` it doesn't find it in scope.
I also can't use await in my query, it complains with `await is only allowed inside async`, but my resolver is eclared as async. Am I missing something? Last one might be a different issue but I am not even sure if I use right macro now.

[code]

[2020-06-09 15:49] LegNeato commented on #668
On the latest crates.io release async is not supported...you need to use master (and `juniper:: graphql_object`). Hope that helps!

[2020-06-09 15:49] #668 closed

[2020-06-09 16:02] nicemaker commented on #668
Thanks that helped indeed! So easy!

On Tue, 9 Jun 2020 at 18:49, Christian Legnitto <notifications@github.com>
wrote:

[2020-06-10 05:23] kunjee17 opened #679 "Juniper Book (master) generation is not working."
**Describe the bug**
Seems to book (master) generation issue.

**To Reproduce**
If you go to subscription page, you will find below text instead of plain old generated html.

[code]

**Expected behavior**
It should have generated proper html

**Additional context**
I haven't checked other pages for issues. But best guess is it might be there and fixing one page should fix all pages.

[2020-06-10 08:45] tyranron commented on #679
@kunjee17 yup, there is some mess around links.  I've planned to fix it eith the subscriptions layer being polished altogether. However, earlier PRs are still welcome 😉

[2020-06-11 08:15] LegNeato commented on #531
I renabled it, we shall see

[2020-06-12 09:07] Tails commented on #492
@monophthongal is the use of ```#[graphql(scalar = MyScalarValue)]``` only neccessary for Query and Mutation objects, or should these be applied to every GraphQL model/entity in your app?

[2020-06-12 09:40] tyranron commented on #492
@Tails at the moment (current `master`) it depends... in some cases generated code is polymorphic on `S: ScalarValue` and is some cases it's bounded strictly to `DefaultScalarValue`. You need to read docs carefully about the exact your case, and also look into `cargo expand` output for your type to see where `#[graphql(scalar = MyScalarValue)]` should be applied.

Till next release we will do our

[2020-06-14 13:35] #659 closed

[2020-06-15 01:31] LegNeato commented on #531
Nope, still the same issue.

[2020-06-15 07:06] sagiegurari commented on #531
looks like a rustc bug worth reporting. wdyt?

[2020-06-15 18:07] LegNeato commented on #531
Already reported above :-)

[2020-06-22 13:48] msdinit commented on #531
Not an expert by any means, but is there a reason for [RUSTFLAGS: "-C link-dead-code"](https://github.com/graphql-rust/juniper/blob/master/.github/workflows/ci.yml#L63)?

Does not look like that variable is set for Azure pipelines, and if I remove it, checks for `nightly` [seem to pass for the most part](https://github.com/msdinit/juniper/actions/runs/143650580).
And the other way around, running

[2020-06-24 08:41] #671 closed

[2020-06-24 08:43] LegNeato commented on #531
Nice catch! I'll look into it.

[2020-06-24 09:10] sagiegurari commented on #531
the deadcode flag is for code coverage to be more accurate

[2020-06-27 19:10] mbenoukaiss opened #686 "Relationship "consider giving `f` a type""
**Describe the bug**
I am trying to implement a relationship with the following code :
[code]

I get the following error:
[code]

which happens in the generated code :
[code]

**To Reproduce**
Clone and try to compile the following repository https://github.com/mbenoukaiss/graphql

[2020-06-28 06:10] LegNeato commented on #686
Hello! Thanks for the bug report and for trying Juniper! This doesn't look like a bug in Juniper, I've put up https://github.com/mbenoukaiss/graphql/pull/1 to fix your project.

I'd love for you to help make this clearer for the next person trying Juniper. Would it be possible for you to send a PR to make docs / the book more clear? Where would you expect to find such a note?

[2020-06-28 06:10] #686 closed

[2020-06-28 13:58] mbenoukaiss commented on #686
Thank you for your help!

I believe it could be specified in the first paragraph of the chapter [Complex fields](https://graphql-rust.github.io/juniper/master/types/objects/complex_fields.html) in the book. It's already in the example, but it's hard to notice that the `#[derive(juniper::GraphQLObject)]` was removed in favor of the attribute.
I can make a PR for that, sure.

[2020-06-28 15:03] arlyon commented on #623
Closed in #684

[2020-06-28 15:03] #623 closed

[2020-06-30 19:29] lkoelman opened #689 "export .graphql schema"
Is there currently a way to export the graphql schema that is implicit in the annotated rust code to a .graphql file?

I would like to have a single source of truth for my schema, and this would be a practical way to achieve this. Another approach that I considered was using [juniper-from-schema](https://docs.rs/juniper-from-schema) and defining the single source of truth in a .graphql file. Howev

[2020-06-30 20:27] tyranron commented on #689
@lkoelman we're using something like that
[code]

[2020-07-01 08:33] LegNeato commented on #689
It's even easier using master! Check out https://graphql-rust.github.io/juniper/master/schema/schemas_and_mutations.html#outputting-schemas-in-the-a-hrefhttpsgraphqlorglearnschematype-languagegraphql-schema-languagea

[2020-07-01 08:34] LegNeato commented on #689
`RootNode` now has a `as_schema_language()` function that should do what you want.

[2020-07-01 08:35] lkoelman commented on #689
@LegNeato Thank you, this is exactly what I was looking for.

[2020-07-01 08:46] LegNeato commented on #689
Great, hope it works. I wrote that support so please open another issue of there are bugs with it!

[2020-07-01 08:46] #689 closed

[2020-07-02 05:34] Nocturem commented on #672
is there anywhere else this documentation is/was being hosted
looking around for as much info as I can get on subscriptions and the Juniper implementation of them

[2020-07-02 16:48] msdinit commented on #183
Hey,
Looking into trying to implement this feature, was wondering if anybody else is actively working on this, and if `GraphQLOption` is still the preferred way to handle this case?

[2020-07-02 16:49] LegNeato commented on #672
https://graphql-rust.github.io/juniper/master/advanced/subscriptions.html

You can also clone the repo and use `cargo doc` to see the embedded / API docs.

[2020-07-05 11:59] divy-work opened #690 "Benchmarking Juniper"
Hey there! I'm trying to do benchmarks for a Juniper GraphQLAPI with `wrk` and here's my wrk script:
[code]
But the API is returning a 400 bad request which is weird because it works for other frameworks like Apollo.

Here's my wrk command (not a wrk expert):
[code]
Thanks. I'm loving Juniper so far :smile:

[2020-07-05 21:42] LegNeato commented on #690
Hello! I might need a bit more info to debug this. Can you try without the `query` bit? Does the same query + schema work calling `execute()` / without going through a http integration? What http integration are you using? Are you on master or the crates.io release?

Can you share your code or schema so I can repro?

Thanks for the kind words and for trying Juniper! I'm sure we'll get this sorted.

[2020-07-06 01:06] siyopao commented on #679
Hi! I think this has been fixed. (The links are still broken though.) When I do `mdbook build` in `docs/book` it seems to be fine:

<img width="1210" alt="Screen Shot 2020-07-06 at 10 02 10" src="https://user-images.githubusercontent.com/28915792/86546453-f4597580-bf6f-11ea-9372-6ff0157eaeda.png">

However, I had to add a title in `SUMMARY.md` otherwise it stopped generating content at `Type Syste

[2020-07-06 02:03] divy-work commented on #690
@LegNeato Thanks for your reply. I'm using actix as my Http service with tokio-postgres.
I can confirm that the same query works when I call it using graphiql and Postman graphql.

Here is the complete code:
https://github.com/nestdotland/api/tree/chores/benchmarks
Tell me if you need anything else.

[2020-07-06 04:28] LegNeato commented on #690
Ah, I see what is happening. You need to check the `GraphQLResponse` and map it to an actix response. Something like:

[code]

I'd send a patch but don't know too much about Actix and was hitting some `ResponseError` sizing issues.

Note you may want to switch to `master` as it might make your life easier:

* Supports async/await.
* Supports multiple POSTs and and the `graphql` content type.
* Has

[2020-07-06 04:44] divy-work commented on #690
Thank you! This is for returning the error back right?
I'll check it out, but I still don't understand how valid POST requests are not working (giving 400). Thank you for your time.

[2020-07-06 04:57] LegNeato commented on #690
Hmmm, not sure. Similar to what I posted above is used for the actix async integration on `master`:

https://github.com/graphql-rust/juniper/blob/master/juniper_actix/src/lib.rs#L140

(example usage at https://github.com/graphql-rust/juniper/blob/master/juniper_actix/examples/actix_server.rs)

You need to map from juniper's concept of a http failure to Actix's concrete view of the world...which do

[2020-07-06 05:20] divy-work commented on #690
Sure. I'll swtich to master and come back to you.

[2020-07-06 05:50] LegNeato commented on #690
Be sure to check the https://github.com/graphql-rust/juniper/blob/master/juniper/CHANGELOG.md for breaking changes, as there are some. Let us know if it doesn't work or you need help!

[2020-07-06 07:11] divy-work commented on #690
@LegNeato So I have migrated to master branch of juniper and also have used some code from juniper_actix in my code. Now, I face the only error .i.e:

[code]

As far as I understood, this is because the I have no Subscription Schema? How can I create an Empty Subscription with the Context. Thank you!

[2020-07-06 08:24] divy-work commented on #690
I fixed the issue by creating a dummy Subscription. But still POST requests are not working with CURL or wrk.

[2020-07-06 08:36] LegNeato commented on #690
I put up https://github.com/nestdotland/api/pull/11. Haven't tested it but it compiles.

[2020-07-06 08:45] LegNeato commented on #690
Using the above change, this `curl` command worked for me:

`curl -d '{"query":"{\n  package(name: \"sass\") {\n    name,\n    owner,\n    normalizedName,\n    latestVersion,\n    latestStableVersion,\n    packageUploadNames\n  }\n}","variables":{}}' http://127.0.0.1:8080/graphql -v -H 'Content-Type: application/json'`

[2020-07-06 08:49] divy-work commented on #690
@LegNeato Yes! It worked for me too! Thank you so much for your time and effort.

[2020-07-06 09:00] LegNeato commented on #690
@divy-work when benchmarking make sure you compile in release mode and use LTO.

[2020-07-08 00:01] julianfrancodev opened #691 "Graphql Subscriptions support."
Will be cool have Subscriptions with juniper harnessing the power of rust.

[2020-07-08 01:33] #690 closed

[2020-07-08 01:34] LegNeato commented on #691
We have experimental support on master:

https://graphql-rust.github.io/juniper/master/advanced/subscriptions.html

[2020-07-08 01:34] #691 closed

[2020-07-08 01:35] #622 closed

[2020-07-08 01:36] LegNeato commented on #581
We have decided to keep the sync code.

[2020-07-08 01:36] #581 closed

[2020-07-08 01:39] #467 closed

[2020-07-08 01:40] #379 closed

[2020-07-08 01:40] #362 closed

[2020-07-08 01:41] LegNeato commented on #196
Yes, this should be fixed.

[2020-07-08 01:41] #196 closed

[2020-07-08 01:44] LegNeato commented on #580
We are not going to be removing the sync code.

[2020-07-08 08:34] toxeus opened #693 "゛"

[2020-07-09 11:40] EituKo opened #695 ""data" response field is null when sending multiple mutations in one request"
Hi everyone

I have the following request that contains 2 mutations, the first one goes through but the second one is supposed to fail because there is no `Quotation` with `id: "5eb418c000de5aac00b1ccdc"` in my Database
[code]
Only here is my result:
[code]
As you can see the error on `b` is correct but there is no data associated with `a`. Here is what I would expect it to be (fyi I am returning

[2020-07-10 01:02] repomaa commented on #143
Hey, I'm glad I found this issue, but I'm still struggling to get this to work...

[code]

This is one resolver that's not on the top level. When i compile this, i get the following error:

[code]

Any Idea what's happening here?

[2020-07-10 10:12] tyranron commented on #695
@EituKo what is the return type  of `updateQuotations` mutation? Is it `Null`able or `Non-Null`able?

[2020-07-10 10:27] EituKo commented on #695
@tyranron here is the `updateQuotations` mutation Rust function prototype:
[code]
[code]
I think it is `Non-Null`able. From what I understand, `Null`able fields are handled via `Option<T>` in Juniper, should my return type be `FieldResult<Option<quotation::UpdateQuotationResponse>>` ?

[2020-07-10 10:30] tyranron commented on #695
@EituKo yeah, you should try either that, or sending a batch of requests instead of a single multi-mutation request.

[According to GraphQL spec](https://spec.graphql.org/June2018/#sec-Errors-and-Non-Nullability):

[2020-07-10 15:21] vladinator1000 commented on #328
Coming from JS land I like how ergonomic the SDL approach is, but I'm not sure how I feel about the lack of specificity. i.e. GraphQL how do we interpret a GraphQL Int. Default to an i32 by default? Same for ownership. 🤷‍♀️

[2020-07-10 18:12] conradwt commented on #328
@vladinator1000 From the [GraphQL spec](https://spec.graphql.org/June2018/#sec-Int), the size of a **GraphQL Int** should be represented between -2^31 or greater than or equal to 2^31.  Thus, it's recommended that one use i32 here.  If you're using values that fall outside this range, then it's recommended the one use a custom GraphQL scalar type.  **Int** is a default GraphQL scalar type.

[2020-07-11 01:46] repomaa commented on #2
Hey! Thanks for the awesome work! I managed to integrate master with dataloader-rs! I noticed that the batch loading isn't working on deeper levels of the tree though. The following example will make it clear:

[code]

This will result in the following db queries (all of which are done by dataloader batch loading functions).

[code]

So the the first level of resolvers is batched but the third isn

[2020-07-11 08:05] LegNeato commented on #2
So you have a link to the code?

[2020-07-11 08:08] LegNeato commented on #328
Master supports the SDL as output and another project supports generating Juniper code from the SDL def. See first paragraph of https://graphql-rust.github.io/juniper/master/schema/schemas_and_mutations.html

[2020-07-11 08:11] LegNeato commented on #328
Ideally you have your schema in a lib crate. This can be used by a binary to dump a .graphql file for other tooling or in a build.rs to do other interesting stuff.

[2020-07-11 11:05] repomaa commented on #2
@LegNeato sure: https://p.jokke.space/5l2FU/

[2020-07-13 08:54] divy-work commented on #504
@mwilliammyers What is the status of the PR? I would love this feature.

[2020-07-13 13:00] vladinator1000 commented on #646
Rust [supports multiple impl blocks](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=a4856f375af1c521b66ae66a067c1a8a), I wonder if we could use this to our advantage?

[2020-07-13 13:38] kunjee17 commented on #646
@vladinator1000 I did tried that but as of now current version, juniper don't support that. Also, with my limited knowledge of macros I don't know how it will pick it up. Again, I will say I am quite happy with solution provided here. Even C# graphql advise to go with separated schemas.

[code]

instead of

[code]

I still get that feature might be useful but it will surely not the road block for

[2020-07-14 13:00] mbenoukaiss opened #697 "Allow using attributes on queries/mutations"
**Is your feature request related to a problem? Please describe.**
I am trying to use proc macro attributes to automatically generate code to handle authorization and rate-limits for the different queries and mutations. Problem is, the function gets transformed into an async block and attributes get removed in the process.

The currently generated code inside the match arm matching the query/mutat

[2020-07-14 19:38] jerel commented on #646
Just to add one observation to this conversation... I've also been needing to split my schema across multiple domains and this approach has worked well for both queries and mutations:
[code]
and then I can implement settings and users in their respective modules. However this doesn't appear to work the same for subscriptions. As far as I can tell subscriptions have to be implemented directly in th

[2020-07-16 03:37] kunjee17 commented on #646
@jerel  I guess that is Subscription issue. I guess it would be good to raise a separate issue for same. @tyranron @LegNeato  would be the better judge for that.

[2020-07-16 06:59] LegNeato commented on #695
@EituKo did that work?

[2020-07-16 07:09] #695 closed

[2020-07-16 08:31] LegNeato commented on #693
Great idea!

[2020-07-16 11:55] EituKo commented on #695
@LegNeato yes it did

This was the solution

[2020-07-16 23:10] jerel opened #705 "Subscriptions cannot be multiplexed over one websocket"
**Describe the bug**
Multiple subscriptions should be possible over one WebSocket connection, however the best I can prove this does not work with the Juniper implementation.

**To Reproduce**
Steps to reproduce the behavior:

Using the `warp_subscriptions` example you can set up a websocket connection in a Dev Tools console:
[code]
In other frameworks (tested in Node) this begins streaming messag

[2020-07-17 17:11] LegNeato commented on #649
That would be great! What guidance do you need?

[2020-07-18 17:33] jaythomas opened #708 "Wrong number of type arguments for Schema/RootNode"
(Apologies as I'm new to Rust and haven't been able to find avenues of help for this elsewhere.)

After upgrading Juniper to the latest version I am having an issues defining a type for my schema. I get the error message:

[code]

Code in question:

[code]
I've also tried using an EmptyMutation and DefaultScalar values and continue to receive errors. (I also get the impression the DefaultScalar do

[2020-07-18 19:18] mihai-dinculescu commented on #649
Tbh I think that I'm OK for now.

So far I have:
- got a new examples/actix_subscriptions example up and running based on the [juniper_actix example](https://github.com/graphql-rust/juniper/blob/master/juniper_actix/examples/actix_server.rs)
- Followed the [Actix WS example](https://actix.rs/docs/websockets) to get a Juniper Subscription to connect to the Actix WS

Next, I will look into actually

[2020-07-18 21:01] LegNeato commented on #705
I believe https://github.com/graphql-rust/juniper/pull/707 fixed this on master. Please confirm!

[2020-07-18 21:25] ccbrown opened #709 "juniper_warp::subscriptions rewrite wishlist"
The `juniper_warp::subscriptions` module has been pretty neglected and has enough shortcomings to warrant a complete rewrite imo.

Things that should be improved in such a rewrite:

* `connection_init` handling should parse parameters sent from the client, and these should be exposed in a way that allows users of the library to perform authentication based on them. (Related: https://github.com/gra

[2020-07-18 22:29] LegNeato commented on #708
Hello, welcome to Juniper and Rust! 🎉  Feel free to open issues for questions here whenever you have them.

I believe you are looking at docs for the latest release (which is on crates.io) but your code is pointed at `master`. On `master`, we have added subscriptions so there are three types to a schema:

[code]
(Note the added `EmptySubscription` type).

The master book can be seen here and is te

[2020-07-19 05:36] Ericnr commented on #646
This proposal is very interesting imo. Being able to use default resolvers + impl is nice qol and allowing multiple impl of QueryRoot/MutationRoot is a MUST imo.

[2020-07-20 00:58] jaythomas commented on #708
Thank you for the warm welcome, and that was definitely my problem! I was looking at the wrong documentation and in hindsight it should have been obvious to check I was looking at the correct function signature.

As a side not, it seems the async changes on master have created an issue with uuid support. Maybe just a false alarm and I'm doing something wrong but wanted to point it out in case I sh

[2020-07-21 06:05] LegNeato opened #713 "Add tracing support"
We should add optional (off by default) tracing. For an example, see https://github.com/seanmonstar/warp/pull/655/files.

[2020-07-21 06:06] LegNeato commented on #708
Ah, darn. I'll hopefully take a look tonight!

[2020-07-21 06:08] #705 closed

[2020-07-21 07:30] LegNeato commented on #708
Hmm, something might be wonky with your setup or there is something else going on. Does running `cargo upgrade` fix it?

The following test works for me on latest `master`:

[code]

Note that it is testing both async and sync fields.

[2020-07-21 13:31] jeromegn commented on #513
Looking forward to the release supporting warp 0.2. It's been merged in master for a while.

Any thoughts on making warp 0.2-compatible filters based on juniper_wrap 0.5.2? I see master uses the concept of subscriptions which appear fairly new and unreleased in juniper.

[2020-07-21 16:16] jaythomas commented on #708
I've pushed up the [full source](https://gitlab.com/jay-thomas/weather-station/-/tree/a6f67acb0ab45765216d4e48b23d023c493aec89/server) where the problem can be reproduced. Under `src/graphql_schema.rs` I have the line that can be uncommented:
[code]
Weather I use my MutationRoot or the EmptyMutation I receive complaints about Uuid. Could it be the version of the uuid crate my lock file uses is inc

[2020-07-22 08:30] LegNeato commented on #708
Ok, I poked at this a bit. I am not sure what is going on, but the error I am getting with a fresh checkout is from diesel not juniper. Even making diesel and juniper use the same uuid I can't get it to work, but I also don't have a ton of time right now and have never used diesel.

I started to try to fix it but had to stop as I was rewriting it and don't know much about your project 😄 .

I think

[2020-07-22 08:30] #708 closed

[2020-07-23 00:56] jaythomas commented on #708
Sorry to hear you had to wade through that code as that wasn't my intention for you to have to invest the time into that. To clarify, the juniper errors only appear in my code if you attempt to use EmptyMutation and EmptySubscription. (Needs to be uncommented in src/graphql_schema.rs):
[code]
If you say this error is an implementation issue on my end then that is fine too. I just wanted to verify

[2020-07-23 13:40] dodomorandi opened #718 "Subscriptions, Warp and stream of events"
I am trying to understand how a non-trivial subscription system should be handled.

The idea is pretty simple: multiple client can perform a subscription, and whenever a client performs a `mutation`, all subscribed clients should receive a message.

Initially, I just used a `tokio::sync::broadcast::channel`: whenever the subscription function is called (through graphql), a new tokio receiver is ob

[2020-07-24 00:00] ccbrown commented on #709
Starting on this now. Plan is to introduce a new crate that implements the graphql-ws protocol in a reusable way. Then juniper_warp, juniper_rocket, etc. can use that to provide subscription functionality with just a few lines of code.

[2020-07-25 03:28] LegNeato commented on #718
@nWacky wrote the current implementation

[2020-07-28 22:08] ccbrown commented on #447
Imo if there is a generic, non-Authorization-related, way Juniper can help you accomplish what you want, that would be a great addition to Juniper.

However, building authorization on top of Juniper is a bit of an anti-pattern. See the GraphQL.org's page on best practices for authorization:

https://graphql.org/learn/authorization/

In your example, the recommended practice would be for the `find_

[2020-07-28 22:16] LegNeato commented on #447
Agreed! If Juniper doesn't have the proper hooks, please open an issue on the missing extension / integration point.

[2020-07-28 22:16] #447 closed

[2020-07-29 08:23] #709 closed

[2020-07-29 08:26] LegNeato commented on #718
@ccbrown just revamped some of this stuff and may be of help. You will likely want to check out and update to the latest master.

[2020-07-29 08:34] ccbrown opened #726 "Add support for parsing and validating a query without executing it"
Currently, when getting a request that might contain a subscription, there's no way to know if it actually contains a subscription until you try to execute it. This is a problem for example in our graphql-ws implementation, which currently just has to invoke both `juniper::execute` and `juniper::resolve_into_stream` and see what works:

https://github.com/graphql-rust/juniper/blob/84c9720b535c37df

[2020-07-29 09:21] LegNeato commented on #726
This would probably get rid of duplicate code between `execute` and `execute_sync` too.

[2020-07-29 09:34] projektir opened #727 "Unable to use a `juniper::graphql_object` type inside a `juniper::GraphQLObject` derive if `Context` was injected"
Been having a lot of trouble getting the two macros work together in general (if I just use one or the other everywhere it seems to work fine).

This code doesn't compile with '(Context = SimpleContext)`:

[code]

Error:

[code]

I imagine this is failing because Context needs to be specified further down, is it possible to specify it with `GraphQLObject`?

To explain why I want to use `GraphQLObj

[2020-07-29 09:44] ccbrown commented on #718
Check out this gist: https://gist.github.com/ccbrown/d2a3a26093c749e31338a944721b2e60

It's a modification of the "warp_subscriptions" example that I believe does what you're describing: When someone performs the "send" mutation, all subscribers get the message exactly once:

<img width="1792" alt="Screen Shot 2020-07-29 at 5 23 49 AM" src="https://user-images.githubusercontent.com/1731074/8878486

[2020-07-29 10:20] dodomorandi commented on #718
Thank you so much @LegNeato, @ccbrown and everyone else! I just tried to follow the new way of handling the subscription showed in the example, and it looks like the messages are perfect now! Indeed, the code I have is pretty similar to the gist provided by @ccbrown (tiny difference: I am using directly the `tokio::Sender` instead of an `Arc` because, AFAIK, `Sender` should be already reference co

[2020-07-29 10:20] #718 closed

[2020-07-29 15:17] ccbrown commented on #727
To specify the context type for the `GraphQLObject`:

[code]

[2020-07-29 15:52] ccbrown opened #728 "Support for distinguishing explicit from implicit null"
To quote the spec:

As far as I can tell, there's no good way for a field resolver to distinguish between the two. It would be nice if there were a type that could be used to make the distinction. Maybe something like...

[code]

[2020-07-29 15:52] projektir commented on #727
Ahh, I thought I tried that before and wasn't sure it was a valid attribute but it's working this time around! Not sure where the documentation for `graphql` attributes would be.

[2020-07-29 15:53] #727 closed

[2020-07-29 23:55] LegNeato commented on #728
This is a duplicate of https://github.com/graphql-rust/juniper/issues/183

[2020-07-29 23:55] #728 closed

[2020-08-01 10:53] mihai-dinculescu opened #729 "Subscription messages contain both `data` and `errors`"
**Describe the bug**
Successful messages contain an empty array `errors` property, while error messages contain a null `data` property.

[code]

[code]

**To Reproduce**
Run the warp_subscriptions example

**Expected behavior**
Succesful messages should contain only `data`. Error messages should contain only `errors`.

**Additional context**
Introduced by https://github.com/graphql-rust/juniper/pu

[2020-08-02 01:08] ccbrown commented on #729
This isn't a bug. The result of executing a GraphQL operation is not binary "success" or "error". You can have data present _and_ have errors. In fact, the spec requires that the `data` key is always present if execution occurs (as opposed to an error happening during parsing or validation, in which case a different message type is sent back altogether):

It probably makes sense to omit the empty

[2020-08-02 01:18] ccbrown commented on #729
PR to omit empty errors from serialization: https://github.com/graphql-rust/juniper/pull/732

The spec does say:

So that's definitely worth changing.

[2020-08-02 07:43] #729 closed

[2020-08-02 07:44] mihai-dinculescu commented on #729
That looks like an inconsistency in the spec. Just above that, under [Response Format](http://spec.graphql.org/June2018/#sec-Response-Format), the spec takes a more prescriptive approach:

[2020-08-02 08:18] mihai-dinculescu commented on #729
The caveat here is if the operation started executing or not.

[Data spec](http://spec.graphql.org/draft/#sec-Data)

[Response Format spec](http://spec.graphql.org/draft/#sec-Response-Format) is even more prescriptive

[2020-08-02 08:21] ccbrown commented on #729
The message type you're referring to is only used if execution has started. If execution has not started, an entirely different message type is used. That's the difference between the graphql-ws "data" and "error" messages:

https://github.com/graphql-rust/juniper/blob/6788ef20c85fe5fbe8bbd47b4264788c7a6ad77a/juniper_graphql_ws/src/server_message.rs#L109-L123

[2020-08-02 08:27] ccbrown commented on #729
Looks like you're right about the success case. That fix has been merged though, so I think we're now 100% spec compliant. Let me know if anything else looks off.

[2020-08-02 08:48] mihai-dinculescu commented on #729
Right! I've got the two confused. All good!

[2020-08-11 22:24] Type1J opened #734 "Support @defer and @stream"
**Is your feature request related to a problem? Please describe.**
I'd like to issue 1 request and get back important data, but then have the less important data sent later, or have some parts streamed as they change (like a "like" count).

**Describe the solution you'd like**
The GraphQL spec is being updated to describe 2 directives: @defer and @stream that were made exactly to solve the problem

[2020-08-12 15:25] lightdiscord opened #735 "juniper_graphql_ws: serde deserialization error with null values"
**Describe the bug**
When a client start a subscription it sends a payload which can contain optional variables. Currently, serde `default` field attribute [is being used](https://github.com/graphql-rust/juniper/blob/master/juniper_graphql_ws/src/client_message.rs#L13).
It works if the key is not present or if it is an empty object (`{}`) but yield a serde error if it's `null` (`invalid type: null

[2020-08-13 17:44] leebenson opened #737 "Do a crates.io release with Websockets / Subscriptions support"
@LegNeato, thanks for the excellent library. We're currently experimenting with it for Vector (https://vector.dev/).

Do you have an expectation for when a release may be cut with 'official' subscriptions / Websockets support, please? Our use-case is primarily streaming data, so this would be perfect.

I saw [your warning](https://github.com/graphql-rust/juniper/issues/669#issuecomment-640105347)

[2020-08-14 06:42] LegNeato commented on #735
Sounds great, thank you for the report and the suggested fix! Would you be willing to put a PR up?

[2020-08-14 06:45] LegNeato commented on #737
Awesome, love vector and suggested work should use it 😄 .

Waiting for async interfaces (https://github.com/graphql-rust/juniper/pull/682) to firm up land and then intend to cut a new release.

If @tyranron can't get back to it soon I will likely pick it up.

[2020-08-14 08:06] tyranron commented on #737
@LegNeato I haven't recently budget to work on interfaces, but I hope during next month I'll finish them.

There is also some work with refactoring existing macros to have them all consistent and play well with `ScalarValue` defaults, but I think this can be postponed to next major release.

[2020-08-14 09:58] lightdiscord commented on #735
No problem. I'll open a PR.

[2020-08-14 23:46] #735 closed

[2020-08-16 07:39] leebenson commented on #737
Are either of you available for commercial support?

We're keen on implementing Juniper in Vector ASAP. We're building an awesome new visualization UI for Vector, with Juniper as the GraphQL provider between a deployed instance, and the browser.

Websockets and subscription support is what we're after right now. Beyond that, there may be other issues or bug fixes that may make sense to prioritize.

[2020-08-18 08:16] tyranron commented on #737
@leebenson just because I think Vector is such an amazing piece of software, I've rescheduled my priorities for you and will finish #682 as soon as I'm capable to.

Regarding the commercial support, thank you very much for this offer, however, I can't accept it due to several reasons (including personal opinions about collaboration in open source).
I'll help as much as I'll able to, but for no mon

[2020-08-18 08:24] leebenson commented on #737
@tyranron, that's an incredible gesture - thanks so much for your support.

I know how difficult it can be juggling multiple priorities. The offer for commercial support remains if it helps remove external pressure, but I certainly respect your position on open source. Thanks so much!

[2020-08-19 23:59] samuela opened #741 "juniper_hyper example code doesn't work"
**Describe the bug**
The juniper_hyper example code doesn't work with the currently published juniper/juniper_hyper crates. Here's a reproduction: https://github.com/samuela/juniper_hyper_broken/.

[code]

**To Reproduce**
Steps to reproduce the behavior: clone the example code and try `cargo check`ing it.

**Expected behavior**
The example code to work.

**Additional context**
I'm running rust st

[2020-08-21 01:06] loafofpiecrust commented on #580
I'm having the same problem where I want to nest a type defined with `#[juniper::graphql_object]` with only `async` functions inside one defined with `
#[derive(juniper::GraphQLObject)]` and I get these same kinds of errors.
Is this something we want to fix or not?

[2020-08-21 03:12] LegNeato commented on #580
If you add `noasync` to the first case (a la https://github.com/graphql-rust/juniper/blob/4d77a1a9b9b0e60cbeb200527289bd45afec4141/juniper/src/schema/schema.rs#L134) then does it work?

[2020-08-21 03:28] LegNeato commented on #741
Hello! I have put up a PR to make your example project work:

https://github.com/samuela/juniper_hyper_broken/pull/1

The gist is you need to point at `master` until we do another release.

[2020-08-21 03:28] #741 closed

[2020-08-21 03:29] LegNeato commented on #741
Let me know if that doesn't fix it!

[2020-08-21 07:07] tyranron commented on #580
@LegNeato it's not about asyncness, but rather because one of the macros derives code for `DefaultScalarValue` and another oned for `__S: ScalarValue`. Then the first is used as the field of the second one, so we have the situation when we need funtion being abstracted over `__S: ScalarValue`, but in fact we can call inside only something with `DefaultScalarValue`.

I'm going to fix this once I fi

[2020-08-21 14:06] zyddnys opened #742 "Support using GraphQLInputObject as output"
For some reason I can't use GraphQLInputObject as output or I get "Introspection must provide output type for fields". so I have to make copies of the same type for output.
I think this hassle is completely avoidable. Opening this issue hoping this get fixed.

[2020-08-21 16:45] #742 closed, assigned to nobody

[2020-08-26 10:09] auryn31 commented on #689
I cannot find the function `as_schema_language()` in version `juniper = "^0.14.2"`

Is it still available?

My `Schema` looks like this:

[code]

[2020-08-26 10:20] tyranron commented on #689
@auryn31 unfortunately, it's available on `master` only.

[2020-08-26 10:34] auryn31 commented on #689
Oh ok
Thanks

[2020-08-27 14:33] Type1J opened #743 "GraphQL schema stiching"
**Is your feature request related to a problem? Please describe.**
I would like to be able to specify that part of my schema is found on an upstream server, and I'd like it updated when an upstream server updates.

A clear and concise description of what the problem is.
I can't combine my microservices without using Apollo Server.

**Describe the solution you'd like**
I'd like a way to point to a

[2020-08-27 21:53] stijnfrishert opened #744 "Enum interfaces don't seem to work when using juniper::object"
I'm building an interface using the enum pattern as [per the book](https://graphql-rust.github.io/juniper/current/types/interfaces.html#enums).

This works when I use `#[derive(juniper::GraphQLObject)]` for my cases. However, as soon as I switch over to using `#[juniper::object(Context = Context)]`, I get a compilation error:

[code]

What's up with that? Does anyone know how to solve this?

Here'

[2020-08-28 00:43] LegNeato commented on #743
We will likely never support this. Juniper's schema is defined at compile time, not runtime.

[2020-08-28 00:43] #743 closed

[2020-08-28 01:31] LegNeato commented on #744
Apologies, interfaces are broken in master until https://github.com/graphql-rust/juniper/pull/682 lands.

[2020-08-28 01:31] #744 closed

[2020-08-28 01:44] LegNeato opened #745 "Investigate using const functions"
Const functions could possibly be used to handle certain things at compile time. We should investigate.

[2020-08-28 06:12] stijnfrishert commented on #744
But I’m using 0.14.2, not master. Is it broken there too? @LegNeato

[2020-08-28 07:57] LegNeato commented on #745
At the very least the introspection query can be figured out at build time I think...it only depends on the schema and the query is static.

[2020-08-28 07:58] LegNeato commented on #745
As can the schema file?

[2020-08-28 08:29] tyranron commented on #744
@stijnfrishert well, that's the №1 "wut?"-problem in Juniper with deriving macros.

The problem is that `#[juniper::object()]` macro generates code which is not generic over `S: ScalarValue`, but just uses `DefaultScalarValue`.
As the result, your `juniper::graphql_interface!` implementation cannot be generic over `S: ScalarValue` too.

We're going to fix this soon before the next release.

[2020-08-28 08:38] repi opened #746 "New crates.io release?"
Possible to do a new crates.io release soon?

Been 8 months since the last one and there are a few merged PRs that we would like to use in a published release

[2020-08-28 10:10] stijnfrishert commented on #744
@tyranron, thanks for the explanation, that makes sense.

So if this is broken in 0.14.2 as well, is there a work-around?
Use the old `juniper::graphql_object` macro?
Use an even older version of Juniper?

Hope you don't mind the questions, but I'd like to continue development and this is a bottleneck now :)

[2020-08-28 14:03] tyranron commented on #744
@stijnfrishert just try not implement GraphQL interface generically over `S: ScalarValue`.

Instead:
[code]

Try:
[code]
or
[code]

[2020-08-28 14:41] stijnfrishert commented on #744
Ah, right. That works! Thanks 👍

Was running into issues trying to do that on master, but it works on 0.14.2.

[2020-08-29 06:36] LegNeato commented on #746
Soon! Please see https://github.com/graphql-rust/juniper/issues/737

[2020-08-29 06:36] #746 closed

[2020-08-29 07:04] LegNeato commented on #649
Looks like this landed, thank you!

[2020-08-29 07:04] #649 closed

[2020-08-29 17:23] stijnfrishert opened #748 "Get context in interface field resolvers"
One of my interface's fields resolves to another type. I'd like to store that field as an `ID` and retrieve it from my context upon resolution. Whenever I try this, I get an error saying the trait bound `FromInputValue` is not satisfied for my context.

[code]

This leads me to believe this is simply not supported in the current 0.14.2 release. Is this something I should also wait for in the new i

[2020-08-30 03:28] Type1J commented on #743
@LegNeato It is something that is feasible to do at runtime. The upstream types would be opaque. This is a pass-though feature, not something that would generate types.

[2020-08-31 03:16] LHY-iS-Learning opened #749 "Consider release 0.15 on crates.io"
**Is your feature request related to a problem? Please describe.**
It's been 9 months since the last release of Juniper on `crates.io`. Many nice features are added in master branch, and people are using master branch as their dependency.
However the iteration is fast, and people may found their code broken due to minor issues like file/folder relocation.

**Describe the solution you'd like**
A ne

[2020-08-31 06:58] mickdekkers commented on #743
You may be interested in [Federation](https://github.com/graphql-rust/juniper/issues/376) if/when that is implemented in Juniper. From my understanding it does what you describe and although it was started by the Apollo team, there is an [open specification](https://www.apollographql.com/docs/apollo-server/federation/federation-spec/) for implementing it in different languages.

[2020-08-31 07:28] LegNeato commented on #749
Just waiting for async interfaces to land! This is a dupe of https://github.com/graphql-rust/juniper/issues/737.

[2020-08-31 07:28] #749 closed

[2020-08-31 08:07] LegNeato commented on #743
This doesn't need to be in Juniper though, right? From what I know (not much!) It is probably handled by a higher level that chooses this part of the graph -> call `juniper::execute()`, other parts of the graph, do X.

Am I thinking about it wrong here?

[2020-08-31 12:11] mickdekkers commented on #743
@LegNeato I'm afraid I'm not very familiar with Juniper or with the Federation spec, but I'll try to answer your question as best I can. Generally speaking, [Federation consists of two parts](https://www.apollographql.com/docs/apollo-server/federation/introduction/): a _gateway_ and a number of _implementing services_. The _gateway_ implements the higher level logic that determines which implement

[2020-08-31 12:27] sessionboy opened #750 "Expose the fields of GraphQLRequest"
**Describe the solution you'd like**

My database is [dgraph](https://github.com/dgraph-io/dgraph), which is a native graphql database.
I need to query the data of `dgraph graphql database` in the juniper server. This is not as easy as restful.

So i want to get `query`, `operation_name` and `variables` because I want to request data from `dgraph graphql database` based on them. But now they are p

[2020-08-31 16:00] LegNeato commented on #750
Hmm, I thought operation name was public, perhaps it got dropped:

https://github.com/graphql-rust/juniper/pull/265/commits

[2020-08-31 16:15] sessionboy commented on #750
@LegNeato  I checked the source code, they are private and I cannot get them. Can you update and publish it ?

[2020-09-01 20:00] Type1J commented on #743
@mickdekkers You are correct, I believe Federation is better than stitching, but I didn't know of its existence until your comment. Then I saw this: https://www.youtube.com/watch?v=ra5WuUvQRIM The federation gateway can be a different crate.

[2020-09-02 00:07] bostontrader opened #752 "Juniper/Rocket/MySQL integration"
I'm having a difficult time getting Rust, Juniper/GraphQL, and MySQL to all work together.  This problem is compounded by the fact that each piece is working just fine, it's the integration that is a problem.  So who shall I beg insight from?

As Rocketeers know, Rocket has a method for connecting to MySQL. It involves creating an object, in my example I'll call it MyRocketSQLConn, and feeding sai

[2020-09-02 06:49] LegNeato commented on #752
Is your WIP code open source? Happy to take a look.

[2020-09-02 14:35] seunghunee opened #753 "juniper_hyper in cartes.io needs to be updated?!"
I'm very very a newbie in rust and juniper.
I've installed juniper_hyper using cargo.
The problem was I get an compile error with this code.
[code]

Maybe, I think because this juniper_hyper uses futueres 0.1.29, so it can't use async/await syntax.
[juniper_hyper 0.5.2 in Crates.io has futures^0.1 dependency](https://crates.io/crates/juniper_hyper/0.5.2)
So, juniper_hyper needs to be updated to us

[2020-09-02 22:28] bostontrader commented on #752
Howdy @LegNeato ,

Thanks for the offer.  The code is indeed open source and you can find it [here](https://github.com/bostontrader/bookwerx-core-rust)

The route handler named post_graphql_handler can be found starting at line 257 in src/bin/server.rs

The function that I'm trying to feed the MySQL connection into is named currencies and can be found starting at line 18 in src/schema.rs.  This is

[2020-09-02 22:31] bostontrader commented on #752
P.S. When the server is running...
`curl -X POST -H "Content-Type: application/json" -d '{"query": "{ currencies }"}' http://localhost:3003/graphql`

[2020-09-03 06:04] LegNeato commented on #753
Hello! Yes, the crates.io release is only compatible with an older hyper unless you use the compat layer of the futures crate. I would suggest using master of `juniper` and `juniper_hyper` until we do another release (soon, see https://github.com/graphql-rust/juniper/issues/737).

For version numbers on master, we only bump when doing a release so what is on master is not what is on crates.io even

[2020-09-03 06:04] #753 closed

[2020-09-03 07:12] LegNeato commented on #752
https://github.com/bostontrader/bookwerx-core-rust/pull/1 allows it to compile but don't know if it is the right thing to do for rocket. Let me know if it is still an issue or if that solves it!

[2020-09-03 07:12] #752 closed

[2020-09-03 13:30] mkpankov commented on #750
I think I need this too. Say user wants a subfield `{ details { foo, bar } }`. I need a different query for PostgreSQL to fetch details. Right now I have a query argument `detail: bool`, but I really should determine if user asked for details and change logic automatically.

[2020-09-04 19:05] jerel opened #754 "juniper_graphql_ws silently closes the socket"
**Describe the bug**
When running the latest `examples/warp_subscriptions` app locally the websocket silently dies after ~20 seconds. I suspect that there's an issue with the keepalive functionality but haven't been able to track it down. If `config.with_keep_alive_interval(0)` is used the socket stays open. If `config.with_keep_alive_interval(Duration::from_secs(15))` is used it also stays open,

[2020-09-05 00:54] LegNeato commented on #754
There is no default keepalive value for GraphQL clients, so it is up to you to set it for your particular use-case.

See this in the example:

https://github.com/graphql-rust/juniper/blob/45c16acc6e6dba9cf32e075d4516a9ab7c6fe780/examples/actix_subscriptions/src/main.rs#L101

We actually probably shouldn't even provide a default and make consumers specify it. Though if clients are all starting to d

[2020-09-05 01:00] LegNeato commented on #754
Actually, reopening. I wonder if we are using just simple durations between keep alive pings instead of checking that we get pings in x second bucket intervals.

[2020-09-05 01:01] LegNeato commented on #754
(note there is a potential fence post / counting problem here on both sides)

[2020-09-07 04:10] LegNeato commented on #754
It looks like `graphiql` uses https://github.com/apollographql/subscriptions-transport-ws under the hood. According to the readme the default is 30000 ms.

There is probably something wonky here where the playground is 20 secs but we need 15 to actually work. I wonder if we are sending it too late or the clients are starting to count too early?

[2020-09-08 20:11] jerel commented on #754
For some reason it hadn't occurred to me that the client was closing the connection. It looks like this is just a simple mismatch between the juniper_graphql_ws crate's default of 30 seconds https://github.com/graphql-rust/juniper/blob/master/juniper_graphql_ws/src/lib.rs#L66 and the GraphQL Playground's default of 20 seconds https://github.com/prisma-labs/graphql-playground/blob/master/packages/g

[2020-09-09 01:31] LegNeato commented on #754
I'd take a PR to make the default 15 seconds, sounds like that will work for Graphiql and the playground!

[2020-09-10 06:50] LegNeato commented on #748
Hmm, I think something similar should work but haven't looked at release version in a long time. After https://github.com/graphql-rust/juniper/pull/682 lands this should be fixed on master.

[2020-09-10 15:38] smmoosavi opened #758 "Question: how to return `vec<str>` in resolver"
I know this is a more rust question, less juniper question.

How I can run a command and parse the output and return the result in a juniper resolver function?

code:

[code]

error:

[code]

[2020-09-10 22:02] #754 closed

[2020-09-10 22:20] bostontrader opened #759 "Automatic injection of version information into the docs."
Hello folks,

I propose to tweak the documentation generation process generally according to the following rules:

* If a commit has a tag like "juniper-n.n.n" then use that tag as the version in the docs.  Else use the first few digits of the commit hash as the version.

With a bit of reflection I think you can easily see that given this change any commit that you think is worthy of having a rele

[2020-09-10 22:47] bostontrader opened #760 "Efficient generation of SQL queries"
Hello folks,

I would like to start a discussion about a general overview about how to connect GraphQL to SQL.  I'm not looking for specific code for specific products (such as Rocket, Diesel, Postgress, MySQL) but am instead interested in the general overview of how we can approach the problem of generating efficient SQL queries from Juniper's GraphQL.

After quite a bit of search I have very sur

[2020-09-11 08:24] LegNeato commented on #760
Hmmm. If you are talking about generating a SQL query in resolvers, there is dataloader and juniper-eager-loading as two strategies to prevent inefficiencies.

If you want to translate a SQL query to a GraphQL query, you don't need `juniper` at all as it would just take in the translated GraphQL query.

If you want to translate the schema to an SQL table (similar to hasura), you can get the schema

[2020-09-11 12:54] smmoosavi commented on #758
Problem solved by using `String` instead of `&str`
[code]

[2020-09-11 12:54] #758 closed

[2020-09-12 12:34] SharksT opened #763 "Can't unify non-input concrete type error on nested struct"
**Describe the bug**
I'm getting can't unify non-input concrete type error on nested struct and getting a error to fetch the schema on insomnia, probably the same problem

[code]

Error on fetch:

![image](https://user-images.githubusercontent.com/18709139/92995538-e2013800-f4da-11ea-8e7a-eef6b3a9a40c.png)

**To Reproduce**
Steps to reproduce the behavior:
The input struct:
[code]
Variable on the

[2020-09-12 12:46] SharksT commented on #763
This was happening because i had another struct with the name Complements, although in a completely different query was causing a conflict.

[2020-09-12 12:46] #763 closed

[2020-09-13 15:40] simongottschlag opened #764 "Using Cloud Events with Juniper"
Hi!

I'm new to Rust and gotten Juniper to work with actix-web. Now I'm trying to use the types from Cloud Events Rust SDK to work with GraphQL without much success.

Now, this may not be a limitation with Juniper and I'm just bad at Rust - but thought it may be worth asking.

Is an external type supposed to be able to work with a Struct for Juniper?

More info about cloud events here: https://git

[2020-09-14 06:22] davidpdrsn commented on #764
No that isn't possible unfortunately. The `#[derive(GraphQLObject)]` can only implement the required juniper traits for the type its put on. It isn't able to figure out which fields `CloudEvent` has and then make that Juniper compatible as well. That would also be a violation of the [orphan rule](https://doc.rust-lang.org/book/ch10-02-traits.html).

I think in this case you'd have to wrap `cloudev

[2020-09-14 06:50] simongottschlag commented on #764
@davidpdrsn thank you! I'll wrap it. 👍

[2020-09-14 06:50] #764 closed

[2020-09-14 19:05] davidpdrsn commented on #748
I don't exactly remember but I don't think you should specify the context argument on the field itself:

[code]

That is at least what I do in juniper-from-schema [here](https://github.com/davidpdrsn/juniper-from-schema/blob/master/juniper-from-schema-code-gen/src/ast_pass/code_gen_pass.rs#L285) and [here](https://github.com/davidpdrsn/juniper-from-schema/blob/master/juniper-from-schema-code-gen/s

[2020-09-14 20:44] stijnfrishert commented on #748
Oh nice, thanks, @davidpdrsn! I'll give that a try :)

[2020-09-14 22:54] bostontrader commented on #760
@LegNeato, thanks for the insight.  I have what I guess is a very common issue.  I have a bunch of MySQL tables that I want to access and I want to be able to provide a GraphQL interface.  I'm using the Rocket framework.

Given the GraphQL query, I want to build a single SQL query that will do what I want.  I think that given access to the GraphQL AST I can do this and thus graphql-parser looks li

[2020-09-19 04:30] dwgeneral opened #766 "Field type not found on type Mutation"
I defined a struct which has a `type` field

[code]

and the compiler tell me, it can't accept this, so I changed to fix it.

[code]

[code]

and the graphiQL is printed well.

<img width="167" alt="Screen Shot 2020-09-19 at 12 27 08 PM" src="https://user-images.githubusercontent.com/8654993/93659064-09747980-fa74-11ea-9303-d9d500c87849.png">

but when I requested this Object, I got this error

[c

[2020-09-19 06:20] LegNeato opened #767 "Investigate using rowan for parsing"
https://docs.rs/rowan/0.10.0/rowan/index.html

See https://rdambrosio016.github.io/rust/2020/09/18/pure-ast-based-linting-sucks.html#problems-with-asts

[2020-09-19 06:28] lindblom opened #768 "Runtime schema construction"
Hello,
This look great for schemas that are known at compile time, Is it possible to construct the schema at runtime? I'm thinking an application where each user has it's own schema based on their account settings.

[2020-09-19 21:13] lindblom commented on #768
This seem to be it: https://docs.rs/juniper/0.14.2/juniper/trait.GraphQLType.html

[2020-09-19 22:50] LegNeato commented on #766
Which version are you using? Crates.io or master?

[2020-09-20 03:05] dwgeneral commented on #766
name = "juniper"
version = "0.14.2"
source = "registry+https://github.com/rust-lang/crates.io-index"

[2020-09-20 16:42] LegNeato commented on #766
Ah, this should be fixed on master. We are cutting a new release soon!

[2020-09-20 16:42] #766 closed

[2020-09-22 17:08] loafofpiecrust commented on #655
This looks really similar to how `Context` data is retrieved in [`async_graphql`](https://github.com/async-graphql/async-graphql).

[2020-09-24 04:05] chipsenkbeil opened #769 "Cannot derive GraphQLUnion with variants containing structs defined with graphql_object"
Using latest master version of Juniper as of 2020/09/23.

**Describe the bug**
Trying to derive a union with variants containing structs defined using `#[juniper::graphql_object]` on their impls instead of deriving `juniper::GraphQLObject` on the structs fails.

Errors include the following:

1. trait `juniper::marker::GraphQLObjectType<__S>` is not implemented for `One`
2. trait `juniper::IsOutpu

[2020-09-24 14:15] tyranron commented on #769
@chipsenkbeil yup, there is some unintuitive misbehaviour at the moment: be default `#[derive(GraphQLObject)]` generates code which is generic over `__S: ScalarValue`, while `#[graphql_object]` generates code which uses `DefaultScalarValue` only.

Though, as leaves of your schema are not generic over `__S: ScalarValue`, so neither the unoit type can be. You should specify the `scalar = DefaultScal

[2020-09-25 03:56] zacck commented on #726
Hey @LegNeato I would love to take this on, but at  the moment I have no idea where to get started it is ok to ask for instructions on what needs to be done?

[2020-09-29 23:47] tuco86 commented on #760
I'm new to rust so this might be horrendous code, but i got a query only selecting the required fields working.

I hope this helps.

[code]

I had to make a change to juniper, tho. https://github.com/graphql-rust/juniper/compare/master...tuco86:master

[2020-09-30 00:44] trevyn commented on #760
@bostontrader In your last comment, you have the full query in your `post_graphql_handler`, so you should have all the info needed to generate your SQL query, and then couldn't you just pass it to the resolver through (a somewhat more complicated) Context?

I'm a little confused about this thread -- are you also looking for tips on how to programmatically generate a SQL query for an arbitrary nest

[2020-09-30 11:39] ryosukemitake opened #771 "juniper::Executor does not support r2d2_mysql::MysqlConnectionManager"
**Describe the bug**
A clear and concise description of what the bug is.

I would appreciate any help for the error below

error
[code]

**To Reproduce**
Steps to reproduce the behavior:
(code example preferred)

cargo build --release

[code]

src/graphql.rs
[code]

src/main.rs
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
I need to connect to the my

[2020-09-30 15:03] davidpdrsn commented on #771
What does your schema.graphql file look like?

[2020-09-30 15:45] ryosukemitake commented on #771
@davidpdrsn
thanks for your help!

schema.graphql
[code]

[2020-09-30 15:50] davidpdrsn commented on #771
Thanks! I'll look into it.

[2020-09-30 21:54] davidpdrsn commented on #771
This isn't a juniper issue.

Having looked into the code I'm a bit confused. Do you want to use [the diesel crate](https://crates.io/crates/diesel) to talk with MySQL or [the mysql crate](https://crates.io/crates/mysql)? From looking at your dependencies it seems like you're going with mysql but the code is referencing Diesel. Note that r2d2_mysql works with the mysql crate _not_ with diesel. For

[2020-10-01 15:55] davidpdrsn commented on #771
I'm gonna close the issue since it isn't juniper related. Feel free to comment if you have more questions.

[2020-10-02 06:29] ryosukemitake commented on #771
@davidpdrsn

appreciation for your great support, and it solved the error with DbPool and DbCon.
thanks again.

However, when I Implement MutationField for graphQl mutation, the return requires FieldResult<Customer>, while  diesel's execute method only return usize not vector.
are there some solutions to integrate diesel with juniper for mysql insertion ?

code
[code]

diesel's api doc
in posgres

[2020-10-02 06:44] davidpdrsn commented on #771
I don't have much experience with MySQL but postgres supports a `returning` clause on insert, update, and delete. Diesel also has APIs for that https://docs.rs/diesel/1.4.5/diesel/query_builder/struct.InsertStatement.html#method.returning.

If that isn't supported by MySQL you'll have to somehow get out the id of the new row and run a regular select statement to get the remaining data I guess.

If

[2020-10-02 13:17] saskenuba commented on #456
Any more thought was given to this? Introspection should be disabled in production environments unless you have a public-facing API where you need it, in order to avoid enumeration of available queries.

It would be nice to opt queries out of the default public visibility.

Perhaps as a proc macro attribute where the default is to expose, but can be made private:

[code]

[2020-10-03 01:16] ryosukemitake commented on #771
@davidpdrsn

I asked the diesel community, and i got to know that I need to do a separate query, selecting the newly inserted data as you also mentioned.

thanks for your support !

[2020-10-06 07:21] #544 closed

[2020-10-06 07:30] LegNeato opened #774 "Consider using codespan for codegen"
This project makes nice errors:

https://github.com/brendanzab/codespan

We should consider using it.

[2020-10-06 07:36] LegNeato commented on #760
Generally this is called the "N+1" problem in GraphQL.

Juniper provides lookaheads and it is up to you to decide how best to implement your mitigation logic.

There are roughly two strategies folks have standardized in GraphQL:

1. Dataloaders, where each user gets their own mini cache that only lasts for the request.
2. Eager loading, where all data for the whole query is loaded up front / at th

[2020-10-06 07:47] LegNeato commented on #456
Is it even spec compliant to not allow introspection? We don't handle introspections in a special way, we just treat them as a normal query (and this is how they are handled in the spec).

[2020-10-06 08:45] tyranron commented on #605
Landed in #682

[2020-10-06 08:45] #605 closed

[2020-10-06 08:47] tyranron commented on #421
In #682 landed the implementation for GraphQL interfaces.

[2020-10-06 08:48] tyranron commented on #2
With #682 landed, we're fully async compatible now!

[2020-10-06 10:03] #658 closed

[2020-10-06 10:32] tyranron commented on #748
This is now possible in `master`. See [description in Book](https://graphql-rust.github.io/juniper/master/types/interfaces.html#custom-context).

[2020-10-06 10:32] #748 closed

[2020-10-06 10:34] tyranron commented on #658
Now [documented in Book along with interfaces](https://graphql-rust.github.io/juniper/master/types/interfaces.html).

[2020-10-06 17:16] Nocturem opened #775 "Issues with NaiveDateTime and Query Variables"
Hi there,

I have run into a little trouble making an Apollo frontend play nice with my Juniper + Diesel + Rocket backend specifically in handling NaiveDateTime values within an input object

I have a GraphQL input object

[code]
this is called in
[code]

which behaves fine from graphiql as an inline declaration
[code]

but doesn't play so nice when called as a variable in a query

[code]
with the

[2020-10-07 04:22] LegNeato commented on #775
This looks like a bug at first glance, thanks for the report!

I hope to get some time to look into this but if you want to start poking around the serialization and federalization is defined in https://github.com/graphql-rust/juniper/blob/master/juniper/src/integrations/chrono.rs

[2020-10-07 07:24] tyranron commented on #775
Yup, the problem is in [this line](https://github.com/graphql-rust/juniper/blob/7578175baf9caa1d6e591dc5a29f33e9eded28fb/juniper/src/integrations/chrono.rs#L145), which is not covered by tests, as [tests use `InputValue` directly](https://github.com/graphql-rust/juniper/blob/7578175baf9caa1d6e591dc5a29f33e9eded28fb/juniper/src/integrations/chrono.rs#L240-L243).

If we look at [`f64::from_str`](htt

[2020-10-08 00:40] #775 closed

[2020-10-08 03:09] kunjee17 commented on #737
#682 is in master. It's time to update the world. 😎

[2020-10-08 18:02] DusterTheFirst opened #780 "`GraphQLObject` field attribute like serde's `serialize_with`"
**Is your feature request related to a problem? Please describe.**
When creating graphql objects using the `GraphQLObject` custom derive which have types that do not implement [`GraphQLType`](https://docs.rs/juniper/0.14.2/juniper/trait.GraphQLType.html) you end up being forced to use the `#[juniper::graphql_object]` proc macro and redefine methods to expose each and every field manually. It would

[2020-10-08 18:14] DusterTheFirst commented on #780
Another solution could be to enable a way to make a type that implements `Display` implement `GraphQLType`

[2020-10-09 02:44] wongjiahau commented on #2
@tyranron Are there any example?

[2020-10-09 09:05] stijnfrishert opened #781 "impl Display for ID"
In my `FieldResult` error I very often want to say something like `format!("object with id {} wasn't found", id)`, but `ID` doesn't have `fmt::Display` implemented.

Since `ID` is nothing but a `String` newtype, seems like a valid thing to do, right? Sure, I could use `{:?}`, but implementing Display seems like the right thing to do here.

[2020-10-09 09:25] tyranron commented on #2
@wongjiahau check the book on `master` and examples in the repository.

[2020-10-09 14:07] LegNeato commented on #781
Sounds good, happy to take a PR with the change and a test to make sure it does not regress.

[2020-10-10 06:27] stijnfrishert commented on #781
At your service!

[2020-10-10 18:13] saskenuba commented on #456
While I am almost certain it is not mentioned in the spec, it is positively a good thing to have natively in the framework.  Please forgive me if there is already a mechanism to implement something like this, I still do not have a lot of familiarity with juniper.

Several frameworks allow disabling introspection nativaly, such as [Apollo Graphql](https://www.apollographql.com/docs/apollo-server/te

[2020-10-10 21:02] LegNeato commented on #456
Thank you for this! I agree this is good to have.

[2020-10-11 07:50] wongjiahau commented on #143
I actually *solved* this problem by removing the lifetime parameter from the Context object.

If you think about it, the context shouldn't need an annotated lifetime, because it's suppose to live as long as the program. In other words, the fields within the Context object should also live as long too.

Initially I have this following piece of code, the Context is `Persistence`:
[code]
And the impl

[2020-10-11 09:21] wongjiahau commented on #2
I found the fix by using `juniper = { git = "https://github.com/graphql-rust/juniper", rev = "68210f5"}` instead of `juniper = 0.14.2`.

[2020-10-11 15:35] LegNeato commented on #781
Thank you so much!

[2020-10-11 15:35] #781 closed

[2020-10-11 17:56] DusterTheFirst opened #784 "Ability to produce a graphql schema file for use in other clients"
Basically what the title says. juniper is very good at merging rust and graphql together so strictly, but outside of the server, there is no way to ensure the types match those defined in the server. It would be useful if there was a way to produce a .graphql file with the schema (possibly at build time) so that other clients could verify and type the requests at compile time or runtime.

[2020-10-11 18:25] #768 closed

[2020-10-11 20:05] DusterTheFirst commented on #784
You can use the `juniper::introspect` method

[2020-10-11 20:05] #784 closed

[2020-10-11 20:07] LegNeato commented on #784
Actually, on master we have been better support:

https://graphql-rust.github.io/juniper/master/schema/schemas_and_mutations.html#converting-a-rust-schema-to-the-a-hrefhttpsgraphqlorglearnschematype-languagegraphql-schema-languagea

[2020-10-12 02:54] DusterTheFirst opened #785 "Ability to enforce warn(missing_docs) or deny(missing_docs) on graphql objects derived with `juniper::object`"
When writing crates, I tend to add the `#![warn(missing_docs)}` directive to enforce the use of documentation on publicly accessible apis. With the way the proc macro transforms the implementation block, rust is unable to know that there were undocumented functions in there to begin with.
A proposed solution is to just pass through the implemetation out aswell so that it actually produces the impl

[2020-10-12 22:06] davidpdrsn opened #786 "Field argument descriptions don't get applied if using raw identifier in `arguments`"
This is quite an obscure bug that I doubt many will run into, but I did hit while building juniper-from-schema.

**Describe the bug**
If you define an object like this:

[code]

Then the docs on the arguments show up just fine in GraphiQL.

However if you use raw identifiers

[code]

Then they don't show up

**To Reproduce**
Example warp app with GraphiQL that I used for debugging this

[code]

[2020-10-13 06:27] siyopao opened #787 "Is there any way to control the output of the DateTime scalar?"
Hello 👋 I would like to use the DateTime scalar in my service but I need the output with milliseconds and with Z (i.e., I want to use `to_rfc3339_opts(SecondsFormat::Millis, true)` on a `DateTime`). Given this it seems that I cannot use the built-in one, so I am trying to `impl<S> GraphQLScalar for DateTime<Utc>` by myself, but then I get a conflicting implementations error.

At the moment I am wr

[2020-10-13 09:38] tyranron commented on #786
@davidpdrsn but why do we need use raw arguments in proc macro tokens? The arguments are anyway wiil be named as `a` and `b` in schema. `r#`awing arguments is only required for usual Rust code, in proc macro we are free to use even keyword, so `r#`awing is not required.

[2020-10-13 09:40] davidpdrsn commented on #786
In juniper-from-schema I use raw identifiers when generating code for all idents that come from the schema in case users put Rust keywords in the schema. I get that it isn't strictly necessary in this case but rather than checking if something is a keyword I would rather just use raw idents everywhere.

[2020-10-13 09:47] tyranron commented on #787
@siyopao

This is the right and idiomatic way to go. Each scalar shoud have a stable and concrete value representation. So if you need a different one - you need a different scalar.

Or even `Rfc3339DateTime`. The naming is a hard problem 🙃, but not critical one.

Yep, you can also disable `chrono` feature in `juniper` crate, and then just declare your own `DateTime` as you've done. This way there

[2020-10-13 09:47] #787 closed

[2020-10-13 22:24] siyopao commented on #787
Thank you @tyranron. I didn't realize that I could disable `chrono` in the `juniper`! That, and hearing that wrapping is the right and idiomatic way to go make me happy. So many things still so new to me.

Anyway, thanks again!

[2020-10-19 05:21] kunjee17 commented on #737
Please pardon my excitement but @LegNeato  and @tyranron if there is no issues left, can we bump the crate version ?

Diwali is around the corner, lets have some fire crackers, shall we?

[2020-10-19 22:56] grantperry opened #791 "CBOR as response serialization"
I'm working in an embedded platform with low processing power and the need for very efficient data transfer, hence I have been using CBOR as the response serialization instead of JSON. This works very well and haven't come encountered any bugs. What I am trying to do now is use the more expansive [Scalar type of CBOR](https://docs.rs/serde_cbor/0.11.1/serde_cbor/value/enum.Value.html) instead of t

[2020-10-20 09:34] tyranron commented on #791
@grantperry

No, they're declared by GraphQL spec. If you override the spec, then you'll have something else, but not the GraphQL.

But... defining your own custom `ScalarValue` doesn't restrict with `DefaultScalarValue` types. It's opposite, in fact. You can declare your custom GraphQL scalars and control the parsing/representation with your `CborScalarValue` the way it never touches `DefaultScal

[2020-10-22 15:13] kranfix commented on #791
@tyranron GraphQL use typically JSON but could use anything. The server response and the client variables could be serialized in CBOR too. In fact I'm looking for this feature too for IoT applications.
 

https://graphql.org/learn/best-practices/#json-with-gzip

![](https://user-images.githubusercontent.com/1251381/96891669-8073a800-144e-11eb-8146-1ba0701c12cb.png)

To use, you would need enable a

[2020-10-22 22:00] grantperry commented on #791
Thanks @tyranron and @kranfix!

I will have to give outputting values without coercing them into the GraphQL types a little hack. Might need some more assistance on that.

@kranfix You might be interested in our solution. I guess you could say I'm working on IoT. A HTTP server was too heavy for our platform, so we instead use plain UDP, with GraphQL request and CBOR response. much lighter than req

[2020-10-22 22:22] grantperry commented on #791
I think I've found my issue @tyranron.

[code]
The requirement on `S: ScalarValue` forces me to convert my internal representation to [GraphQLType](https://docs.rs/juniper/0.14.2/juniper/trait.GraphQLType.html). I'm a little confused, were you saying this initially?

The requirement of `S: ScalarValue` is what makes this a GraphQL implementation I guess :sad:

[2020-10-22 22:29] kranfix commented on #791
@grantperry Sometimes I use GQL in MQTT or NATS for small queries. It also could be UDP to speed up the data transfer, but it is more used in local networks where the probability of data corruption is much less.
In that sense, I'm planning to try \[quiche\](https://docs.rs/quiche/0.5.1/quiche/) but there are not enough libraries for all platforms (for example microcontrollers).

[2020-10-22 22:44] grantperry commented on #791
@kranfix I will have a look into quiche. I've only heard about QUIC/h3 over last week or so. quiche doesn't look particularly idiomatic yet, but I like what it has to offer.

[2020-10-22 22:45] kranfix commented on #791
@grantperry @tyranron the solution is not changing the Juniper core, but also the http adaptors (juniper\_rocket, juniper\_warp, etc).

In the end, all adaptors call to `juniper::execute` after parsing JSON data, then it would be a good option to parse that variables from CBOR.

[code]

[2020-10-22 23:02] grantperry commented on #791
@kranfix I'm not sure were on the same wavelength? I'm not worried about the Request being in CBOR. Only the Response... This is my Request handler. The works perfectly fine, but the only scalar types returned by `juniper::execute` are the four defined in [GraphQLType](https://docs.rs/juniper/0.14.2/juniper/trait.GraphQLType.html)

[code]

[2020-10-22 23:45] kranfix commented on #791
@grantperry yes, but if it can be serialized when the server response, it also can be deserialize when the client make a request. For IoT is important both cases.

I will make some experiments with `cbor::Value`, `serder_json::Value` and `juniper::Value` in the following days to make a stronger proposal.

[2020-10-23 10:20] tyranron commented on #791
@grantperry a `GraphQLType` is not a type, but a trait. It's intended to allow your cusom Rust types to act like GraphQL types. You build the whole GraphQL schema by implementing `GraphQLType`s. `GraphQLType` itself is not related to your problem.

After performing `juniper::execute` you have `Value<S: Scalar>`. This type represents a GraphQL value (according to the GraphQL spec) consisted of Grap

[2020-10-23 16:46] kranfix commented on #791
It is not necessary to modify it. The GraphQLResponse must be serialized as cbor instead of json in the juniper-rocket crate for example. I'm working on it. I already modified the Graphiql to read cbor. Let me complete the example and I'll share my fork.

[2020-10-23 17:43] davidpdrsn commented on #791
I'm wondering if https://github.com/graphql-rust/juniper/pull/782 hinder stuff like this?

[2020-10-23 18:33] kranfix commented on #791
@davidpdrsn no. It is independent the `GraphQLResponse`'s CBOR serialization

[2020-10-23 20:18] kranfix commented on #791
I did it! It works!
As I mentioned, it is not necessary to change Juniper, but the adaptor.

![](https://user-images.githubusercontent.com/1251381/97049392-42a37c00-1541-11eb-97d5-83813850bddc.png)

In this case, I modified the `juniper-rocket-async` package adding an optional callback.
 

[code]

And how is the callback invoked?
In the implementation of both methods, replace the `let json = serde

[2020-10-23 20:35] kranfix commented on #791
I forgot to put the reference to the code: https://github.com/kranfix/juniper/tree/cbor

[2020-10-23 23:21] #183 closed

[2020-10-23 23:26] ccbrown commented on #183
This is now supported in master via a `Nullable<T>` enum:

https://github.com/graphql-rust/juniper/blob/cd66bdb45063090164130eb970bec232008bdaa2/docs/book/content/advanced/implicit_and_explicit_null.md

[2020-10-26 15:17] DusterTheFirst commented on #785
This would also be useful to be able to enforce descriptions of arguments for functions

[2020-10-27 10:25] cfvescovo commented on #737
I definitely need a new release with the great features available on master! Looking forward to using async Juniper in production!

[2020-10-29 03:10] danbruder commented on #737
We’ve been using master in prod with async for many months now with no issues 🙂

[2020-10-29 14:30] acelot opened #798 "Interface field resolving causes "Concrete type is not handled by instance resolvers on GraphQL union""
_The bug initially was found while using [juniper-from-schema](https://github.com/davidpdrsn/juniper-from-schema) library. Additional information can be found in [this issue](https://github.com/davidpdrsn/juniper-from-schema/issues/130). Nevertheless, I will repeat the description of the error here:_

I have some field that returns an union type:
[code]

`SomeProblem` and `AnotherProblem` are impl

[2020-10-29 23:34] tyranron commented on #798
@acelot this is not a bug. What you want is not allowed by [GraphQL spec](https://spec.graphql.org/June2018/#sec-Unions).

Given the syntax `...on Type` on GraphQL union means that you try to downcast the union into its variant (member). However, the spec is quite explicit about what types can represent GraphQL union variants:

So you cannot specify GraphQL interface in `...on Type` syntax on the

[2020-10-30 02:16] acelot commented on #798
it's a shame it doesn't work that way.  Didn't know it was written in the spec.  Strange, but other libraries support this feature like `gqlgen` and `HotChocolate`.

[2020-10-30 02:47] LegNeato commented on #791
I would love to handle this in a generic way. The core is explicitly json agnostic but the webserver integration crates were hardcoded to json as that is what 99% of people will use and the crates themselves are basically adapters that could be reimplemented.

[2020-10-30 08:23] tyranron commented on #798
@acelot examining it more deeply, seems that I was wrong. Spec has [only this about spreading interfaces on unions and vice versa](https://spec.graphql.org/June2018/#sec-Abstract-Spreads-in-Abstract-Scope):

So, should figure out how to fix this...

[2020-10-30 14:05] kranfix commented on #791
@LegNeato yes, It should be agnostic, but the current limitation is the lack of customization.

[2020-11-01 15:57] pbartyik opened #799 "juniper_actix not present on docs.rs"
**Describe the bug**
https://github.com/graphql-rust/juniper/tree/master/juniper_actix readme API reference points to https://docs.rs/juniper_actix

**Expected behavior**
API reference is found on docs.rs

[2020-11-01 16:05] davidpdrsn commented on #799
That’s is because that crate isn’t released yet. A release shouldn’t be that far away however https://github.com/graphql-rust/juniper/issues/737

You can use it as a git dependency until then.

[2020-11-01 16:21] pbartyik commented on #799
thanks, looking forward to the release!

[2020-11-01 16:21] #799 closed

[2020-11-03 13:18] ysz opened #801 "Book (master) Schema example does not compile: expected attribute, found macro `juniper::graphql_object`"
**Describe the bug**

Book (master) Schema example does not compile.

[code]

**To Reproduce**

Add

[code]

And try compiling Schema example from the book: https://graphql-rust.github.io/juniper/master/quickstart.html#schema-example

**Expected behavior**

Should compile.

**Additional context**

[code]

[2020-11-03 13:32] ysz commented on #801
Cargo.toml should have been

[code]

[2020-11-03 13:32] #801 closed

[2020-11-04 23:11] #500 closed

[2020-11-05 23:04] Alfriadox commented on #737
Also looking forward to the release -- need it for the uuid version to go up to 8 and match diesel on one of my projects.

[2020-11-07 02:15] #580 closed

[2020-11-07 02:15] #769 closed

[2020-11-08 10:22] jlgerber opened #804 "Quickstart in book does not provide a working example"
It is  painful to get started with Juniper due to the lack of a complete working example. The quickstart should provide a simple working example that compiles and runs out of the box.

It would be really helpful to pick a server framework and provide a working example in the book, instead of referring to external examples. I would point out that there are a number of examples spread throughout the

[2020-11-08 10:24] jlgerber opened #805 "Quickstart is incomplete"
Quickstart should provide a working example of how to use Juniper. Instead, it neither handles the server aspect, nor the Context. There are no real server guides; only kitchen sink implementations incompatible with the introductory material.

[2020-11-08 10:25] #805 closed

[2020-11-08 15:21] zaksabeast commented on #734
Related to the implementation of `@defer` and `@stream`, it looks like `@skip` and `@include` have inlined logic at the moment, and I'm curious if there are any thoughts around having a way to provide resolvers for directives.

This could bring a few benefits:
- An established method to add new directives (which would make it easier to add future directives, including `@defer` and `@stream`)
- Spe

[2020-11-13 20:25] LegNeato commented on #737
@tyranron Do you have more work you want to do with interfaces before we cut a release or is this a good release point?

[2020-11-13 20:31] tyranron commented on #737
@LegNeato using interfaces recently I've found a little inconvinience I'd like to fix:
[code]

but except that I think it's OK to roll out a new release.

[2020-11-13 20:44] tyranron commented on #737
@LegNeato I'll submit the RP shortly.

[2020-11-19 17:39] jmpunkt opened #810 "Replace Unresonable Panics"
**Is your feature request related to a problem? Please describe.**
Feeding Juniper queries which have wrong semantics sometimes result in panics. Recently came across a similar issue as https://github.com/graphql-rust/juniper/issues/407. At least when using warp the HTTP server does not crash. However, in general it seems that it is not a good idea to panic in these situations. The panic from the

[2020-11-25 12:32] biot023 opened #813 "Trying to return a `Ref<_>` gives error about unimplemented trait `IntoResolvable`"
Hi -- I have a memoised collection on a graphql object in my schema:

[code]

The method `categories` calls `all_categories` which:

- Checks the value exists
- Populates it if it doesn't
- Clones the value (equivalent to a 2D Vec, so not cheap)
- Returns the value

What I really want to be able to do is to return a reference to the memoised value, but that doesn't appear to be possible. I've trie

[2020-11-25 14:24] biot023 commented on #813
Oh, god -- is the answer as simple as returning a smart pointer?
It is, isn't it?
I'll try to get that working and, if it does, I'll come and shame-facedly close this ticket!

[2020-11-25 16:09] biot023 commented on #813
Okay, yes, that was it!
For completeness, the solution I got was this:

[code]

How I got there is a bit of a blur! :)
Of note is the fact that I wrapped the `Option<Arc<...>>` inside a tuple of size 1 -- this was so I could obtain a mutable reference to the thing in the `RefCell` and change it.
If that looks completely idiotic to anybody, please do feel free to let me know -- I can take being tol

[2020-11-25 16:09] #813 closed

[2020-11-25 20:48] Alfriadox commented on #737
Anything left holding back this release?

[2020-11-25 22:33] john-consumable commented on #784
Is it possible to get a json schema like `introspect` provides in a similar fashion (i.e. without setting up an entire context)?  The schema language doesn't quite do everything that the question poses.

[2020-11-26 03:11] LegNeato commented on #784
What is missing from the .graphql file that is generated?

[2020-11-26 10:46] #786 closed

[2020-11-27 18:28] john-consumable commented on #784
`introspect` gives back the `GraphQLObject` response of from introspection in json form.

[2020-12-03 11:28] skerkour opened #814 "graphql_interface and graphql_object does not mix well"
**Describe the bug**

A `struct` using `#[graphql_object]` (for complexe fields resolvers) and `#[graphql_interface]` does not generate a valid schema (`as_schema_language`)

**To Reproduce**
[code]
generates

[code]

**Expected behavior**
The expected generated schema is as follow
[code]

**Additional context**
branch: `master`
rev: 4ffd276a5b33ae4423f295675f977ed6cc7fb88a

[2020-12-03 11:40] skerkour commented on #814
Also,
When I try as follow:
[code]

it generates the following code:
[code]

while it should have generated:

[code]

[2020-12-03 16:26] LegNeato commented on #814
Thanks for the high-quality report! This does indeed look like a bug. I might be able to look at it over the weekend, but feel free to take a crack at it...the schema generation code is pretty straightforward and contained.

[2020-12-03 18:06] skerkour commented on #814
After exploring the tests (https://github.com/graphql-rust/juniper/blob/a4871887bb6b30029bd4671af716c0649a0cc60c/juniper/src/tests/fixtures/starwars/schema.rs / https://github.com/graphql-rust/juniper/blob/a4871887bb6b30029bd4671af716c0649a0cc60c/juniper/src/tests/fixtures/starwars/starwars.graphql) I also noticed that the interface methods are duplicated in both in the `impl Human` and `impl Char

[2020-12-04 03:04] LegNeato commented on #814
Not being intuitive is a bug :-)

[2020-12-04 08:17] tyranron commented on #814
@LegNeato @skerkour

The problem is that `#[graphql_object]` macro expansion cannot work with multiple attributes, like `#[graphql_interface]` does. That's why:
[code]
is invalid definition at the moment, where `#[graphql(impl = NamespaceValue)]` attribute is fully omitted.

Even if `#[graphql_object]` would have supported that, it should have been defined like that:
[code]
like the `#[graphql_int

[2020-12-08 15:33] LukasKalbertodt opened #815 "Panic when using interfaces: `Field homePlanet not found on type Some("Droid")`"
**Reproducing**

Using the current `master` (4ffd276a). I am using the example from the docs of `graphql_interface`:

<details>

[code]

</details>

On my root query type I have a simple dummy resolver:

[code]

The generated schema is as expected. When running this query:

[code]

... everything works nicely. I get `{"data": {"characters": [{"id": "3"}, {"id": "7"} ] } }` back. However, when I qu

[2020-12-08 16:22] tyranron commented on #815
@LukasKalbertodt yup, definitely a bug. The resolving mechanism shouldn't look for  `...on Human` spread fields on non-Human types.

[2020-12-08 16:57] LukasKalbertodt commented on #815
@tyranron Good to know! Thanks for the quick reply. Can I somehow help with fixing this bug? I'm unfamiliar with this codebase, but I could surely learn about it to fix the bug. Or are you already on it? :)

[2020-12-09 08:05] tyranron commented on #815
@LukasKalbertodt PR are always welcome 👍

I don't have an opportunity to work on it at the moment.

[2020-12-09 18:27] #815 closed

[2020-12-10 05:33] LegNeato opened #817 "Enable publishing juniper_rocket_async"
We can't publish the crate until async has some sort of release on crates.io

https://github.com/graphql-rust/juniper/commit/e7555078e114abc5b2e3c30ae680592ee0575c71

[2020-12-10 06:13] LegNeato commented on #737
Crates.io has been updated, sorry for the delay.

[2020-12-10 06:13] #737 closed

[2020-12-10 06:17] LegNeato commented on #2
crates.io has been updated with juniper's async support, sorry for the delay. Any future bugs or api changes can get their own issues.

Note that we still support synchronous execution via `juniper::execute_sync`.

**_Thank you to all the contributors who made this possible_**, especially @nWacky, @tyranron , @theduke , and @davidpdrsn  🍻 🎉 🥇

[2020-12-10 06:17] #2 closed

[2020-12-10 06:28] LegNeato opened #818 "Switch to HashMap for the internal representation of object fields rather than a vector of tuples"
We store object fields and their types in a `Vec` of tuples. This means for field lookup we need to traverse the list. There are also some weird functions for merging two objects due to having to merge the two `Vec`s.

Switching to some sort of `HashMap` for the internal representation of object fields rather than a `Vec` of tuples should probably be faster. This `HashMap` will be small and mostly

[2020-12-10 06:31] LegNeato opened #819 "Use a small and/or read-optimized string for internal field representation"
we store the name of each field as a string. Fields are likely on average pretty short (think "id", "name", etc) and are read more than written. We should investigate using a small and/or read-optimized string for internal field representation instead of `std`'s `String`.

[2020-12-10 06:33] LegNeato opened #820 "Create a custom future to prevent double boxing"
We should fix this TODO:

https://github.com/graphql-rust/juniper/blob/2c15ea798c1bd7df5bede24495fba541c1c84b2d/juniper/src/types/async_await.rs#L264

[2020-12-10 06:40] LegNeato opened #821 "Make all 3rd party integration features opt-in / off by default instead of on by default"
Because these can bring in many dependencies they increase build times. We should have all integrations off by default so builds are fast by default.

[2020-12-10 07:34] LegNeato commented on #672
These links now work.

[2020-12-10 07:34] #672 closed

[2020-12-11 22:51] Guara92 opened #824 "Add EmptyQuery helper"
**Is your feature request related to a problem? Please describe.**
I have a schema with no query but with some mutation, with juniper 0.15 I'm forced to expose at least a query, otherwise the macro `graphql_object` panics.

**Describe the solution you'd like**
As already implemented with `EmptyMutation` and `EmptySubscription`, juniper should expose a `EmptyQuery`

**Describe alternatives you've c

[2020-12-12 02:49] LegNeato commented on #824
Sounds like something we should add, would love a patch with a simple test / example and it added to the book!

[2020-12-14 06:25] kunjee17 commented on #824
If I remember correctly at least one query is required by GraphQL specification. In other frameworks it is like that only. But again I am telling from historic knowledge. Don't know the latest specs.

[2020-12-14 06:42] Nocturem commented on #824
I ran into this issue where I had a rocket based graph server handling queries and mutations but had requests to extend it with subscriptions for a basic pub/sub event based view update on the front end.
with Rocket not yet supporting websockets I wrote the subscriptions on a seperate server on Actix and ended up with:
[code]

just to get past the constraint.

[2020-12-14 08:20] LegNeato commented on #824
Hmm, from https://spec.graphql.org/June2018/#sec-Root-Operation-Types it does appear that a query always needs to be defined.

[2020-12-14 09:24] tyranron commented on #824
@LegNeato I guess we can leave that as an user code decision. Let's let the implementor to decide wherether he wants to apply with a spec or hack around it to satisfy its immediate needs. Though, it should be a huge WARNING in docs/book about that.

[2020-12-14 09:40] tyranron commented on #824
A reason behind that, I think, is that despite the lack of user-defined queries in schema, there is still introspection stuff to be queried.

[2020-12-14 09:45] tyranron commented on #824
As another way around, we could define an `EmptyQuery` as a valid GraphQL Object, with a single dumb field. This way we don't hit the spec violation, while simultaneously satisfy the ergonomic needs.

[2020-12-14 10:51] Guara92 commented on #824
My fault, I was hoping that one of between Query, Mutation or Subscription was needed.
Perhaps, at this point is better to force the user to decide what should be the dumb object to expose, but if you prefer to add an helper with a dumb object I will try to implement it in my free time.

[2020-12-14 15:06] nebnes commented on #463
I am looking for add #[graphql(skip)] on GraphQLInputObject too.
Have you news about this possible feature ?

[2020-12-14 16:48] beevans opened #827 "having a variable named 'args' in a function leads to weird error messages"
I had a variable I'd named "args" in a function.  It lead to a whole bunch of compile errors on an unrelated variable when the juniper::graphql_object macro was unpacked.

It would be nice to have an error message that detects reserved words in an argument list.

[2020-12-14 18:07] nebnes opened #828 "session with actix-web"
Hi,
I am trying to set a session user in a login mutation.
But I don't find how access by the context to the session..
Is it possible ?
Thanks

[2020-12-15 01:56] LegNeato commented on #827
We should make these hermetic or mangle the names to make it work.

[2020-12-15 08:08] tyranron commented on #828
@nebnes you make a `HttpRequest` your `Context`. Or roll out a custom context containg your session.

[2020-12-15 13:10] nebnes commented on #828
I try to pass the session in the context but I have this error :
[code]
Code :
[code]

The context :
[code]

[2020-12-15 18:42] tyranron commented on #828
@nebnes yup [`SendWrapper`](https://docs.rs/send_wrapper/0.5.0/send_wrapper/) will do here, as long a you're using `actix-web` (it doesn't send `Future`s between threads).

See the [example I use](https://github.com/ALLATRA-IT/ephyr/blob/3e48d46f4ccc29d1acffa7b1011d652c45ee2c58/components/restreamer/src/api/graphql/mod.rs#L18-L52).

[2020-12-16 16:23] nebnes commented on #828
thanks @tyranron

[2020-12-16 16:23] #828 closed

[2020-12-16 22:08] LegNeato commented on #827
So you happen to have a quick repro and the error message?

[2020-12-16 22:32] beevans commented on #827
I had a function whose header was basically this:

#[juniper::graphql_object(Context = Context)]
impl TestMutation {
    async fn run_task_test(
        context: &Context,
        jobname: String,
        taskname: String,
        fsname: String,
        args: String,
        fidlist: Vec<String>,
    ) -> juniper::FieldResult<bool> {
    func(fidlist);
};
....

The errors were:

error[E0277]: the

[2020-12-16 22:34] beevans commented on #827
As you can see errors don't really point to "try renaming 'args'" as the solution.

[2020-12-17 09:16] mkpankov opened #829 "Integration of authorization"
I'm integrating authorization to our GraphQL API. I want different users to be able to call different endpoints based on their group. I.e. users can call read-only endpoints, and admins can call mutations, with more granularity in future.

I wanted to add authorization to the entry point here.
https://github.com/whamcloud/integrated-manager-for-lustre/blob/8e4318e671193c490963007eb8ba9eedbeefb0c7/

[2020-12-17 12:08] tyranron commented on #829
@mkpankov nice to see you here 😉

Try to use [`Executor`](https://docs.rs/juniper/0.15.1/juniper/struct.Executor.html) in your resolvers to get info about the ongoing operation. Seems that his topic is not covered in book, but it's possible. See examples: [1](https://github.com/graphql-rust/juniper/blob/3472fe6d10d23472752b1a4cd26c6f3da767ae0e/integration_tests/juniper_tests/src/issue_398.rs#L9-L1

[2020-12-18 17:03] Ciantic commented on #646
I think this should be worthy goal. It would allow DDD type of splitting of concerns.

In practice this could mean like having crates that handle different features. E.g.

* `users` crate that implements the users part of the root query, and mutation
* `products` crate that implements the products pat of the root query and mutation

It would be easy then to just add `users` crate and get all Graph

[2020-12-19 08:12] NickGeek opened #830 "GraphQL Playground scrolling issue"
**Describe the bug**
Subscriptions in the included GraphQL Playground UI will not be scrollable in Chrome when there are more events than the height of the results pane. This has been fixed in an newer version of the playground: https://github.com/graphql/graphql-playground/issues/1021

**To Reproduce**
Steps to reproduce the behavior:
1. Include graphql playground
2. Go to the playground and open

[2020-12-21 07:06] kunjee17 opened #832 "Minor project related issue."
This is not bug. But it would be great if things can be improved on right side of project.

<img width="350" alt="Screenshot 2020-12-21 at 12 32 23 PM" src="https://user-images.githubusercontent.com/960605/102748897-119cc780-4389-11eb-9d28-9c47217e1693.png">

It is still showing old release from 2017. While are we did have many releases after that. Nothing related to working for the project but it

[2020-12-29 16:00] Ericnr commented on #646
Async-graphql was able to achieve this, albeit its not as simple as having multiple impl blocks https://async-graphql.github.io/async-graphql/en/merging_objects.html, so is what Ive been using. @tyranron has there been advancements with that new design?

[2021-01-04 09:40] tyranron commented on #646
@Ericnr no, I haven't worked on it recently.

[2021-01-04 20:00] EfraimLA opened #841 "Implement GraphQLType trait for NaiveTime"
**Is your feature request related to a problem? Please describe.**
Yes, i wanted to use NaiveTime with GraphQLInputObject but i get this error
[code]

**Describe the solution you'd like**
Implement trait for chrono NaiveTime

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2021-01-06 22:14] shoooe opened #843 "Persisted queries"
**Is your feature request related to a problem? Please describe.**
Persisted queries aim at:
 - Improve the performance of a GraphQL server
 - Whitelist specific queries
 - Reduce bandwidth usage

**Describe the solution you'd like**
Something similar to [HotChocolate's persisted queries](https://chillicream.com/docs/hotchocolate/v10/execution-engine/persisted-queries).

**Describe alternatives yo

[2021-01-07 04:35] LegNeato commented on #843
We have an existing issue to split up the stages here: https://github.com/graphql-rust/juniper/issues/726

[2021-01-09 17:04] crocme10 opened #844 "`Request body consumed multiple times` with juniper_warp"
Hello,

I've updated a server I had running, with more recent versions of juniper and juniper_warp. I ran into an error, which I have been able to reproduce in the following minimal test case:

Running the starwars example found in the juniper_warp folder, and running a simple `hero` query against the interface will result in an error `Request body consumed multiple times`.

I've created a [repo](

[2021-01-10 06:50] LegNeato commented on #844
Thanks for the report and the repro! I'll take a look tomorrow

[2021-01-12 15:57] Guara92 opened #845 "Union with Boxed enum variants"
Hi,

Upgrading from 0.14 to 0.15 is giving me some problems with unions that have some boxed enum variant, i.e.:
[code]

the docs specifies that container types are supported but the compiler complains about a missing impl of the trait `GraphQLObjectType`  for Box, I'm doing something wrong?

[2021-01-12 16:08] Guara92 opened #846 "GraphQLObject with an interface as a field"
Hi,

Upgrading from 0.14 to 0.15 is giving me some problems with `GraphQLObject` that expose an interface in one of the field, such type is not present in any of the examples so I'm trying with something like that:
[code]

with the old version I used enums to rappresent Interfaces, I have migrated to traits but the compiler complains about a missing `GraphQLValue` impl for `dyn MyInterfaceTrait +

[2021-01-12 16:37] tyranron commented on #846
@Guara92 please, recheck ["Interfaces" chapter](https://graphql-rust.github.io/juniper/current/types/interfaces.html) of the Book. The info there should help you to understand and fix the problem.

[2021-01-12 16:48] Guara92 commented on #846
If I'm not wrong `#[graphql_interface]` is no more applicable to enums

[2021-01-12 16:58] tyranron commented on #845
Seems to be a major hole in type-level stuff 🙀

Will try to submit the PR shortly.

[2021-01-12 17:00] tyranron commented on #846
@Guara92 just read the chapter 🙃

It's not applicable to enums, but is applicable to trait implementations of the enum.

[2021-01-13 12:10] jmsegrev commented on #760
@bostontrader not sure if you are still interested, but this might help https://github.com/prisma/quaint

[2021-01-13 20:00] bostontrader commented on #760
@jmsegrev Thanks for the tip! This looks very interesting.  I'll take a closer look.

[2021-01-14 16:21] Guara92 commented on #846
@tyranron can you please provide a working example of an object exposing an interface inside? Reading the interface chapters is not clear what you are try to explain here. I'm trying with the `dyn` macro argument but I'm facing strange lifetime errors.

[2021-01-14 17:09] tyranron commented on #846
@Guara92

[code]

[2021-01-14 17:16] tyranron commented on #846
See also [integration tests for more examples](https://github.com/graphql-rust/juniper/blob/juniper-0.15.1/integration_tests/juniper_tests/src/codegen/interface_attr.rs).

[2021-01-15 10:23] Guara92 commented on #846
@tyranron thanks, got it!

It is possible to add some derive to the autogenerated enum?

[2021-01-15 10:28] tyranron commented on #846
@Guara92 no, but you can write `impl fmt::Debug for CharacterValue` manually.

[2021-01-15 10:28] #846 closed

[2021-01-15 17:31] #845 closed

[2021-01-16 05:26] #804 closed

[2021-01-16 05:37] #830 closed

[2021-01-16 05:56] LegNeato commented on #845
This is released to crates.io. Thanks for the report @Guara92 and for the PR @tyranron !

[2021-01-16 05:56] LegNeato commented on #830
This is released to crates.io, thanks for the report!

[2021-01-16 05:57] LegNeato commented on #832
Because we push tags I think we can fix this with https://daniellockyer.com/automated-rust-releases/.

[2021-01-16 06:18] NickGeek commented on #830
Thanks!

[2021-01-16 10:31] NickGeek commented on #830
https://cdn.jsdelivr.net/npm/graphql-playground-react@1.7.27/build/static/js/middleware.js seems to 404 for me, so now the entire playground doesn't load.

[2021-01-18 09:53] JonRCahill opened #850 "Trouble Defining Lifetime on Context with Juniper and Rocket Async"
I need to define a lifetime on my Context so I can gain access to Cookies in Rocket, but after defining the lifetime I get a compile error on the `get_graphql_handler` request handler.

A simplified version (without the Cookies) which has the same compile error:

[code]

Results in the following compile errors:

[code]

Any ideas what I need to do to get this to compile?

[2021-01-19 10:27] alvskar opened #851 "Support for `hyper 0.14` and `tokio 1.0` in `juniper_hyper`"
`juniper_hyper` seems tied to the older versions of `hyper` and `tokio` at this time. Are there plans to update it? As I can see it now we'd need to fork it if we want to use the newer tokio (older hyper seems to rely on older tokio).

[2021-01-19 17:36] LegNeato commented on #851
https://github.com/graphql-rust/juniper/pull/849

[2021-01-19 17:36] #824 closed

[2021-01-22 03:43] dt665m opened #853 "Playground Broken in master"
**Describe the bug**
@LegNeato Just a heads up, as of 2e24b55e99f7f7c38e70a640633f5b6479adeaf5, the graphql playground has borked because graphql-playground(js) 1.7.27 seems build into a different structure.  It no longer has the /build/static folder, so jsdelivr fails.

**To Reproduce**
- checkout master
- load the playground
- see the browser console.log where the middleware.js file can't be fou

[2021-01-22 03:50] dt665m commented on #853
seems like graphql-playground README recommends a static html file that doesn't specify the version , [here](https://github.com/graphql/graphql-playground/blob/master/packages/graphql-playground-html/withAnimation.html). Do we need to specify the version for a specific reason?  I just tried accessing the middleware.js file without the version from jsdelivr and it works.

[2021-01-22 03:58] dt665m commented on #853
PR submitted #854

[2021-01-22 10:47] morganmsrn opened #855 "The trait bound... IntoResolvable is not found. ..."
**Describe the bug**

I'm trying to recreate a catch-all Field Result alias type (RequestResult) for mutations and queries, using the methodology advised in the Book by using separate types for Validation errors and Server side errors (converted to Field Errors).
I cannot seem to resolve this message though :

The trait bound `std::result::Result<std::result::Result<User, validation::ValidationErr

[2021-01-22 13:57] tyranron commented on #855
@morganmsrn

Well that just won't work because of GraphQL type system has no notion of generics. Each concrete GraphQL type should have its own unique name and description, to appear in introspection.

Given a the following generic type:
[code]
What name should it have for `User`? And for `SessionToken`?

Actually, we may generate by convention like `User` + `ValidationError` + `Result`, so have:

[2021-01-24 00:27] crocme10 commented on #844
Hello, the issue is still present with updated depencies (0.15.2).

[2021-01-24 22:43] crocme10 commented on #844
Hello, so I looked a bit into this...

If I change the function `make_graphql_filter` function by removing the support for the `post_json_filter`, I don't have the error anymore. So I suspect the regression, _if there is one_, must have been introduced by [PR 654](https://github.com/graphql-rust/juniper/pull/654). My understanding is that warp cannot have support for both json and graphql... This

[2021-01-25 07:21] kunjee17 opened #858 "Can't compile juniper_actix project."
**Describe the bug**
While I m trying to build project I m getting below error
[code]

**To Reproduce**
Steps to reproduce the behavior:
(code example preferred)
Clone the latest code and try `cargo build` in `juniper_actix` folder.

**Expected behavior**
A clear and concise description of what you expected to happen.
It should build without errors.

**Additional context**
Add any other context ab

[2021-01-25 07:56] kunjee17 commented on #858
UPDATE: This commit `4f3939075a9e6c0da8fa138591e657153f27764c` is working for me.

[2021-01-25 12:54] trevyn commented on #858
Looks like this might be caused by the `syn` 1.0.60 release, it just broke for me in a daily CI run that ran fine yesterday.

[2021-01-25 16:34] kunjee17 commented on #858
And it blocked my Custom Scalar implementations. As it is in latest code. I guess I have to disturb Juniper Gods now.
@trevyn @LegNeato  and others. Need some help over here.

[2021-01-25 16:38] strtok opened #860 "Content-Type parsing in juniper-actix is too strict"
In juniper-actix, there's a piece of code that extracts the request Content-Type before deserializing the request body:

[code]

This piece of matching code breaks for any Content-Type that has a charset parameter (e.g. text/html; charset=utf-8).

I think the fix is to just use the content_type() method on the req object, which automatically splits by ';' and extracts the sub-string this code want

[2021-01-25 18:28] kunjee17 commented on #858
Thanks @obmarg for quick PR.

[2021-01-25 20:31] Binero commented on #858
I already posted this on the PR, but I figured it might be useful here too!

For now this can be worked around by adding an explicit dependency to `syn = "=1.0.59"` in your `Cargo.toml`.

[code]

[2021-01-26 04:22] kunjee17 commented on #858
@Binero It did the trick. Build is working now. I am keeping the issue open until latest get merged. Hope that is OK.

[2021-01-26 04:37] kunjee17 opened #862 "Implement custom scalar for u8 type"
Might be totally dumb question. But I couldn't make it work.

Here is my code for making Custom Scalar for `u8` type.

[code]

But I m getting error

[code]

I can't figure it out what is wrong in my code. Any help or pointers are more than welcome.

[2021-01-26 08:41] LegNeato commented on #860
Would love a PR!

[2021-01-26 09:49] dt665m commented on #853
#856 merged, closing

[2021-01-26 09:49] #853 closed

[2021-01-26 17:41] #858 closed

[2021-01-26 17:44] LegNeato commented on #855
That sounds like a good idea to try!

[2021-01-26 20:08] #860 closed

[2021-01-27 14:03] mrtnzlml opened #864 "Feature request: support for deprecating input values"
Hola! 👋 Thanks for considering this feature request! 🙂

**Is your feature request related to a problem? Please describe.**

GraphQL now supports deprecation of input values, see:

- specs: https://github.com/graphql/graphql-spec/pull/525, and
- reference implementation: https://github.com/graphql/graphql-js/pull/2855

It would be very useful if Juniper would support this as well. Juniper currently

[2021-01-27 14:09] mrtnzlml commented on #655
Hola @LegNeato! 👋 Did you have time to consider this proposal? 🙂

[2021-01-27 14:21] mrtnzlml opened #865 "Feature request: lexicographic schema sort"
**Is your feature request related to a problem? Please describe.**

GraphQL reference implementation has support for `lexicographicSortSchema`: https://github.com/graphql/graphql-js/search?q=lexicographicSortSchema. This is useful when printing the schema. Unfortunately, Juniper doesn't seem to support this feature when using `as_schema_language()` (correct me if I am wrong) which sometimes result

[2021-01-28 09:44] LegNeato commented on #865
Great idea! This should actually be the default.

[2021-01-28 11:59] kunjee17 opened #867 "Add actix in official support in documentation"
Actix is officially supported by Juniper using `juniper-actix`. We should add same to documentation as well.

PS: @LegNeato  you can add it to my name if you like.  Or any one else can pick up. Whatever works faster :)

[2021-02-01 20:10] AlexPikalov commented on #865
Is there anybody on it or I can try to tackle this one?

[2021-02-01 21:19] AlexPikalov commented on #865
`lexicographicSortSchema` is one of many utilities provided by [GraphQL](https://github.com/graphql/graphql-js/tree/a546aca77922beb2fee949ea0ad7c9234f7006fd/src/utilities).
Question: @LegNeato do you plan to add all or some of those utilities from the list (so I would need to make a public mod with this utility and other ones could be added later) or no plans for that and only one thing needed is

[2021-02-01 21:27] mrtnzlml commented on #865
I'd like to propose to make it ready for further extensions because for example `findBreakingChanges` and `findDangerousChanges` are also super useful.

[2021-02-07 14:42] faramozzayw opened #869 "Translation of documentation into Ukrainian"
Hi, I want to translate the documentation for `juniper` into Ukrainian, maybe later also into Russian. What's the best way to do this?

[2021-02-08 22:34] Diggsey opened #871 "Feature: Execution observer"
**Is your feature request related to a problem? Please describe.**

To avoid the N+1 problem, solutions like `juniper_eager_loading` and `dataloader` exist. Arguably, `dataloader` is easier to use, but it comes with a problem:

How does one determine when to actually issue the queries?

The solution currently in place is to just "yield" a fixed number of times, and hope that all the queries have b

[2021-02-09 20:12] mrtnzlml commented on #865
@AlexPikalov I don't think anyone is working on this issue. Would you like to take care of it? It would be much appreciated! 😊

[2021-02-10 15:04] biot023 opened #873 "Actix example no longer working, fails with `Serialize` not implemented on `impl std::future::Future`"
**Describe the bug**
The actix example referred to from the book now fails with a `Serialize` not implemented on `impl std::future::Future` error

**To Reproduce**
My code:

[code]

**Expected behavior**
It should compile, run and serve the GraphQL queries and mutations.

**Additional context**
Adapting the example code for my own projects like this has worked in the past.

[2021-02-12 07:43] biot023 commented on #873
Apparently, [`execute` is an async function](https://github.com/actix/examples/issues/408), so `web::block` isn't needed.

[2021-02-12 07:43] #873 closed

[2021-02-13 15:07] TilBlechschmidt opened #875 "Async function on graphql_object with lifetime"
**Describe the bug**
When defining a struct, giving it a lifetime and then writing a `impl` block with the `graphql_object` macro containing a async function which accesses anything from `self`, the compiler starts complaining that `Sync` from somewhere deep in the `graphql_object` macro is less specific than `Sync` (wherever that comes from).

[code]

**To Reproduce**
Take the lifetime example fr

[2021-02-14 13:57] ZiiMakc opened #876 "Error handling and logging with juniper"
In my opinion errors should never be send as is to client and possible leak some sensitive information.

Question 1: is there something like formatError in apollo that can be used to [check if error was handled](https://www.apollographql.com/docs/apollo-server/data/errors/#for-the-client-response)?

Question 2: following [error handling example](https://graphql-rust.github.io/juniper/master/types/

[2021-02-14 17:19] urkle opened #877 "Issues using graphql_scalar proc macro inside a macro"
I have a construct where I need to generate several scalars that all behave similarly so I created a macro to wrap my code. This worked in Juniper 0.14.2 via the gaphql_scalar!, however switching it to the #[graphql_scalar] is not working.

[code]

New version (that fails)
[code]

Error that occurs
[code]

Directly having this expanded version in my code-files works (not using the macro) works fin

[2021-02-15 20:30] urkle opened #878 "Undeprecate select_child / has_child helpers?"
**Is your feature request related to a problem? Please describe.**
Related to the change made in #662

In that PR the select_child and has_child methods were deprecated, and the comments suggest using "children()" instead.
However that adds a lot more work to the application as each time I want to lookup children I have to walk the children() nodes myself.  Thus repeating lots of code throughout m

[2021-02-15 23:30] mrtnzlml opened #879 "Strange formatting when using "as_schema_language""
Hello! I noticed the following strange formatting (pay attention to the `unitAmountCurrency` field how it sits behind the comment):

[code]

See: https://github.com/adeira/universe/blob/d1e60f44855dd5221c86c818188ba31163ec2342/src/ya-comiste-meta/schema.graphql#L100-L106

There is a similar output object where this is not happening:

[code]

See: https://github.com/adeira/universe/blob/d1e60f44855

[2021-02-16 00:17] LegNeato commented on #876
I'm not super familiar with Apollo, but I don't see why you would need formatError. You should be able to run `execute` and do whatever you want with the result (log it, return it, etc). Are you talking about an http integration crate where you need hooks instead of juniper itself?

For the other issue you need your type to be send...display is not enough. I'd suggest using anyhow and thiserror as

[2021-02-16 00:20] LegNeato commented on #877
Interesting! This might be an issue with how rust does codegen. I'm not sure which pass is first between proc macros and regular macros?

[2021-02-16 02:32] urkle commented on #877
It definitely seems to be an issue with order of expansion. As it seems it is not expanding at all before calling the proc macro. Vs the macro_rules! worked perfectly fine.  So definitely some downsides to the proc macro system.

I even tried fiddling with the [eager crate](https://github.com/Emoun/eager) and it did not help either. The proc macro simply saw the eager! or the unexpanded $name.. :(

[2021-02-16 08:29] #876 closed

[2021-02-16 18:36] mrtnzlml commented on #879
I just encountered another case where this is happening (enums with Rust doc comments):

[code]

[2021-02-18 10:45] trevyn commented on #642
I set up a basic `cargo fuzz` for `execute_sync` here: https://github.com/trevyn/juniper/compare/master...trevyn:fuzz

It got up to 1.8M executions (~20 minutes) and then segfaulted:

[code]

Apparently there is a known bug in `cargo fuzz` where it doesn't save the test case, and one way to find it is to use `afl.rs`🤪: https://github.com/rust-fuzz/cargo-fuzz/issues/235#issuecomment-659747105

At a

[2021-02-18 11:49] trevyn commented on #642
Ok, here's the AFL version: https://github.com/trevyn/juniper/compare/master...trevyn:fuzz-afl

Ran it for 30 minutes with no issues, will leave it running and report back later.

[2021-02-18 15:43] trevyn commented on #642
1 crash found: [crash-0000.min](https://raw.githubusercontent.com/trevyn/juniper/266d6a5a196de8159eec887eff64bab9560e8588/juniper_fuzz/crashes/crash-0000.min)

I added a (failing) test to the [trevyn/fuzz-afl](https://github.com/trevyn/juniper/tree/fuzz-afl) branch.

[2021-02-18 19:13] mrtnzlml opened #880 "Argument default values and descriptions not available in introspection"
Hello, me again! 😅

**Describe the bug**

Argument default values and descriptions are not available in introspection (and via `as_schema_language`). I followed this syntax: https://graphql-rust.github.io/juniper/master/types/objects/complex_fields.html?highlight=arguments#customizing-arguments

**To Reproduce**

1. create a field with arguments like so:

[code]

2. introspect the schema and try t

[2021-02-18 20:22] tyranron commented on #880
@mrtnzlml the attribute on a field should be without a prefix: `#[graphql(...)]`, not  `#[juniper::graphql(...)]`.

[2021-02-18 21:47] mrtnzlml commented on #880
@tyranron I just tried to write it like this and it doesn't seem to make any difference:

[code]

This also makes me think: should it throw some error when I use `juniper::graphql`? Newbie question.

[2021-02-18 22:06] tyranron commented on #880
@mrtnzlml it should work, there is a lot of open code proving it works, including integrations tests in this repository. Maybe you miss some step.

Hmm... not sure. What about `graphl` or `grapql`? Should it throw error too? For `proc_matro_attribute` we only search for the attributes we're interested in, and don't touch other ones. I'm unsure the "maybe this attribute is something we need, but is

[2021-02-24 11:01] LukasKalbertodt opened #881 "Return `Response` instead of `Result<Response, hyper::Error>` from `juniper_hyper::graphql` (and others)"
I was wondering why the public functions in `juniper_hyper` return a `Result<Response, hyper::Error>` instead of a simple `Response`. And indeed, looking into the code, it looks like they *always* return `Ok`. So clearly, right now, the `Result` is not needed.

Is `Result` used to plan for potential future scenarios where `juniper_hyper` would want to return errors? I'm not sure if that makes sens

[2021-02-25 08:04] toxeus commented on #693
@zaksabeast do you plan to continue work on this PR?

[2021-02-26 20:32] LegNeato commented on #881
Changing this seems reasonable to me

[2021-02-26 20:33] LegNeato commented on #879
Interesting. We use https://github.com/graphql-rust/graphql-parser 's AST printing, sounds like a bug there possibly?

[2021-02-26 20:35] LegNeato commented on #869
Good question, we don't have good i18n infrastructure. Is there anything built-in with mdbook?

[2021-02-26 20:41] LegNeato commented on #880
Could you put up a PR with a failing test? As @tyranron mentioned we appear to have tests covering this so there must be something we are missing.

[2021-02-26 23:04] LegNeato commented on #878
Please submit a PR and we will continue to support them!

[2021-03-01 03:36] OliverEvans96 commented on #376
For anyone trying to implement a federated graphql server in rust today, it looks like it's possible with [async-graphql](https://github.com/async-graphql/async-graphql). Here's a [blog post](https://romankudryashov.com/blog/2020/12/graphql-rust/#_apollo_federation_support) demonstrating how to do it.

[2021-03-01 04:10] #818 closed

[2021-03-01 23:59] mrtnzlml commented on #880
Yes, would like to do it. However, I still didn't isolate why is it happening. Please, leave this issue open for a bit longer. Thanks!

[2021-03-02 09:13] faramozzayw commented on #869
As far as I know mdbook doesn't have built-in support for i18n, but there is a pull request to implement book localization (rust-lang/mdBook/pull/1306) and I found [one external](https://github.com/funkill/mdbook-i18n) tool for this

[2021-03-05 06:32] acelot commented on #798
Any news on this?

[2021-03-05 07:47] dzmitry-lahoda commented on #862
have not able to find extended scalars covering Uuid, some forms for chrono time, non negative and positive integers...

[2021-03-05 07:47] dzmitry-lahoda opened #891 "where is donate button?"

[2021-03-05 09:38] tyranron commented on #798
@acelot nope, haven't yet time to dive into this.

[2021-03-06 14:19] bionicles opened #894 "please add functional directives"
**Is your feature request related to a problem? Please describe.**
I would like to use Juniper but unfortunately, it's critical for my use case to be able to assign functions to custom directives for fine-grained attribute-based access control

**Describe the solution you'd like**
some way to define a directive and assign that to a function. basically, the same thing as graphql-tools.js directiveR

[2021-03-07 18:19] dyedgreen commented on #734
An easy way to declare custom directives on types would be really helpful! I was looking into a way to implement [`@fetchable`](https://mrtnzlml.com/docs/relay/directives#refetchablequeryname----fetchablefield_name---) for some object, and I don't believe there is currently a way to add custom directives at the type level.

[2021-03-08 14:23] kunjee17 commented on #862
@LegNeato little help over here if possible ? Or point us to direction where we can find something regarding this.

[2021-03-09 12:02] pranaypratyush opened #896 "Any plan for implementing the new graphql-over-websocket protocol?"
https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md

^Seems really promising.

[2021-03-09 16:03] tyranron commented on #896
@pranaypratyush https://docs.rs/juniper_graphql_ws works like a charm for us.

[2021-03-09 16:04] #896 closed

[2021-03-09 16:13] pranaypratyush commented on #896
Does it allow me to do query and mutation over websocket at well?

[2021-03-09 20:50] trevyn commented on #642
In addition to the stack overflow crash above, it's also easy to hit a ["Type not found in schema"](https://github.com/graphql-rust/juniper/blob/06b1fbce0c14a7295b29568b4cbb8d34029dbe05/juniper/src/schema/model.rs#L353) panic. That file has a lot of `expect()`s that look easy to hit, though, so I'm not sure what the intended behavior is.

[2021-03-09 22:04] tyranron commented on #896
@pranaypratyush yes.

[2021-03-10 16:41] saskenuba commented on #390
I'm having the same issue. My queries accepting i32 on parameters always return errors such as:
`"message": "Variable \"$assetsToDeposit\" got invalid value. In element #0: In field \"appid\": Expected \"Int\"."`.

And this doesn't matter if it is an input object or a raw scalar, neither works. But if I parse them from a String, it works normally.

Query:
[code]

Variables:
[code]

Response:
[code

[2021-03-15 06:59] dyedgreen commented on #862
@kunjee17 The issue is that you don’t own  neither the type nor the trait, so your not allowed to implement the trait for the type (see the error you’re getting).

You can wrap the u8 in a new-type if you want, something like:
[code]

[2021-03-15 08:11] kunjee17 commented on #862
@dyedgreen  I thought it is allowed because of macros. I did it as given in the documentation.

[2021-03-16 15:59] dyedgreen commented on #862
It's not allowed at the language level, so doing code-gen via macros won't change that unfortunately 😅

[2021-03-23 08:10] biot023 opened #903 "Advice on incorporating google analytics -- maybe some sort of extensions?"
Hello -- I need to add Google Analytics to a backend written in Juniper.
Could anybody advise me on the best way to do this?
I notice `async-graphql` has an Extensions concept that could be used -- is there something similar in Juniper?
Thanks,
   Doug.

[2021-03-28 06:06] mikhalev-im opened #906 "juniper_actix: mismatched types, expected struct `RootNode`, found struct `Data`"
Hello guys, sorry for disturbing you with dumb questions, I am new to rust, so probably I am doing something wrong here,

I am trying to run a simple server based on `juniper_actix` [example](https://github.com/graphql-rust/juniper/blob/master/juniper_actix/examples/actix_server.rs), but I am getting `mismatched types` error (expected struct `juniper::schema::model::RootNode`, found struct `actix_

[2021-03-29 10:53] mikhalev-im commented on #906
Seems I found the problem, I added dependencies like this:

[code]

but the correct way is

[code]

Wish there was an example available, because I was really confused

[2021-03-29 10:53] #906 closed

[2021-03-30 09:14] LegNeato commented on #891
Sorry, we don't take donations! PRs appreciated though 🥇

[2021-03-30 09:14] #891 closed

[2021-03-31 16:00] dyedgreen commented on #407
Just ran into the same issue trying while using relay 😅

[2021-03-31 16:05] LucasPickering commented on #407
I fixed what I believe was a similar issue (https://github.com/graphql-rust/juniper/issues/500) in https://github.com/graphql-rust/juniper/pull/800/files. The fix for this may just be an extension of what I did?

[2021-04-02 04:08] #881 closed

[2021-04-02 04:09] #878 closed

[2021-04-02 19:34] #407 closed

[2021-04-02 22:46] jerel opened #908 "Are subscriptions limited to being top level?"
I think this is a bug but I'm not sure... I've spent several days reading code and trying in vain to achieve this so I'd like a second opinion.

Queries can be set up like this (and so can mutations):
[code]

However, no variation of this seems to be possible with Subscriptions (this doesn't compile):
[code]

Shouldn't this work or is it a design decision? Are all subscriptions for the whole app r

[2021-04-04 01:05] LegNeato commented on #908
What is the compilation error you are getting? I didn't work on the subscriptions work but might be able to answer the question.

[2021-04-05 15:29] jerel commented on #908
Thanks @LegNeato, I should have added all this to the original issue. I'll show a couple of the angles that I've tried and their errors:
[code]
gives this error at the SubscriptionRoot site:
[code]
So I thought "maybe we can define the top level as a `graphql_object` which then pulls in the `graphql_subscription`":

[code]
gives this error at the SubscriptionRoot site:
[code]
Which is understandab

[2021-04-14 14:35] ja573 opened #913 "Add a changelog"
**Is your feature request related to a problem? Please describe.**

I haven't been able to find a log with the different changes between versions.

**Describe the solution you'd like**
If such a log exists it'd be great to link to it more prominently (maybe in the readme), otherwise creating one down the line would be ideal.

**Describe alternatives you've considered**
n/a

**Additional context**

[2021-04-14 20:14] ahanabanerjee opened #914 "Multiple fragments on sub types override each other"
**Describe the bug**
If a query has multiple fragments selecting the same sub type, the selected fields override each other

**To Reproduce**
Steps to reproduce the behavior: Run a query like
[code]

Returns only the fields of the later fragment.

**Expected behavior**
It should merge the selected sub fields and return both values.

[2021-04-17 06:05] uuhan opened #918 "Does not GraphQLObject support [u8; N] slice?"
I have a struct with field of [u8; 5], but seems juniper does not support this type of data:

[code]

the trait `GraphQLValue<__S>` is not implemented for `[u8; 9]`

[2021-04-17 23:29] #914 closed

[2021-04-19 08:12] LegNeato commented on #918
It appears we do not support that style yet. I started a patch, will hopefully get time to polish it up by this weekend.

[2021-04-19 08:13] LegNeato commented on #913
There are changelogs in each crate. Happy to take a PR to make the location easier to find!

[2021-04-19 08:13] #913 closed

[2021-04-27 13:35] LucasPickering opened #922 "Fields on interface fragment spreads don't get resolved"
**Describe the bug**

When resolving fields defined on an interface, if the field is defined within a fragment spread, then it is omitted from the output.

I'm happy to work on a fix for this, but will need some guidance on where to look (and whatever other tips/hints you could give me).

**To Reproduce**

Using the schema defined in `juniper/src/tests/fixtures/starwars/` (I ran the `juniper_rocke

[2021-04-28 10:50] ArsileLuci commented on #922
This is clearly a regression from `0.15.3`. I downgraded `juniper` and all related crates from `0.15.4` to `0.15.3` and it helped.

Also this bug can be reproduced with unions.

[2021-04-28 11:58] LucasPickering commented on #922
@ArsileLuci I just tried downgrading to 0.15.3 and am still seeing the issue. If this is a regression in 0.15.4 though, I'd be willing to bet it's related to this PR: https://github.com/graphql-rust/juniper/pull/907

[2021-04-28 14:47] ArsileLuci commented on #922
@LucasPickering Found the issue. As You've pointed out the problem comes partially from #907

Bug was in typename matching, at this [two rows](https://github.com/graphql-rust/juniper/pull/907/files#diff-2aa4c3fe54fa1e05c4fd649aa1d252e3ba8fd5baab1ea5a8cf2170876df4d52aR308-R309).

`fragment.type_condition.item` is the name of interface, and it was compared with `instance.concrete_type_name(sub_exec.

[2021-04-28 15:28] LucasPickering commented on #922
@ArsileLuci nice find! thank you so much for finding+fixing that, much appreciated

[2021-04-30 12:13] #922 closed

[2021-04-30 12:14] tyranron commented on #922
@LegNeato would you be so kind to produce a release? This regression is quite a pain-in-ass.

[2021-05-07 11:04] xDarksome opened #925 "FieldErrors lose their extensions while being implicitly converted from user defined subscription errors"
**Describe the bug**
Using question marks inside `graphql_subscription` macro causes user defined errors to be implicitly converted to `FieldError`s via `std::convert::Into` instead of `juniper::IntoFieldError`.

Default `std::convert::From` implementation for `FieldError` populates only `FieldError::message` but not `FieldError::extensions`.

**To Reproduce**
- impl some error type which converts

[2021-05-11 07:43] #925 closed

[2021-05-11 08:10] tyranron commented on #925
@LegNeato ping. Would you be kind to release a new `juniper` version with recent fixes?

[2021-05-11 13:45] tyranron commented on #531
With https://github.com/graphql-rust/juniper/pull/884 we removed the `RUSTFLAGS="-C link-dead-code"`. So this is resolved now.

[2021-05-11 13:45] #531 closed

[2021-05-12 06:43] SamKomesarook commented on #280
Any update on this?

[2021-05-17 09:55] vidyli opened #929 "what I can do to use the jupiter-actix with actix web 4.0.0.beta*?"
I am evaluating the jupiter-actix with actix web version 4.0.0.beta*, what I can do to use  it with  actix web 4.0.0.beta*?  I'd like to create a PR,  but is this suitable for the development plan?  I mean actix web 4.0 is not stable yet.

[2021-05-18 16:30] knutin opened #930 "Consider making inner GraphQLRequest public or implement Display"
Hello team,

We're using `juniper_rocket_async` and it all works great, but I can't find a way of accessing the inner graphql request object. I would like to log it, either as just a string or as json.

Specifically, it would be convenient if this inner type was public https://github.com/graphql-rust/juniper/blob/9c9639e8f0da0337880759c6fde469f863f74841/juniper_rocket_async/src/lib.rs#L64

However

[2021-05-20 01:47] LegNeato commented on #930
I think either route is reasonable!

[2021-05-22 03:57] videni opened #931 "expected struct `juniper::schema::model::RootNode`, found struct `RootNode`"
**Describe the bug**
src/graphql.rs
[code]
got this error
[code]

Cargo.toml
[code]

Save graphqls chema into AppState

[code]

[2021-05-22 04:02] LegNeato commented on #931
If you run cargo update does it fix the issue? Which version of juniper are you using?

[2021-05-22 04:09] videni commented on #931
@LegNeato  hi, issue edited.

[2021-05-24 08:28] videni opened #934 "what is the best way to organize root resolvers?"
I try to create two root resolvers in different file.

create_customer.rs
[code]
If I don't put another graphql_object attribute, then rust will complain `generate_customer_token` not used.
generate_customer_token.rs
[code]

I got
[code]

I am very  curious, is your project really that simple you can put all your root resolvers in a single file?

[2021-05-24 12:43] #931 closed

[2021-05-25 10:13] videni opened #936 "juniper how to write graphql object manually?"
I need to way to [organize root resolvers in multiple files](https://github.com/graphql-rust/juniper/issues/934), so maybe writing graphql object manually can do some help. it seems this probject it not actively maintained, no one cares about these stupid questions.

[2021-05-26 00:58] videni commented on #646
I also created a issue [Best way to organize root resolvers](https://github.com/graphql-rust/juniper/issues/934),  why Juniper force us to put all root resolves in a single file?  for me, this idea is insane.

[2021-05-26 01:17] videni commented on #646
@kunjee17 did you find an alternative please?  it seems the comunity is not serious about this, which frustrates me a lots.

[2021-05-26 01:45] #936 closed

[2021-05-26 01:45] #934 closed

[2021-05-26 10:28] kunjee17 commented on #646
@videni currently I'm going with multiple resolvers . Combined in single resolver in root query.  As mentioned earlier. Same way dotnet guys are doing it. If you like I ll share example of same.

[2021-05-28 09:52] videni commented on #646
@kunjee17   yes, please, sorry for the late response.

[2021-05-28 15:05] kunjee17 commented on #646
Hi @videni Here is how current code likes for me.

[code]

While ApiQuery looks like this

[code]

I have skipped the macros for readability purpose. Same goes for mutation and all. This allows separation of modules even at graphQL level. I did have worked with stitching schema approach while working with node js. That is also an option. I feel it is just question of choice.

In above approach you

[2021-05-31 13:02] engylemure commented on #929
https://github.com/graphql-rust/juniper/pull/912

[2021-06-03 13:44] videni opened #937 "what is the correct way to use IntoFieldError trait please?"
[code]
But it seems I need to call into_field_error method explicitly in a resolver, Since we need to call it manually, what is the point of existence of this trait?  do I did wrong please?

[code]
The example in juniper book doesn't work.

[2021-06-04 01:50] #929 closed

[2021-06-06 06:34] lanesawyer opened #939 "juniper_rocket integration is broken"
**Describe the bug**
:wave: Hi there!

I was trying to use Juniper with a Rocket app I'm writing, but when I tried to do so, the `juniper_rocket` integration throws errors (listed below). I pulled the Juniper repo itself and tried to build the integration and it failed there as well, so as far as I can tell, the integration does not work.

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2021-06-06 21:51] LegNeato commented on #939
This looks to have been broken by https://github.com/SergioBenitez/Rocket/commit/425f741b873424046e20855f3fe13a3eb01b0c5e

[2021-06-06 21:56] LegNeato commented on #939
More info here: https://github.com/SergioBenitez/Rocket/issues/1647

[2021-06-06 22:05] #877 closed

[2021-06-06 22:27] #939 closed

[2021-06-07 06:10] LegNeato commented on #918
I have the field side of this done, just wrestling with some input object stuff

[2021-06-07 09:55] Alexx-G commented on #851
@LegNeato @theduke @mhallin Is there a chance you'll have some bandwidth to take a look at this one? There are 2 open PRs ( #888 , #912 ) that close it.
In case you have concerns over stability, it's always possible to have a few "beta" versions to test the upgrade and collect feedback.

[2021-06-08 01:22] LegNeato commented on #939
This has now been pushed to crates.io.

[2021-06-09 18:28] zyddnys opened #943 "GraphQL interface enum representation is not Clone"
**Describe the bug**
The example from https://github.com/graphql-rust/juniper/blob/master/docs/book/content/types/interfaces.md
[code]
The `CharacterValue` enum is not Clone even if I add Clone to `Human` and `Droid`.

[2021-06-09 21:19] tyranron commented on #943
@zyddnys we cannot check in proc macro whether some type implements some trait or not, so we cannot derive code for `Clone` conditionally when all variants implement it, and don't do it otherwise. Of course, we may always generate a `Clone` implementation, but that will lead to compiler error when some variant doesn't impl `Clone`, which is quite a common case.

So, if you need `Clone` for `Interf

[2021-06-10 01:21] zyddnys commented on #943
Thank you helping me out with this

[2021-06-10 01:21] #943 closed

[2021-06-11 09:48] imintz opened #945 "Panic when spreading untyped union fragment"
**Describe the bug**
Updated my project from `0.15.3` to `0.15.5` and started observing the following sort of panic when spreading an untyped union fragment. Note that the specified concrete type is actually the union type.
`panicked at 'Concrete type <UnionType> is not handled by instance resolvers on GraphQL union <UnionType>`

**To Reproduce**
Example schema:

[code]

with the following query:

[2021-06-12 16:55] LegNeato commented on #945
Thank you for the issue and patch! I'll land after CI goes green

[2021-06-13 01:56] imintz commented on #945
No prob! It looks like ci breakage was unrelated to the changes, but I've added a patch to the PR that fixes the issue.

[2021-06-14 07:52] #945 closed

[2021-06-17 07:30] Axel-2 opened #947 "Add support for Rocket 0.5"
**Is your feature request related to a problem? Please describe.**
Hello, since one week, Rocket 0.5 was released and Juniper-Rocket does not work with this new version.

**Describe the solution you'd like**
Add support for Rocket 0.5

[2021-06-17 21:00] LegNeato commented on #947
We have support in-repo, we just need to make `juniper_rocket_async` be released as `juniper_rocket`

[2021-07-04 20:29] mathroc opened #953 "Performance Tracing Extension"
**Is your feature request related to a problem? Please describe.**

I’d like to be able to get performance feedback from my queries in case I want to identify which resolver is causing slow queries

**Describe the solution you'd like**

Apollo has defined a response format for a `tracing` extension that’s already implemented by multiple GraphQL servers and at least by apollo engine and graphql pla

[2021-07-06 23:05] LegNeato commented on #953
Would love this behind a feature flag as it is non-standard.

[2021-07-07 16:26] #947 closed

[2021-07-08 07:10] LegNeato commented on #851
This has now been pushed to crates.io

[2021-07-08 07:10] #851 closed

[2021-07-08 07:10] LegNeato commented on #844
Can this still be reproduced on master?

[2021-07-08 07:12] LegNeato commented on #817
Published!

[2021-07-08 07:12] #817 closed

[2021-07-08 07:14] LegNeato commented on #529
Closing as invalid.

[2021-07-08 07:14] #529 closed

[2021-07-08 07:15] LegNeato commented on #252
We won't be fixing this, happy to discuss for 1.0.

[2021-07-08 07:15] #252 closed

[2021-07-08 07:16] LegNeato commented on #68
Closing unless someone wants to put up a PR.

[2021-07-08 07:16] #68 closed

[2021-07-10 20:50] scott-wilson opened #957 "How to create an entity where (most) fields and the type are only known at runtime?"
I have a project where I want to be able to have the database drive the entity types and (most) fields at runtime.

There's two questions I have. Firstly I get a compiler error when hooking up the entity type to the schema through the `find_entity` method in the query type (code and error below). I know I'm missing something, but is there an example of an entity where the type and the fields are k

[2021-07-11 14:48] mrtnzlml opened #958 "Suggestion: better formating of block strings"
**Is your feature request related to a problem? Please describe.**

This one is very simple. Basically, currently, Juniper prints schemas like so (real [copy-pasted example](https://github.com/adeira/universe/blob/77ae651f38a294888105257a40a37a08cb410fcf/src/abacus/schema.graphql#L226-L241)):

[code]

I assume it's because this is how it's written in the source code. But it's not very nice (moreov

[2021-07-12 16:14] dev-gm opened #960 "The documentation for juniper::Object is spelled wrong"
On the documentation for the juniper::Object struct there is a spelling error: "a Object" instead of "an Object".

[2021-07-15 10:15] folivi opened #963 "Mismatched types error"
Hi,
I'm new to Rust and Juniper. I'm trying to port a graphql api written with Nestjs to Rust with Rocket & Juniper.
I litterally copied the sample code and made some little changes and I'm getting the following message:

error: mismatched types label: expected struct `juniper::schema::model::RootNode`, found struct `State`. Both occur on the get_graphql_handler and post_graphql_handler methods.

[2021-07-15 18:39] BeneSim commented on #798
Just wanted to add that the "learn" documentation on graphql.org also deals with this when discussing unions
https://graphql.org/learn/schema/#union-types

[code]

[2021-07-16 03:24] acelot commented on #798
@BeneSim agree with you. For me, the absence of this feature is a show stopper, because all my API is focused on interfaces.

[2021-07-16 08:29] tyranron commented on #963
@folivi it seems that you've been a bit lost in `Deref`s here. Let's see:

You have `schema: &State<Schema>` parameter, so performfing `&*schema` you will have the following:
1. `let deref_schema: State<Schema> = *schema;`
2. `let arg: &State<Schema> = &deref_schema;`

You need double `Deref` here. The first will deref the `&` references, and the second will deref `State` into the inner `Schema`:

[2021-07-16 08:33] tyranron commented on #963
@folivi another problem that I see here, is that you queries root (`Query` struct) uses `context = AppContext`, while mutations and subscriptions are defined as `EmptyMutation<Database>`, which means that for them `context = Database`.

That simply won't type check. Either use `context = Database` for `Query`, or `EmptyMutation<AppContext>`/`EmptySubscription<AppContext>`.

[2021-07-16 08:40] folivi commented on #963
Thank you very much for your reply. I'll check it as soon as I can.
Very kind of you

[2021-07-16 09:05] tyranron commented on #963
@folivi ok, I close this. Feel free to reopen if needed.

[2021-07-16 09:05] #963 closed

[2021-07-16 11:47] tyranron commented on #798
@acelot @BeneSim fine... just started looking into this. Not yet any estimates can be given, but it's on my focus now.

[2021-07-16 11:49] tyranron commented on #960
@dev-gm a PR from you would be appreciated!

[2021-07-16 11:51] tyranron commented on #869
@faramozzayw btw, go ahead 😅
I can even provide a good review for it!

[2021-07-18 10:16] folivi commented on #963
Hi @tyranron!
So now, I updated my code to use the AppContext as context like so:

[code]

Now I'm getting the following error on the line request.execute_sync(&**schema, &**context)

`label: expected struct `juniper::schema::model::RootNode`, found struct `RootNode``

[2021-07-19 07:32] tyranron commented on #963
@folivi you should ensure that `juniper_rocket` and your crate refer the same major version of `juniper` in `Cargo.toml`.

[2021-07-19 11:06] #798 closed

[2021-07-19 11:10] tyranron commented on #798
@acelot @BeneSim it should be OK now on `master`. The fix is easier than I thought it would be. I'll issue the new `juniper` release in few days.

[2021-07-19 11:26] tyranron commented on #937
@videni hi, would you be so kind to provide your function signature? It's not clear why you're doing exlicit conversion.

In our codebase we have our custom `graphql::Error` which impls `IntoFieldError<S: ScalarValue>`. All our fallible resolver signatures have type `-> Result<OkType, graphql::Error>`, and... that's all. We do not call `.into_field_error()` explicitly anywhere, while it's required

[2021-07-19 11:30] tyranron commented on #930
@knutin would be `AsRef` + `AsMut` enough for your purposes?

[2021-07-19 11:35] tyranron commented on #908
@jerel as far as I recall, this is not supported at the moment. The reason is that is not clear how such situations should be resolved. A subscription in a nutshell is a `Stream`. So having a `Stream`, whcih field resolves to another `Stream`, how you expect to behave this on client?

Do you have any reference examples how it's handled in other languages?

[2021-07-19 13:08] tyranron commented on #875
I think this happens due to `#[graphql_object]` macro desugars its method to closures:
[code]

And when lifetimes are involved, Rust usually generates types for closures using HRTBs: `for<'a>`. And that's the point where "less specific" error comes from.

Potentially, it should be fixed if `#[graphql_object]` macro will use direct method calls instead of generating closures, like `#[graphql_interf

[2021-07-19 13:33] tyranron commented on #495
@UkonnRa yup, that's the limitation of GraphQL type system, not `juniper` itself:
- GraphQL enums are flat, they cannot have structures inside;
- GraphQL unions which can have structures, cannot be used as input.

That is  possible, but is quite unnatural for GraphQL.

We overcome such situations in our codebase just by using multiple optional args:
[code]
After that we tend to impl something like

[2021-07-19 13:33] #495 closed

[2021-07-19 15:28] tyranron commented on #918
@LegNeato I'll take it from here, if you don't mind.

[2021-07-19 18:51] folivi commented on #963
hi @tyranron
Everything is working now with juniper 0.15.7 and juniper_rocket 0.8.0
Thank you for you help all along. I really appreciate

[2021-07-20 23:14] daschdev opened #967 "Int scalar type compatility"
Hi 👋🏻

In my case, i'm using MongoDB and it uses i64 to count the records in a document ([https://prnt.sc/1doidmq](https://prnt.sc/1doidmq)) and juniper uses i32 for the Int scalar type, so I have problems with the compatibility between both types.

Looking at the code, the Float type uses `f64` and Int uses `i32` ([https://github.com/graphql-rust/juniper/blob/master/juniper/src/types/scalars.rs#L

[2021-07-21 07:08] tyranron commented on #967
@daschdev yes, the reason is the [GraphQL spec](https://spec.graphql.org/June2018/), which [declares `Int` as following](https://spec.graphql.org/June2018/#sec-Int):

So, either use `TryFrom` conversion from `i64` to `i32`, or roll out your [custom scalar](https://graphql-rust.github.io/juniper/master/types/scalars.html#custom-scalars), backed by `i64`. Doing the later, beware that JSON and JS sti

[2021-07-21 07:09] tyranron commented on #967
I'm closing this, as there is nothing we can do from our side. Feel free to reopen if needed.

[2021-07-21 07:09] #967 closed

[2021-07-21 14:14] omegablitz opened #969 "Query `Arc<RWLock<_>>` without cloning"
Hi all, thanks for the great library :)

Is there a way I can resolve a `FieldResult` to a reference when my state is contained in a `Arc<RWLock<_>>`? All the examples I could find either [used immutable state](https://graphql-rust.github.io/juniper/master/types/objects/using_contexts.html) or [cloned the internal state](https://github.com/http-rs/tide/blob/main/examples/graphql.rs#L41-L56).

A co

[2021-07-21 14:24] tyranron commented on #453
@LegNeato for now GitHub Actions duplicate the Azure CI. However the later is less handy for cancellation, for example. Are you ok with dropping Auzre CI altogether?

[2021-07-21 14:33] #930 closed

[2021-07-21 14:55] tyranron commented on #969
@omegablitz

This requires a `RwLockReadGuard<'_, T>` to be passed out of the function scope and implement `GraphQLValue`/`GraphQLType` (and similar) traits. We unlikely will support all guard types out-of-the-box in `juniper`, so you should go with a newtype:

[code]

See details in [pointers](https://github.com/graphql-rust/juniper/blob/juniper-v0.15.7/juniper/src/types/pointers.rs) and [markers

[2021-07-21 16:14] tyranron commented on #372
No longer reproduces on `master`.

[2021-07-21 16:14] #372 closed

[2021-07-21 16:30] tyranron commented on #173
The original issue cannot be reproduced now due to input objects not implementing [`marker::IsOutpuType`](https://docs.rs/juniper/0.15.7/juniper/marker/trait.IsOutputType.html), so is resolved.

As for question whether the same type can implement `GraphQLInputObject` and `GraphQLObject` simultaneoulsy - it's not quite possible at the moment with the current `juniper` design, because types are uniq

[2021-07-21 16:30] #173 closed

[2021-07-21 16:39] tyranron commented on #957
@scott-wilson you're going in the right direction by implementing `GraphQLType` and `GraphQLValue` manually, however more effort should be done.

First, to play well with other types, it's better to provide implementation not for `DefaultScalarValue`, but make the generic over `S: ScalarValue`. You may see the examples: [here](https://github.com/graphql-rust/juniper/blob/juniper-v0.15.7/juniper/sr

[2021-07-21 16:44] tyranron commented on #841
@EfraimLA this is supported already behind the `scalar-naivetime` feature flag in `juniper`.

[2021-07-21 16:44] #841 closed

[2021-07-21 16:49] tyranron commented on #827
Again, as some other issues, this should be fixed once we desugar computed object fields as method call, not inline closure.

[2021-07-21 17:11] omegablitz commented on #969
Thanks for the quick response!

Will this still work given that `std::sync::RwLockReadGuard` is `!Send`? Both the pointers and markers implementations seem to work on `Send` types, unless I'm missing something.

I'm getting the following error:
[code]

When I try to derive on:
[code]

[2021-07-21 17:12] chirino commented on #957
Would be nice if there was a more complex version of this test:
https://github.com/graphql-rust/juniper/blob/master/juniper/src/tests/type_info_tests.rs

Where it shows how to make the `meta` function impl more dynamic.  Maybe where the fields types added are based on data found in the TypeInfo.  For example what if the TypeInfo contained type info parsed with https://github.com/graphql-rust/graph

[2021-07-21 17:31] tyranron commented on #969
@omegablitz whoops! Haven't even thought about that!

No, the `Send` requirement is hard and is not something that can be lifted at the moment due to Rust type system restrictions: trait objects are not transparent over `Send`/`Sync`, but we should use trait object for `#[async_trait]`s. This possibly can be lifted in future when GATs and real async traits (without boxing) will be landed into stab

[2021-07-21 17:50] #750 closed

[2021-07-21 18:01] #516 closed

[2021-07-21 18:05] #365 closed

[2021-07-21 18:54] omegablitz commented on #969
Thanks so much, I just went with a `tokio::sync::RwLock` and that worked beautifully :)

[2021-07-21 18:54] #969 closed

[2021-07-22 01:21] brochington opened #970 "What is the current recommended solution to the N+1 problem while using Juniper?"
Hello! I'm currently working on a new Actix-web/Juniper/Postgres application, and I'm trying to work through the best way to solve the infamous N+1 problem. So far in my research I've come across two ways that this has been solves with Juniper:

1. Using a Dataloader (as described in the "juniper book"
2. Using "Lookahead", which is not in the "book"

I am learning about both techniques now, but I

[2021-07-22 08:27] tyranron commented on #970
@brochington you're right, that's all about it.

We're using Dataloader in our codebase. It does pretty well at the moment. However, the codebase is closed, but the [`dataloader` crate provides an example for `juniper`](https://github.com/cksac/dataloader-rs/blob/f5d12557a344e25cbd46256ccf048e05c1f49528/examples/juniper.rs).

As alternative approach, there is also an excellent crate [`juniper-eage

[2021-07-22 08:27] #970 closed

[2021-07-22 09:12] tyranron commented on #937
Closing this, feel free to reopen if further assistance is needed.

[2021-07-22 09:12] #937 closed

[2021-07-22 18:55] chirino commented on #957
I'm taking a stab a doing what I mentioned above.. see:
https://github.com/chirino/dynamic-graphql/blob/main/src/lib.rs

Basically you can define a schema by parsing a graphql SDL, and the resolved data comes from a serde_json Value.

the basics seems to work.  But It seems like it's going to get very complicated to deal with nested list types and such.

[2021-07-24 00:51] #918 closed

[2021-07-24 18:37] lucashyper opened #973 "How to use execute_sync with !sync Context ?"
I want to use Juniper together with SQLite, and there's only one connection to the database at a time. If I set the Context struct as such:
[code]
Then trying to use
[code]
gives an error, because the context isn't sync
![image](https://user-images.githubusercontent.com/5086419/126878161-397fa830-3048-4d34-a297-6eb161b61d24.png)

`noasync` doesn't appear to do anything. I don't want to use `GraphQ

[2021-07-24 20:15] lucashyper commented on #973
Commenting out this line:
https://github.com/graphql-rust/juniper/blob/39d1e434204399357470c17c1f2a1b0b58fa6432/juniper_codegen/src/util/mod.rs#L1116
And then `cargo clean` and building again seems to have solved the issue. I think `#resolve_field_async` should be respecting the `noasync` attribute but it's not. Should be an easy fix?

[2021-07-24 23:13] LegNeato commented on #973
Are any of your Query fields async? We hoist if so

[2021-07-24 23:14] LegNeato commented on #973
Related: https://github.com/graphql-rust/juniper/pull/840

[2021-07-24 23:17] LegNeato commented on #957
There might be some ideas in https://github.com/davidpdrsn/juniper-from-schema as well

[2021-07-25 01:46] lucashyper commented on #973
I didn't modify the `actix_web` example much, I don't see anything async here:
[code]

Looking through the proc_macro code, I think perhaps there's some work missing, there's a lot of comments like this:
https://github.com/graphql-rust/juniper/blob/39d1e434204399357470c17c1f2a1b0b58fa6432/juniper_codegen/src/util/mod.rs#L722-L723 https://github.com/graphql-rust/juniper/blob/39d1e434204399357470c17

[2021-07-25 02:31] lucashyper commented on #973
`into_enum_tokens` and `into_input_object_tokens` both have:
[code]
in the end. ```into_tokens``` doesn't. I did the same there (changed `output` to mut, removed `#resolve_field_async`  and added the above block but for `resolve_field_async`) and I think that fixes it.

I was making a PR but one of the tests ran into an error. In this test: https://github.com/graphql-rust/juniper/blob/39d1e4342043

[2021-07-25 09:47] LegNeato commented on #973
Nice catch! I think that test is just a copy and paste error.

[2021-07-26 08:18] tyranron commented on #973
@lucashyper `noasync` is nothing to do with your issue, it's just a some performance-motivated rudiment from sync -> async migration times.

You won't be able to use `!Sync` types in `juniper::execute`. And you cannot use `juniper::execute_sync` if your schema has at least one async resolver (which is unavaoidable, I guess, giving that you're using `juniper_actix`). And `juniper_actix` has no way

[2021-07-26 08:57] lucashyper commented on #973
@tyranron Thank you for the explanation for !Sync in `juniper::execute`. However I think I'm missing something here:

1- I'm only using actix as a developing tool for now, later it'll be without any web framework, purely synchronously. I'm not really using `juniper_actix`, only the graphiql and playground parts directly. For the graphql endpoint I have this: (I just edited the code from `juniper_a

[2021-07-26 08:58] lucashyper commented on #973
@tyranron The problem can be reproduced with just this, the following doesn't compile:
[code]
Gives error:
[code]

[2021-07-26 09:05] lucashyper commented on #973
I'm on `juniper = "0.15.7"`

Looking at the proc_macro code I don't see any mechanism to recognize whether the resolvers are async or not. I suspect the transition from manual `noasync` to automatically recognizing async vs sync was never completed.

[2021-07-26 09:52] tyranron commented on #973
@lucashyper

It's not like that. It's more like `juniper_codegen` _always_ generates code both for sync and async resolving. The actual code is invoked whether `juniper::execute` or `juniper::execute_sync` is called. But it always generates both implementations. And while async implementation requires `Sync` - you have your error, despite the fact you don't use async resolving.

`noasync` attribut

[2021-07-26 11:14] lucashyper commented on #973
@tyranron I see. So reading your first comment again, if I understand correctly you're saying that: If I'm not using async anywhere, and none of my of resolvers are async, and I only want to use `execute_sync`, I should use `send_wrapper` to wrap the `!Sync` Context as a workaround?

Can this (manually disabling codegen for async) be a feature request then? Changing those couple of lines (https://

[2021-07-26 11:40] tyranron commented on #973
@lucashyper

At the moment, yes.

Yes, why not?

For your case maybe yes, but there are also graphql interfaces and other kinds, which should support this too.

Once GATs and async trait will land into stable Rust I hope we will be able to throw away this `Send`/`Sync` requirement, so the attribute too. Until then, don't see any troubles having argument which disables async code generation.

[2021-07-28 05:41] acelot commented on #798
@tyranron Can't wait for the release to check out the fix :)

[2021-07-28 18:26] mrzahrada commented on #456
Can this issue be closed?

[2021-07-29 08:37] tyranron commented on #798
@acelot well, that's a bit unfortuned. The fix is scheduled for the next major 0.16 release, which will land in 2-3 weeks or so, but with nicer reworked macros and `tracing` support.

Sorry for that.

[2021-08-01 17:32] Erik1000 commented on #791
Any updates on that?

[2021-08-11 03:44] kranfix commented on #791
@Erik1000 I also want an update for this.

[2021-08-11 14:45] #421 closed

[2021-08-11 14:48] #697 closed

[2021-08-11 14:48] #827 closed

[2021-08-11 14:48] #875 closed

[2021-08-11 14:49] #880 closed

[2021-08-11 16:32] c410-f3r commented on #421
Nice

[2021-08-12 10:58] visortelle opened #974 "Broken link in README.md"
I got 404 after clicking the link:

<img width="403" alt="Screen Shot 2021-08-12 at 1 57 14 PM" src="https://user-images.githubusercontent.com/9302460/129185771-bb4902bd-6bf4-40a9-a862-b769eda4e0ac.png">

[2021-08-21 19:06] cyberhck commented on #376
Hello maintainers, is this something you guys have in your plans?

[2021-08-23 08:57] tyranron commented on #376
@cyberhck yes, federation is definitely in our plans. Contributions are welcome, though, as the project has quite a low bandwidth at the moment.

[2021-08-23 10:33] cyberhck commented on #376
I actually really loved Rustlang, and wanted to give it a try with juniper, but federation is a must have for me, which is kinda why I'm not using rust at the moment, while async-graphql is supporting it, unfortunately I'm afraid both graphql servers project doesn't have enough bandwidth.

I'd love to contribute unfortunately I literally have only made hello world in rust and I think me trying to

[2021-08-31 12:49] mathroc commented on #894
not the same, but you can do that inside your resolvers : https://graphql-rust.github.io/types/objects/using_contexts.html

and return an `Option<T>` or `FieldResult<T>`

[2021-09-02 16:18] Igosuki commented on #626
More than a year later and still hasn't been fixed

[2021-09-02 16:23] Igosuki commented on #626
As a reference anyone landing here, add a linter allowance in the mod ```#![allow(unused_braces)]```

[2021-09-03 09:38] tyranron commented on #626
@Igosuki this should be already resolved in `master` due to using `#[automatically_derived]` attribute in #971.

[2021-09-03 09:40] #626 closed

[2021-09-04 08:25] Igosuki commented on #626
Cool, I'll wait for it to land as a release

Le ven. 3 sept. 2021 à 11:39, Kai Ren ***@***.***> a écrit :

[2021-09-06 09:21] ajevans99 opened #978 "Actix subscriptions_handler ConnectionConfig trait issue"
I'm having trouble with `ConnectionConfig`. This is my subscriptions handler:

[code]

I'm getting the below compiler error for the config arg for `subscriptions_hander`. I'm new to rust and confused by `FnOnce<(HashMap<std::string::String, InputValue>,)>` and `CtxT`

[code]

This is what my `Context` looks like:

[code]

I've tried a whole bunch of things to fix this but I'm really not sure, woul

[2021-09-06 17:08] ajevans99 commented on #978
Turns out I just needed to dump dependencies

[2021-09-06 17:08] #978 closed

[2021-09-22 17:06] aegooby opened #983 "Partially mutable context"
This library has been great so far, there is just one thing that I am unsure of how to achieve. Currently my `Context` object contains two things: the first one is a global database connection which doesn't need mutability and is already thread safe. However, there is also a per-request context that contains things like cookies, which I want to modify in some resolver functions. It would be a wast

[2021-09-22 21:42] triptec commented on #760
@LegNeato have you seen anything that would take a graphql query like in the example in juniper_eager_loading
[code]
and turn it into
[code]
and I'm mainly talking about doing the join instead of using a caching solution like a dataloader or query created by eager loading ie.
[code]
This is something that I try to find a solution to every time I look into graphql but I can't seem to find it.

[2021-09-22 22:00] triptec commented on #760
Seems I'm looking for something like https://github.com/join-monster/join-monster for rust.

[2021-09-23 01:55] aegooby commented on #983
I figured it out. For anyone else who runs into this issue, I will save you from ripping your hair out and turning into a psycho like I did trying to understand what was going on. For some reason, acquiring the lock and using the global context while the RAII guard was still in scope was the issue,
[code]

Instead just scope the lock access so that the guard is dropped and the lock is freed,
[code

[2021-09-23 01:58] #983 closed

[2021-09-23 13:42] shekhar-shubhendu commented on #978
@ajevans99 I'm getting the same issue. what was the fix for you? Please share 🙏🏾

[2021-10-11 23:00] mathroc opened #986 "axum exemple with websockets"
**Is your feature request related to a problem? Please describe.**

I'm trying to build a small graphql server on top of [Axum](https://github.com/tokio-rs/axum) but can't figure out how to get websockets working with it

**Describe the solution you'd like**

I'd like an example similar to https://github.com/graphql-rust/juniper/tree/master/examples/warp_subscriptions

**Describe alternatives you'

[2021-10-23 01:04] samuela opened #988 "`IntoFieldResult` for `anyhow::Error`"
**Is your feature request related to a problem? Please describe.**
[anyhow](https://github.com/dtolnay/anyhow) is a dominant error handling library for rust. Currently, there is no convenient way to use anyhow `Err`s in juniper code. For example,
[code]
doesn't work.

[IntoFieldResult](https://docs.rs/juniper/0.15.7/juniper/trait.IntoFieldResult.html) offers a way of translating custom error types

[2021-10-31 20:17] ArthurFiorette commented on #646
The only problem with using this work around is that the grpahql response looks like this:

[code]

`-->`

[code]

And that implies that client side code generation also accounts on that `"api'` property prefix.

[code]

With this example of `"api"` it looks fine, but with compound names it can lead to readability and compatibility problems so easily.

I think all this client-side effect is too mu

[2021-11-02 16:43] ronasuti commented on #760
So I've been digging through Prisma's code, and I found [Prisma's core Rust engines](https://github.com/prisma/prisma-engines), which includes:

1. `query-engine` which parses a couple different formats, **including GraphQL**, into SQL code for all supported platforms,
2. `migration-engine-cli` which takes Prisma's model files (which look suspiciously like a cross between SQL and GraphQL schema de

[2021-11-03 00:06] mathroc opened #989 "using a database pool in a subscription resolver"
Hi,

I'm having trouble creating a subscription resolver that pulls data from the database. As an example let's pretend I want to get the time from the database every second. Here is what I tried:

I've got a context containing a sqlx pool:

[code]

and I'm trying to create the resolver like this:

[code]

But this wont compile:

   --> src/server/schema.rs:120:1
    |
120 | #[juniper::graphql_sub

[2021-11-03 08:34] tyranron commented on #646
@ArthurFiorette it's kinda untrivial to change this preserving ergonomics. So, definitely not in the near future, but yes in longer prespective.

[2021-11-04 23:03] mathroc commented on #989
I've created a very small repo reproducing the problem: https://github.com/mathroc/juniper-sqlx-subscriptions

I've also looked at #143 and try a few things but still couldn't find a solution

[2021-11-05 10:22] mathroc commented on #989
and someone (@taufik-rama) found a solution, I needed to clone the pool outside the closure : https://github.com/mathroc/juniper-sqlx-subscriptions/pull/2

[2021-11-05 10:22] #989 closed

[2021-11-05 13:16] vuldin commented on #376
How does the recent license change for Apollo Federation 2 to Elastic License 2 impact future plans to have juniper support federation?

[2021-11-06 04:26] kalebpace opened #991 "Interest in Cloudflare Workers integration?"
Hi all,

Cloudflare has released the [worker-rs](https://github.com/cloudflare/workers-rs) crate recently. Is there any interest in an integration for this platform in the juniper project?

I have a partially working proof of concept and repo here:
https://api.kalebpace.workers.dev/___graphql
https://api.kalebpace.workers.dev/___graphiql
https://github.com/kalebpace/cloudflare-pages-workers-vue3-g

[2021-11-08 15:08] danieleades opened #992 "integration with apollo-rs"
cross-posting from https://github.com/apollographql/apollo-rs/issues/103

i'm wondering if there's any overlap between what these two crates are doing? If there's any scope for these two crates pulling together, rather than fragmenting the ecosystem, that would be a win

[2021-11-11 14:26] sherodtaylor commented on #376
I'm curious of switching from golang gqlgen to rust juniper but this is a must for me as well

[2021-11-12 04:32] cyberhck commented on #376
I'm also using golang gqlgen right now, and I was also exactly where you are right now.

fortunately with federation 2.0 is easier to implement from juniper's perspective. If it did support, I'd have migrated already, unfortunately I don't even know how to start to contribute :smile:

[2021-11-14 02:10] #991 closed

[2021-11-15 15:24] tyranron commented on #376
@vuldin from what is written in the blogpost you've linked, there shouldn't be any troubles with the license, until the juniper maintainers will decide to sell it as a "managed service" 😅, which is unlikely to happen.

We would be able to keep the integration in a separate crate, where being explicit about license complications, so it would be transparent for library users to use federation or not

[2021-11-25 10:32] acavestro opened #997 "A few questions about Subscriptions"
Hello everyone,
I'm sorry to bother about some maybe trivial questions, but I'm quite new to Rust and Juniper and I'm working to a spike project about GraphQL subscription. There is a couple of things I can't understand and I would like to ask.

I'm working with `juniper-actix`, `juniper-subscriptions` and `juniper-graphql-ws` crates.

First question. A subscription resolver should return a `Strea

[2021-11-25 13:09] tyranron commented on #997
@acavestro hi!

The entire resolver method is resolved once, and once `juniper` has the returned `Stream`, it polls it until it completes. If `Stream::Item` contains requested computable fields, they will be resolved each time a new `Stream::Item` is yielded.

In your setup this question has nothing to do with `juniper`, but rather how `actix-web` works with websockets.

The `actix-web` itself run

[2021-11-25 15:42] acavestro commented on #997
Hi @tyranron thanks for your answers. I'm glad you covered also the part related to `actix-web`.

So,

I assume the Stream completes when it returns `Poll:Ready(None)`, not when it returns `Poll::Pending`.

Can I assume an executor will be dedicated to a subscription until its Stream completes?

Thanks again

[2021-11-25 21:49] adzialocha commented on #760
To throw in another interesting project with a similar solution into the mix: https://github.com/graphprotocol/graph-node/tree/master/graphql%2Fsrc

"The Graph" indexes and persists Ethereum data, which is a slightly different use-case, but essentially offers a dynamic GraphQL API on top of this translating requests to SQL.

[2021-11-26 09:31] tyranron commented on #997
@acavestro

Yes. This is better described [in docs](https://docs.rs/futures/0.3.18/futures/stream/trait.Stream.html#required-methods).

Seems to be a terminology inaccuracy. Let's summarize it:
- _Executor_ is a runtime performing async tasks (the event loop). In `actix-web` it's a single-threaded, and once it's dedicated to some thread, neither thread changes its executor, nor executor changes it

[2021-11-26 16:53] #503 closed

[2021-12-04 15:19] alvra opened #999 "Duplicate field definitions are no longer allowed"
In the latest released version (0.15.7), the field definitions for a GraphQL object do not interfere with "regular methods", however, on the master branch this is no longer the case.

This code worked previously:
[code]

...but on the current latest commit `811c90486da28caae98f12691dba2237c292`, it fails:
[code]

[2021-12-05 20:46] insprac commented on #974
I'm looking at the repo for the first time and the book link is broken like kotx said, which is less than ideal since it's the first link in "Getting Started"

![image](https://user-images.githubusercontent.com/33383194/144763269-0a166906-753d-48ef-9565-684186264084.png)

[2021-12-06 10:52] tyranron commented on #999
@alvra that's not a bug, but rather the intended breaking change. New proc macro implementations follows the principle, that the user-written Rust code should represent a valid Rust code and should not magically disappear during proc macro expansion, but remains exactly as user has declared it.

Now, you may declare just
[code]
and reuse it naturally in other Rust code (even not related to GraphQL

[2021-12-06 10:52] #999 closed

[2021-12-08 13:16] ilslv opened #1000 "[GraphQL October 2021] Tracking issue"
## GraphQL October 2021 specification

New version of GraphQL [spec is released](https://spec.graphql.org/October2021/). [Full changelog](https://github.com/graphql/graphql-spec/blob/main/changelogs/October2021.md).

## Checklist

- [x] [RFC](https://github.com/graphql/graphql-spec/pull/776) `__typename` is not valid at subscription root.
  - https://github.com/graphql-rust/juniper/pull/1001
- [x]

[2021-12-10 10:02] acavestro commented on #997
Hello,
sorry for the very late reply.

I just wanted to thank you for your clear explanation and for your patience with my very general question.
Everything was great, thank you again.

[2021-12-10 10:02] #997 closed

[2021-12-15 10:29] ilslv commented on #1000
@tyranron from brief discussion yesterday:

## Steps before implementing interface inheritance:
  - Remove support for `dyn` interfaces and leave only `enum`.
  - Forbid default implementations of trait methods.
  - Instead of `impl Trait on Object`, use fields of the `#[derive(GraphQLObject)]` or `#[graphql_object]` macros

[code]

Unresolved questions:
  - Should we provide impl of the `Characte

[2021-12-15 11:28] tyranron commented on #1000
@ilslv

No. what we do really want here, is for interface being able pick up object fields defined in another manner. Consider this:
[code]

We do not want to bother here with traits and boilerplate for matching the exact Rust signature. These squast are redundant. We do want to match GraphQL signatures and don't bother about obvious boilerplate.

Though we don't restrict user from implementing th

[2021-12-15 11:37] ilslv commented on #1000
@tyranron

I should have specified, that my question was about deriving traits automatically via proc macro machinery

I guess that somewhat similar to the assertion on `Event` enum in `arcana`, that we've implemented, that guarantees every leaf of the enum tree to have equal `type_id`s in case their `name`s are equal.

[2021-12-15 11:52] tyranron commented on #1000
@ilslv

Yup, exactly. But far more complicated.

This still has little sense and will raise additiona; challenges for us. Consider this example:
[code]
From the Rust prespective we cannot just cannot implement `Character` for `Droid` here, because:
- `Character::id()` provides no `Context` to pass into `Droid::id()`;
- Lifetime check will fail on turning `String` to `&str` and returning it.

And w

[2021-12-15 12:18] ilslv commented on #1000
Also on the note of interface inheritance.

Earlier I proposed to reuse a syntax of trait extending other traits

[code]

But after reading a [great article](https://dev.to/mikemarcacci/intermediate-interfaces-generic-utility-types-in-graphql-50e8) on trait inheritance, I found a problem: in case field on the interface return another interface we should be able to declare interface, that imposes e

[2021-12-15 14:35] tyranron commented on #1000
@ilslv agree, as I see, we should declare all the interface fields anyway, despite it `implements` another one with similar fields. So we should be close here to what GraphQL does, not Rust.

Another good reasong for this is being similar on syntax with objects.

The interesting thing here, is that with this design we may use `struct`s to define GraphQL interfaces, because we treat them only as a

[2021-12-16 06:14] ilslv commented on #1000
@tyranron I really do like approach with `struct`s, as it's clearly shows, that it's for declaration use only and shouldn't be implemented. But upon playing around with it I've found 1 problem: asyncness. With traits we can enforce `async`-only behaviour with `async` method, but with `struct`s it looks like we'll have to use attributes:

[code]

[2021-12-16 09:25] ilslv commented on #1000
Encountered one more obstacle with abstracting over structs and methods returning be reference and value

[code]

[2021-12-16 10:59] tyranron commented on #1000
@ilslv

As we do treat them as GraphQL field signatures, we ideally shouldn't bother about asyncness here, because GraphQL doesn't have that notion.

We do have clear "rules" about asyncness:
- sync fields are OK to be called from async context
- async fields cannot be called from sync context

So, following the machinery described two comments above, for each GraphQL object field we should genera

[2021-12-16 11:04] tyranron commented on #1000
@ilslv as we have gone here into new interfaces design deeply, I'd like to propose move this conversation to the appropriate PR, as this becomes offtopic for this issue.

[2021-12-22 00:35] folivi commented on #373
hi @michalbe
can you please share your implementation?

[2021-12-29 20:06] quapka opened #1011 "Missing security policy prevents a responsible disclosure in case a security vulnerability is discovered"
**Is your feature request related to a problem? Please describe.**
There is no [security policy](https://github.com/graphql-rust/juniper/security/policy) set up for this project. Also, searching for `security` in the [documentation](https://docs.rs/juniper/0.15.7/juniper/?search=security) yields **0** results.

**Describe the solution you'd like**
A security policy is set up, e.g. using [GitHub Se

[2021-12-30 19:30] folivi opened #1012 "sharing request data with the resolvers with the FromRequest trait"
Hi all,

can anyone help get my head around the FromRequest trait.

As I understand, we can use it to share data with the resolvers.

I'm trying to inject the http headers so I can authenticate users before some actions in the resolvers.

See my code below.

Looks like the from_request isn't even called.

I'm using rocket 0.5.rc1

Thank you for your help

[code]

[2022-01-12 06:16] scott-wilson commented on #957
First of all, thanks for the help so far. It looks like I'm a step closer to no compile errors.

The entity type looks done now, but I'm getting the following compile error on the Query type when I have the entity's type_info a simple i32 (just for testing).

[code]

How do I get the Query type to use the i32 info type while using the macro? Or would I have to implement the query by hand to get th

[2022-01-12 14:34] awkure opened #1015 "Allow blocking clients in query contexts"
**Is your feature request related to a problem? Please describe.**
Imagine we have a context that stores some clients that send blocking requests.

[code]

And we want to it from mutation queries via actix runtime

[code]

The problem though is that the context cannot outlive `'static` lifetime forced by `spawn_blocking` call. Is there a way to work around it without making an asynchronous wrapper

[2022-01-12 15:16] #1015 closed

[2022-01-12 17:26] tyranron commented on #1015
The problem may be resolved by putting the `RpcClient` into an `Arc` inside `Context`.

[2022-01-14 10:12] tsoutsman opened #1016 "Self parameter not required in resolvers"
**Describe the bug**
The self parameter is not required in resolvers, even if they use self.

This isn't a bug per se, but it leads to some pretty confusing code, so I don't think it should be allowed.

**To Reproduce**
The following compiles:
[code]

**Expected behaviour**
Compilation failure.

**Additional context**
This happens because of how the `graphql_object` macro transforms the resolvers.

[2022-01-14 15:45] #1016 closed, assigned to tyranron

[2022-01-17 06:58] alresarena2021 opened #1018 "Please Add Mutation Example"
I saw the examples for juniper but only for query and I don't see any mutation example

[2022-01-17 09:14] tyranron commented on #1018
@alresarena2021 it's not much difference between declaring query and mutations. The only difference is that a mutation should be declared in a `Mutation` root object.

[2022-01-17 09:15] tyranron commented on #1018
See an example here: https://graphql-rust.github.io/juniper/master/quickstart.html#schema-example

[2022-01-17 09:15] #1018 closed

[2022-01-19 02:58] clemens-msupply opened #1019 "Compile time / cargo check time"
We are currently using async graphql for our project and doing a `cargo check` takes quite a long time (up to ~25s). For my taste this is way to long and makes developing graphql endpoints quite painful. After some profiling it seems that the source of the problem is the amount of code that is generated by async graphql macros...

My question is, would I expect similar `cargo check` times with jun

[2022-01-19 13:15] tyranron commented on #1019
@clemens-msupply

This should be even worse, because we're generating more code by macros, and are going to generate even more.

This is a tradeoff, though. Generating such amount of code allows us to encode quite good and wise static checks, so the wrong schemas won't compile, instead of the code just panicking in runtime. So we sell compile times for better compile-time verified correctness. Thi

[2022-01-19 20:29] clemens-msupply commented on #1019
thanks you for your answer! I hope that `cargo check` becomes faster one day :-) I will experiment a little by splitting Query and Mutations into multiple structs so that the compiler hopefully can cache some previous check results...

[2022-01-19 20:29] #1019 closed

[2022-01-22 00:42] nikis05 commented on #646
I managed to put together a working solution that relies on private undocumented fields and a minuscule runtime overhead, with an attribute macro named `composable_object` and a proc macro named `composite_object`. Works only with unit-like structs that implement `Default`. Example usage:

[code]

If anyone is interested let me know, I'll publish it as a crate.

I think would like to point out tha

[2022-01-22 06:59] itsezc commented on #957
@scott-wilson by any chance are you intending on open sourcing your implementation? I have a similar problem and would love to see how you tackle it.

[2022-01-22 07:06] kunjee17 commented on #646
@tyranron @LegNeato this would be good to have feature. Not as outside create but as part of Juniper. It will follow most Graphql libraries are following. I am in favor of providing this option.

[2022-01-22 08:56] scott-wilson commented on #957
Yeah, I'm slowly working on an interface to a graph DB that can be used in
the VFX industry (stuff like shots, assets, etc). Hopefully it'll be open
sourced once I get more done in it.

On Fri, Jan 21, 2022, 10:59 PM Chiru B ***@***.***> wrote:

[2022-01-24 10:53] tyranron commented on #646
@kunjee17 we're aware of this issue and have plans to resolve it, but in a sligtly different manner. It's not quite critical, so is not in our priority list at the moment. Not in 0.16 release, certainly, but in 0.17, probably, yes.

[2022-01-24 11:47] kunjee17 commented on #646
@tyranron thanks for reply. Looking forward to it.

[2022-01-26 09:30] tyranron commented on #1011
@quapka thanks for bringing this up! Sorry for late reply, this is because all the maintainers have low bandwidth to dedicate to this project.

We'll add the security policy closer to releasing 0.16 version.

[2022-01-26 18:01] quapka commented on #1011
I see, @tyranron. When is the release expected or is there a secure communication channel in the meantime? Adding a security policy should not [actually take much time](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository). :slightly_smiling_face:

[2022-01-26 18:58] #814 closed

[2022-01-26 19:00] tyranron commented on #814
With #1009 being merged we have compile-time checks for that, even with a human-readable error message.

[2022-01-26 19:03] tyranron commented on #1011
@quapka I guess for the moment, you may reach me or @LegNeato privately by the email address, specified in commits.

[2022-01-27 06:06] LegNeato commented on #1011
I am personally a big fan of immediate public disclosure / radical transparency (I used to manage security updates for macOS and Firefox FWIW) but we haven't had a discussion between the maintainers of what we should do for juniper yet.

[2022-01-27 07:27] LegNeato commented on #642
Woah, totally missed this, great work! Is it ready to be integrated?

[2022-01-27 08:35] LegNeato commented on #642
@trevyn , FWIW I was thinking about this due to https://github.com/graphql-rust/juniper/commit/17d474ed21dfd42c8e2c59a27e9d38620b82bdef.

I wonder if there is a way to give a schema and have a bunch of valid and invalid permutations thrown at us. Would be useful for all GraphQL servers to have a corpus of graphql queries with corresponding schema and if they should pass / not pass.

[2022-01-27 11:37] trevyn commented on #642
@LegNeato Thanks! I’m not working with Juniper or GraphQL anymore, but feel free to use anything here!

[2022-01-28 10:46] quapka commented on #1011
@LegNeato that is a resume worth mentioning IMHO.

It is the maintainers/code-owners decision how such issues should be handled. Simply coming as an outsider to a project it is nice to have the disclosure policy **clear & explicit** (say in `README.md` and in `SECURITY.md` ~ security policy, GitHub specific). Otherwise, it seems like it might not have been thought of, and filing an issue with secu

[2022-02-07 10:59] bglw opened #1022 "Add graphql-ws support in light of subscriptions-transport-ws deprecation"
This was mentioned in #896 but declined at that point. Since then, however, the winds of change have blown in favor of `graphql-ws`. The [graphql-ws protocol](https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md) differs from Apollo's original [subscriptions-transport-ws protocol](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md), and Apollo are [soon

[2022-02-08 10:14] tyranron commented on #1022
@bglw thanks. We have plans to support both versions for the next major release.

[2022-02-10 03:00] rimutaka commented on #992
I'm no expert, but it looks like https://github.com/apollographql/apollo-rs offers 2 crates:
* **an encoder** to generate a schema using a Rust API, but it is not the same as generating a schema from your structs and enums
* **a parser** to make the schema and query structure available via Rust API, which is not the same as generating Rust structures and resolvers

I suspect that the needs of this